<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-newspaper-o" aria-hidden="true"></i> Detail Obat
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<table class="table">
						<tbody>
							<tr>
								<td><b>ID Jenis Obat</b></td>
								<td>02534</td>
							</tr>
							<tr>
								<td><b>Nomor Batch</b></td>
								<td>6H273170314</td>
							</tr>
							<tr>
								<td><b>Nama Obat</b></td>
								<td>Amlodipine tab 10mg	</td>
							</tr>
							<tr>
								<td><b>Nama Generik</b></td>
								<td>Amlodipine</td>
							</tr>
							<tr>
								<td><b>Golongan</b></td>
								<td>A</td>
							</tr>
							<tr>
								<td><b>Satuan</b></td>
								<td>Tablet</td>
							</tr>
							<tr>
								<td><b>Jumlah</b></td>
								<td>1.191</td>
							</tr>
							<tr>
								<td><b>Kadaluarsa</b></td>
								<td>30 Juni 2017</td>
							</tr>
							<tr>
								<td><b>Lokasi</b></td>
								<td>Gudang Utama (GUD)</td>
							</tr>
							<tr>
								<td><b>Harga Beli Satuan</b></td>
								<td>Rp. 403,20</td>
							</tr>
							<tr>
								<td><b>Harga Jual Satuan</b></td>
								<td>Rp. 420,00</td>
							</tr>
							<tr>
								<td><b>Waktu Masuk</b></td>
								<td>19 September 2016 15:06 WIB</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>