<div class="row">
	<div class="col-md-12">
		<blockquote class="blockquote">
			<p class="h4 mb-0"><b>Proses Antrian {{layanan}}</b></p>
		</blockquote>
	</div>
</div>
<div class="row">
	<ng2-toasty [position]="'bottom-center'"></ng2-toasty>
	<div class="col-md-12">
		<div class="card mb-3" *ngIf="layanan != 'IGD'">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-gear" aria-hidden="true"></i> Antrian {{layanan}}
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="form-group" *ngIf="isfrontoffice">
	                    <label for="kategori">Pilih Kategori Antrian</label>
	                    <div class="input-group">
		                    <select class="form-control" id="kategori" [(ngModel)]="kategori" name="kategori">
		                      <option *ngFor="let kategori of allKategori" [value]="kategori.kategori_antrian">{{kategori.kategori_antrian}}</option>
		                    </select>
		                    <span class="input-group-btn">
		                        <button class="btn btn-secondary" type="button" (click)="setKategori()">Ganti</button>
		                    </span>
	                    </div>
	                </div>
	                <div class="form-group" *ngIf="kategori || !isfrontoffice">
	                    <label for="total">Panjang Antrian Kategori {{selectedKategori}}</label>
	                    <input type="text" class="form-control" id="total" [value]="total" name="total" disabled>
	                </div>
	                <div class="form-group" *ngIf="!antrianEmpty">
		                <label *ngIf="kategori || !isfrontoffice" for="nomor">Antrian yang Dilayani</label>
		                <div class="form-inline">
			                <div class="input-group mb-0 mr-sm-2 mb-sm-0" *ngIf="kategori">
			                  	<input type="text" class="form-control" id="nomor" value="{{selectedKategori}}{{antrian?.no_antrian}} - {{antrian?.nama_pasien}}" name="nomor" disabled>
			              	</div>
			              	<label class="input-group mb-0 mr-sm-2 mb-sm-0 custom-checkbox" *ngIf="kategori">
			                    <input type="checkbox" class="custom-control-input" [checked]="antrian.via_sms" disabled>
			                    <span class="custom-control-indicator"></span>
			                    <span class="custom-control-description">Via SMS</span>
			                </label>
			              	<div class="input-group mb-0 mr-sm-2 mb-sm-0" *ngIf="!isfrontoffice">
			                  	<input type="text" class="form-control" id="nomor" value="{{selectedKategori}}{{antrian?.no_antrian}} - {{antrian?.transaksi?.pasien.nama_pasien}}" name="nomor" disabled>
			              	</div>
			              	<div class="input-group mb-0 mr-sm-2 mb-sm-0" *ngIf="kategori || !isfrontoffice">
				              	<div>
					              	<button type="button" class="btn btn-warning mr-2" (click)="proses('undur')">Undur</button>
				              	</div>
				              	<div *ngIf="isfrontoffice">
									<button type="button" class="btn btn-success" [routerLink] = "['/pendaftaran', antrian.nama_layanan]" (click)="proses('proses')">Proses</button>
								</div>
								<div *ngIf="!isfrontoffice && isPoli">
									<button type="button" class="btn btn-success" data-toggle="modal" [attr.data-target]="'#assignDokterModal'" (click)="setRujukan(false)">Proses</button>
								</div>
								<div *ngIf="!isfrontoffice && !isPoli">
									<button type="button" class="btn btn-success" [routerLink] = "['/laboratorium', antrian.nama_layanan, antrian.id_transaksi]" (click)="proses('proses')">Proses</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3" *ngIf="isfrontoffice && allAntrianSMS.length > 0">
			<div class="card-header card-info">
				<h4 class="mb-0"><i class="fa fa-gear" aria-hidden="true"></i>Antrian SMS Siap Masuk</h4>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12">
						<table class="table" [mfData]="allAntrianSMS" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
							<thead>
								<th><mfDefaultSorter by="no_antrian">Nomor</mfDefaultSorter></th>
								<th><mfDefaultSorter by="nama">Nama Pasien</mfDefaultSorter></th>
								<th><mfDefaultSorter by="layanan">Layanan Tujuan</mfDefaultSorter></th>
								<th><mfDefaultSorter by="no_sms">Kontak</mfDefaultSorter></th>
								<th><mfDefaultSorter by="waktu_perjanjian">Waktu Perjanjian</mfDefaultSorter></th>
								<th></th>
							</thead>
							<tbody>
								<tr *ngFor="let antrian of mf.data">
									<td>{{selectedKategori}}{{antrian.no_antrian}}</td>
									<td>{{antrian.nama_pasien}}</td>
									<td>{{antrian.nama_layanan}}</td>
									<td>{{antrian.no_sms}}</td>
									<td>{{antrian.waktu_perjanjian}}</td>
									<td>
										<button type="button" class="btn btn-success" [routerLink] = "['/pendaftaran', antrian.nama_layanan]" (click)="proses('proses')">Proses</button>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="5">
										<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3" *ngIf="!isfrontoffice">
			<div class="card-header card-info">
				<h4 class="mb-0" *ngIf="layanan == 'IGD'"><i class="fa fa-gear" aria-hidden="true"></i>Pasien IGD</h4>
				<h4 class="mb-0" *ngIf="layanan != 'IGD' && layanan.indexOf('Lab ') == -1"><i class="fa fa-gear" aria-hidden="true"></i>Pasien Rujukan</h4>
				<h4 class="mb-0" *ngIf="layanan != 'IGD' && layanan.indexOf('Lab ') != -1"><i class="fa fa-gear" aria-hidden="true"></i>Pasien Rawat Inap</h4>
			</div>
			<div class="card-block">
				<div class="form-group">
					<label for="searchTransaksiRujukan">Cari dengan kode pasien</label>
					<div class="input-group">
						<input type="text" class="form-control" id="searchTransaksiRujukan" [(ngModel)]="searchTransaksiRujukanTerm" (keydown)="onEnter($event)">
						<span class="input-group-btn">
							<button type="button" class="btn btn-success" (click)="searchTransaksiRujukan()">
								Cari
							</button>
						</span>
					</div>
				</div>
				<p *ngFor="let alert of alerts">
					<ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
				</p>
				<div *ngIf="transaksiRujukan != null">
					<div class="row">
						<div class="col-md-12">
							<table class="table" [mfData]="transaksiRujukan.allTransaksi" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortByRujukan" [(mfSortOrder)]="sortOrder">
								<thead>
									<th><mfDefaultSorter by="kode_pasien">Kode Pasien</mfDefaultSorter></th>
									<th><mfDefaultSorter by="nama">Nama</mfDefaultSorter></th>
									<th><mfDefaultSorter by="tanggal_lahir">Tanggal Lahir</mfDefaultSorter></th>
									<th><mfDefaultSorter by="alamat">Alamat</mfDefaultSorter></th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let transaksi of mf.data">
										<td>{{transaksi.pasien.kode_pasien}}</td>
										<td class="text-left">{{transaksi.pasien.nama_pasien}}</td>
										<td>{{transaksi.pasien.tanggal_lahir | date: 'dd-MMM-yyyy'}}</td>
										<td class="text-left">{{transaksi.pasien.alamat}}</td>
										<td>
											<button *ngIf="isPoli" class="btn btn-success" data-toggle="modal" [attr.data-target]="'#assignDokterModal'" (click)="setIdTransaksi(transaksi.id)">
												Proses
											</button>
											<button *ngIf="!isPoli" class="btn btn-success" [routerLink]="['/laboratorium', layanan, transaksi.id]">
												Proses
											</button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5">
											<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="assignDokterModal" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">

	        <div class="modal-header bg-info text-white">
	          <h5 class="modal-title">Proses Pasien</h5>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <i class="fa fa-times" aria-hidden="true"></i>
	          </button>
	        </div>

	        <div class="modal-body">
						<blockquote class="blockquote">
							<p class="h5 mb-0"><b>Pengecekan Awal</b></p>
						</blockquote>
						<div class="row">
							<div class="form-group col-6">
								<label for="tekananDarah">Tekanan Darah</label>
								<div class="input-group">
									<input type="text" class="form-control" id="tekananDarah" [(ngModel)]="hasilPemeriksaan.tekanan_darah" name="tekananDarah">
									<div class="input-group-addon">mmHg</div>
								</div>
							</div>

							<div class="form-group col-6">
								<label for="nadi">Nadi</label>
								<div class="input-group">
									<input type="text" class="form-control" id="nadi" [(ngModel)]="hasilPemeriksaan.nadi" name="nadi">
									<div class="input-group-addon">/min</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-6">
								<label for="frekuensiNapas">Frekuensi Napas</label>
								<div class="input-group">
									<input type="text" class="form-control" id="frekuensiNapas" [(ngModel)]="hasilPemeriksaan.frekuensi_napas" name="frekuensiNapas">
									<div class="input-group-addon">/min</div>
								</div>
							</div>

							<div class="form-group col-6">
								<label for="temperatur">Temperatur</label>
								<div class="input-group">
									<input type="text" class="form-control" id="temperatur" [(ngModel)]="hasilPemeriksaan.temperatur" name="temperatur">
									<div class="input-group-addon">C</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-6">
								<label for="beratBedan">Berat Badan</label>
								<div class="input-group">
									<input type="text" class="form-control" id="beratBadan" [(ngModel)]="hasilPemeriksaan.berat_badan" name="berat_badan">
									<div class="input-group-addon">kg</div>
								</div>
							</div>

							<div class="form-group col-6">
								<label for="tinggiBadan">Tinggi Badan</label>
								<div class="input-group">
									<input type="text" class="form-control" id="tinggiBadan" [(ngModel)]="hasilPemeriksaan.tinggi_badan" name="tinggi_badan">
									<div class="input-group-addon">cm</div>
								</div>
							</div>
						</div>

						<blockquote class="blockquote">
							<p class="h5 mb-0"><b>Pilih Dokter *</b></p>
						</blockquote>
	          <select class="form-control mb-3" id="selectDokter" [(ngModel)]="selectedDokter" name="selectDokter">
	            <option *ngFor="let jadwalDokter of allAvailableDokter" [ngValue]="jadwalDokter">
								{{jadwalDokter.np_dokter}} - {{jadwalDokter.nama_dokter}}
							</option>
	          </select>
	        </div>

	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
	          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="periksa(selectedDokter.np_dokter, layanan, idTransaksi)">Proses</button>
	        </div>

	      </div>
	    </div>
	  </div>
	</div>
</div>
