<div class="row">
	<div class="col-md-12">
		<div class="card mb-3" *ngIf="layanan != 'IGD'">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-gear" aria-hidden="true"></i> Antrian {{layanan}}
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="form-group" *ngIf="isfrontoffice">
	                    <label for="kategori">Pilih Kategori Antrian</label>
	                    <div class="input-group">
		                    <select class="form-control" id="kategori" [(ngModel)]="kategori" name="kategori">
		                      <option *ngFor="let kategori of allKategori" [value]="kategori.kategori_antrian">{{kategori.kategori_antrian}}</option>
		                    </select>
		                    <span class="input-group-btn">
		                        <button class="btn btn-secondary" type="button" (click)="setKategori()">Ganti</button>
		                    </span>
	                    </div>
	                </div>
	                <div class="form-group" *ngIf="kategori || !isfrontoffice">
	                    <label for="total">Panjang Antrian Kategori {{selectedKategori}}</label>
	                    <input type="text" class="form-control" id="total" [value]="total" name="total" disabled>
	                </div>
	                <div class="form-group" *ngIf="!antrianEmpty">
		                <label *ngIf="kategori || !isfrontoffice" for="nomor">Antrian yang Dilayani</label>
		                <div class="form-inline">
			                <div class="input-group mb-0 mr-sm-2 mb-sm-0" *ngIf="kategori">
			                  	<input type="text" class="form-control" id="nomor" value="{{selectedKategori}}{{antrian?.no_antrian}} - {{antrian?.nama_pasien}}" name="nomor" disabled>
			              	</div>
			              	<div class="input-group mb-0 mr-sm-2 mb-sm-0" *ngIf="!isfrontoffice">
			                  	<input type="text" class="form-control" id="nomor" value="{{selectedKategori}}{{antrian?.no_antrian}} - {{antrian?.transaksi?.pasien.nama_pasien}}" name="nomor" disabled>
			              	</div>
			              	<div class="input-group mb-0 mr-sm-2 mb-sm-0" *ngIf="kategori || !isfrontoffice">
				              	<div>
					              	<button type="button" class="btn btn-warning mr-2" (click)="proses('undur')">Undur</button>
				              	</div>
				              	<div *ngIf="isfrontoffice">
									<button type="button" class="btn btn-success" [routerLink] = "['/pendaftaran', antrian.nama_layanan]" (click)="proses('proses')">Proses</button>
								</div>
								<div *ngIf="!isfrontoffice && isPoli">
									<button type="button" class="btn btn-success" [routerLink] = "['/poliklinik', antrian.nama_layanan, antrian.id_transaksi]" (click)="proses('proses')">Proses</button>
								</div>
								<div *ngIf="!isfrontoffice && !isPoli">
									<button type="button" class="btn btn-success" [routerLink] = "['/laboratorium', antrian.nama_layanan, antrian.id_transaksi]" (click)="proses('proses')">Proses</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3" *ngIf="!isfrontoffice">
			<div class="card-header card-info">
				<h4 class="mb-0">{{layanan != 'IGD' && 'Pasien Rujukan' || 'Pasien IGD'}}</h4>
			</div>
			<div class="card-block">
				<div class="form-group">
					<label for="searchTransaksiRujukan">Cari dengan kode pasien</label>
					<div class="input-group">
						<input type="text" class="form-control" id="searchTransaksiRujukan" [(ngModel)]="searchTransaksiRujukanTerm" (keydown)="onEnter($event)">
						<span class="input-group-btn">
							<button type="button" class="btn btn-success" (click)="searchTransaksiRujukan()">
								Cari
							</button>
						</span>
					</div>
				</div>
				<p *ngFor="let alert of alerts">
					<ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
				</p>
				<div *ngIf="transaksiRujukan.length > 0">
					<div class="row">
						<div class="col-md-12">
							<table class="table" [mfData]="transaksiRujukan" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
								<thead>
									<th><mfDefaultSorter by="kode_pasien">Kode Pasien</mfDefaultSorter></th>
									<th><mfDefaultSorter by="nama">Nama</mfDefaultSorter></th>
									<th><mfDefaultSorter by="tanggal_lahir">Tanggal Lahir</mfDefaultSorter></th>
									<th><mfDefaultSorter by="alamat">Alamat</mfDefaultSorter></th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let transaksi of mf.data">
										<td>{{transaksi.pasien.kode_pasien}}</td>
										<td class="text-left">{{transaksi.pasien.nama_pasien}}</td>
										<td>{{transaksi.pasien.tanggal_lahir | date: 'dd-MMM-yyyy'}}</td>
										<td class="text-left">{{transaksi.pasien.alamat}}</td>
										<td>
											<button *ngIf="isPoli" class="btn btn-success" [routerLink]="['/poliklinik', layanan, transaksi.id]">
												Proses
											</button>
											<button *ngIf="!isPoli" class="btn btn-success" [routerLink]="['/laboratorium', layanan, transaksi.id]">
												Proses
											</button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5">
											<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--<div *ngIf="kategori || !isfrontoffice">
			<div class="card-header card-info">
			    <ul class="nav nav-tabs card-header-tabs">
		      <li class="nav-item">
		        <a class="nav-link active" [ngClass]="{ 'active': umum, '': !umum }" data-toggle="tab" href="#umum" role="tab" style="color: black;">
		          <i class="fa fa-drivers-license" aria-hidden="true"></i> Antrian Umum
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" [ngClass]="{ 'active': !umum, '': umum }" data-toggle="tab" href="#khusus" role="tab" style="color: black;">
		          <i class="fa fa-drivers-license-o" aria-hidden="true"></i> Antrian Khusus
		        </a>
		      </li>
		    </ul>
			</div>

			<div class="card-block">
				<div class="tab-content">
					<div [ngClass]="{ 'active': umum, '': !umum }" class="tab-pane fade show active" id="umum" role="tabpanel">
						<div class="card-text">
							<table class="table">
								<tbody>
									<tr>
										<th>No Antrian</th>
										<th *ngIf="isfrontoffice">Layanan Tujuan</th>
										<th>Waktu Masuk</th>
										<th></th>
										<th></th>
									</tr>
									<tr *ngFor="let antrian of allAntrian | filterJenisAntrian : &quot;0&quot;">
										<td>{{kategori}}{{antrian.no_antrian}}</td>
										<td *ngIf="isfrontoffice">{{antrian.nama_layanan}}</td>
										<td>{{antrian.waktu_perubahan_antrian}}</td>
										<td>
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-danger': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }" [disabled]= "(active != antrian.no_antrian)" (click)="proses('undur',antrian)">Undur</button>
										</td>
										<td *ngIf="isfrontoffice">
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-primary': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }"[routerLink] = "['/pendaftaran', antrian.nama_layanan]" [disabled]= "(active != antrian.no_antrian)" (click)="proses('proses',antrian)">Proses</button>
										</td>
										<td *ngIf="!isfrontoffice">
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-primary': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }"[routerLink] = "['/poliklinik', antrian.nama_layanan, antrian.id_transaksi]" [disabled]= "(active != antrian.no_antrian)" (click)="proses('proses',antrian)">Proses</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div [ngClass]="{ 'active': !umum, '': umum }" class="tab-pane fade show active" id="khusus" role="tabpanel">
						<div class="card-text">
							<table class="table">
								<tbody>
									<tr>
										<th>No Antrian</th>
										<th *ngIf="isfrontoffice">Layanan Tujuan</th>
										<th>Waktu Masuk</th>
										<th></th>
										<th></th>
									</tr>
									<tr *ngFor="let antrian of allAntrian | filterJenisAntrian : &quot;1&quot;">
										<td>{{kategori}}{{antrian.no_antrian}}</td>
										<td *ngIf="isfrontoffice">{{antrian.nama_layanan}}</td>
										<td>{{antrian.waktu_perubahan_antrian}}</td>
										<td>
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-danger': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }" [disabled]= "(active != antrian.no_antrian)" (click)="proses('undur',antrian)">Undur</button>
										</td>
										<td *ngIf="isfrontoffice">
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-primary': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }"[routerLink] = "['/pendaftaran', antrian.nama_layanan]" [disabled]= "(active != antrian.no_antrian)" (click)="proses('proses',antrian)">Proses</button>
										</td>
										<td *ngIf="!isfrontoffice">
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-primary': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }"[routerLink] = "['/poliklinik', antrian.nama_layanan, antrian.id_transaksi]" [disabled]= "(active != antrian.no_antrian)" (click)="proses('proses',antrian)">Proses</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</div>
