<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-gear" aria-hidden="true"></i> Antrian {{layanan}}
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="form-group" *ngIf="isfrontoffice">
	                    <label for="kategori">Kategori Antrian</label>
	                    <select class="form-control" id="kategori" [(ngModel)]="kategori" (ngModelChange)= "changeKategori()" name="kategori">
	                      <option *ngFor="let kategori of allKategori" [value]="kategori.kategori_antrian">{{kategori.kategori_antrian}}</option>
	                    </select>
	                </div>
	                <div class="form-group" *ngIf="kategori || !isfrontoffice">
	                    <label for="total">Panjang Antrian</label>
	                    <input type="text" class="form-control" id="total" [value]="total" name="total" disabled>
	                </div>
	                <div class="form-group">
		                <label *ngIf="kategori || !isfrontoffice" for="nomor">Nomor Antrian</label>
		                <div class="form-inline">
			                <div class="input-group mb-0 mr-sm-2 mb-sm-0" *ngIf="kategori || !isfrontoffice">
			                  	<input type="text" class="form-control" id="nomor" value="{{kategori}}{{antrian.no_antrian}}" name="nomor" disabled>
			              	</div>
			              	<div class="input-group mb-0 mr-sm-2 mb-sm-0" *ngIf="kategori || !isfrontoffice">
				              	<div>
					              	<button type="button" class="btn btn-sm btn-danger" (click)="proses('undur')">Undur</button>
				              	</div>
				              	<div *ngIf="isfrontoffice">
									<button type="button" class="btn btn-sm btn-warning" [routerLink] = "['/pendaftaran', antrian.nama_layanan]" (click)="proses('proses')">Proses</button>
								</div>
								<div *ngIf="!isfrontoffice && ispoli">
									<button type="button" class="btn btn-sm btn-warning" [routerLink] = "['/poliklinik', antrian.nama_layanan, antrian.id_transaksi]" (click)="proses('proses')">Proses</button>
								</div>
								<div *ngIf="!isfrontoffice && !ispoli">
									<button type="button" class="btn btn-sm btn-warning" [routerLink] = "['/laboratorium', antrian.nama_layanan, antrian.id_transaksi]" (click)="proses('proses')">Proses</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--<div *ngIf="kategori || !isfrontoffice">
			<div class="card-header card-info">
			    <ul class="nav nav-tabs card-header-tabs">
		      <li class="nav-item">
		        <a class="nav-link active" [ngClass]="{ 'active': umum, '': !umum }" data-toggle="tab" href="#umum" role="tab" style="color: black;">
		          <i class="fa fa-drivers-license" aria-hidden="true"></i> Antrian Umum
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" [ngClass]="{ 'active': !umum, '': umum }" data-toggle="tab" href="#khusus" role="tab" style="color: black;">
		          <i class="fa fa-drivers-license-o" aria-hidden="true"></i> Antrian Khusus
		        </a>
		      </li>
		    </ul>
			</div>

			<div class="card-block">
				<div class="tab-content">
					<div [ngClass]="{ 'active': umum, '': !umum }" class="tab-pane fade show active" id="umum" role="tabpanel">
						<div class="card-text">
							<table class="table">
								<tbody>
									<tr>
										<th>No Antrian</th>
										<th *ngIf="isfrontoffice">Layanan Tujuan</th>
										<th>Waktu Masuk</th>
										<th></th>
										<th></th>
									</tr>
									<tr *ngFor="let antrian of allAntrian | filterJenisAntrian : &quot;0&quot;">
										<td>{{kategori}}{{antrian.no_antrian}}</td>
										<td *ngIf="isfrontoffice">{{antrian.nama_layanan}}</td>
										<td>{{antrian.waktu_perubahan_antrian}}</td>
										<td>
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-danger': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }" [disabled]= "(active != antrian.no_antrian)" (click)="proses('undur',antrian)">Undur</button>
										</td>
										<td *ngIf="isfrontoffice">
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-primary': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }"[routerLink] = "['/pendaftaran', antrian.nama_layanan]" [disabled]= "(active != antrian.no_antrian)" (click)="proses('proses',antrian)">Proses</button>
										</td>
										<td *ngIf="!isfrontoffice">
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-primary': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }"[routerLink] = "['/poliklinik', antrian.nama_layanan, antrian.id_transaksi]" [disabled]= "(active != antrian.no_antrian)" (click)="proses('proses',antrian)">Proses</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div [ngClass]="{ 'active': !umum, '': umum }" class="tab-pane fade show active" id="khusus" role="tabpanel">
						<div class="card-text">
							<table class="table">
								<tbody>
									<tr>
										<th>No Antrian</th>
										<th *ngIf="isfrontoffice">Layanan Tujuan</th>
										<th>Waktu Masuk</th>
										<th></th>
										<th></th>
									</tr>
									<tr *ngFor="let antrian of allAntrian | filterJenisAntrian : &quot;1&quot;">
										<td>{{kategori}}{{antrian.no_antrian}}</td>
										<td *ngIf="isfrontoffice">{{antrian.nama_layanan}}</td>
										<td>{{antrian.waktu_perubahan_antrian}}</td>
										<td>
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-danger': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }" [disabled]= "(active != antrian.no_antrian)" (click)="proses('undur',antrian)">Undur</button>
										</td>
										<td *ngIf="isfrontoffice">
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-primary': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }"[routerLink] = "['/pendaftaran', antrian.nama_layanan]" [disabled]= "(active != antrian.no_antrian)" (click)="proses('proses',antrian)">Proses</button>
										</td>
										<td *ngIf="!isfrontoffice">
											<button type="button" class="btn btn-sm" [ngClass] = "{ 'btn-primary': (active == antrian.no_antrian), 'btn-warning': (active != antrian.no_antrian) }"[routerLink] = "['/poliklinik', antrian.nama_layanan, antrian.id_transaksi]" [disabled]= "(active != antrian.no_antrian)" (click)="proses('proses',antrian)">Proses</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</div>
