<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-gear" aria-hidden="true"></i> Pendaftaran Antrian
				</h4>
			</div>
			<ng2-toasty [position]="'bottom-center'"></ng2-toasty>
			<div class="card-block">
				<div class="card-text">
					<form #daftarAntrianForm="ngForm">
					  <div class="form-group">
	                    <label for="nama">Nama</label>
	                    <input class="form-control" type="string" id="nama" [(ngModel)]="nama" name="nama" required>
	                  </div>
					  <div class="form-group">
	                    <label for="layanan">Tipe Layanan</label>
	                    <select class="form-control" id="layanan" [(ngModel)]="tipe" (ngModelChange)="selectTipeLayanan()" name="layanan">
	                      <option *ngFor="let layanan of allTipeLayanan" [value]="layanan">{{layanan}}</option>
	                    </select>
	                  </div>

	                  <div *ngIf="tipe === 'Poliklinik'" class="form-group">
	                    <label for="poliklinik">Poliklinik</label>
	                    <select class="form-control" id="poliklinik" [(ngModel)]="layanan" name="poliklinik" required>
	                      <ng-container *ngFor="let poliklinik of allLayanan">
	                        <option *ngIf="poliklinik.sisa_pelayanan > 0" [ngValue]="poliklinik">{{poliklinik.nama}}</option>
	                      </ng-container>
	                    </select>
	                  </div>

	                  <div *ngIf="tipe === 'Laboratorium'" class="form-group">
	                    <label for="laboratorium">Laboratorium</label>
	                    <select class="form-control" id="laboratorium" [(ngModel)]="layanan" name="laboratorium" required>
	                      <ng-container *ngFor="let laboratorium of allLayanan">
	                        <option [ngValue]="laboratorium">{{laboratorium.nama}}</option>
	                      </ng-container>
	                    </select>
	                  </div>
	                 	<button type="button" class="btn btn-success" (click)="daftar()" [disabled]="!daftarAntrianForm.form.valid">Daftar</button>
	                 </form>
				</div>
			</div>
		</div>
	</div>
</div>