<html>
	<div class="row">
		<div class="col-md-12">

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>Daftar Kamar Rawat Inap</h4>
				</div>

				<div class="card-block">
                    <div class="row">
						<div class="col-md-6 pull-left">
							<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal Pemakaian">
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-md-4 pull-left">
							<div class="col-md-12 input-group">
								<input type="text" class="form-control" [(ngModel)]="searchParam" placeholder="No. Kamar">
							</div>
						</div>
						<div class="col-md-4 pull-right">				
							<div class="col-md-12 input-group">
								<span class="pt-2 pr-2"><b>Jenis :  </b></span>	
								<select class="form-control" [(ngModel)]="jenis" id="statusDropdown">
									<option *ngFor="let jenis of allJenis">
										{{jenis}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 pull-right">
							<div class="col-md-12 input-group">
								<span class="pt-2 pr-2"><b>Kelas :  </b></span>
								<select class="form-control" [(ngModel)]="kelas" id="statusDropdown">
									<option *ngFor="let kelas of allKelas">
										{{kelas}}
									</option>
								</select>
							</div>
						</div>
					</div>

					<table class="table">
						<thead>
							<th>No. Kamar</th>
							<th>Jenis Kamar</th>
							<th>Kelas</th>
							<th></th>
						</thead>
						
						<tbody *ngFor="let rawatinap of allRawatinap | filterKelasKamar: kelas | filterNoKamar: searchParam | filterJenisKamar: jenis">
							<tr>
								<td>{{rawatinap?.no_kamar}}</td>
								<td>{{rawatinap?.jenis_kamar}}</td>
								<td>{{rawatinap?.kelas}}</td>
								<td>
									<button type="button" class="btn btn-primary" routerLink="{{selectedDate}}/{{rawatinap.no_kamar}}">Detail</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</html>