<html>
	<div class="row">
		<div class="col-md-12">

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>Daftar Kamar Jenazah</h4>
				</div>

				<div class="card-block">
                    <div class="row">
						<div class="col-md-6 pull-left">
							<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal Jenazah">
						</div>
						<div class="col-md-6 pull-right">
							<div class="input-group">							
							    <input type="text" class="form-control" [(ngModel)]="param" placeholder="No.Kamar/Nama Pasien/Nama Dokter"/>
							</div>
						</div>
					</div>

					<table class="table">
                        
						<thead>
							<th>No. Kamar</th>
							<th></th>
							<th></th>
							<tr>
						</thead>
						
						<tbody *ngFor="let kamarjenazah of allKamarJenazah | filterWaktuKeluar: selectedDate">
							<tr>
								<td>{{kamarjenazah?.no_kamar}}</td>
								<td>
									<button type="button" class="btn btn-sm btn-info" data-toggle="modal" [attr.data-target]="'#updateKamarJenazahModal'" (click)="editKamarJenazah(kamarjenazah.no_kamar, kamarjenazah)">
										Edit
									</button>
								</td>
								<td>
									<button type="button" class="btn btn-sm btn-danger" (click)="destroyKamarJenazah(kamarjenazah.no_kamar)">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

                    <div class="pull-left">
						<button type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#createKamarJenazahModal'" (click)="newKamarJenazah()">
							Buat Kamar Jenazah Baru
						</button>
					</div>

					
					<div class="modal fade" tabindex="-1" role="dialog" id="createKamarJenazahModal" aria-hidden="true" *ngIf="kamarJenazahModal != null">
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header bg-info text-white">
								<h5 class="modal-title">Buat Kamar Jenazah Baru</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>

							<div class="modal-body">
								<div class="form-group">
									<label for="nama_pasien">No. Kamar</label>
									<input type="text" class="form-control" id="noKamar" required [(ngModel)]="kamarJenazahModal.no_kamar" name="noKamar">
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
									<button type="button" class="btn btn-success" (click)="createKamarJenazah()">Simpan</button>
								</div>
							</div>
						</div>
					</div>
					</div>

					<div class="modal fade" tabindex="-1" role="dialog" id="updateKamarJenazahModal" aria-hidden="true" *ngIf="kamarJenazahModal != null">
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header bg-info text-white">
								<h5 class="modal-title">Editing {{kamarJenazahModal.no_kamar}}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>

							<div class="modal-body">
								<div class="form-group">
									<label for="nama_pasien">No. Kamar</label>
									<input type="text" class="form-control" id="noKamar" required [(ngModel)]="kamarJenazahModal.no_kamar" name="noKamar">
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
									<button type="button" class="btn btn-success" (click)="updateKamarJenazah()">Simpan</button>
								</div>
							</div>
						</div>
					</div>
					</div>

			</div>
		</div>
	</div>
    </div>
</html>