<html>
	<div class="row">

	  <div class="col-md-12">

	  	<div class="card card-outline-info mb-3">
	  		<div class="card-block">
		  		<h3>{{laboratorium?.nama}} - Transaksi #{{transaksi?.id}}</h3>
	  		</div>
	  	</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-id-card-o" aria-hidden="true"></i> Data Pasien
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Nama</b></td>
								<td>{{transaksi?.nama_pasien}}</td>
							</tr>
							<tr>
								<td><b>Jenis kelamin</b></td>
								<td>Laki-laki</td>
							</tr>
							<tr>
								<td><b>Usia</b></td>
								<td>21 tahun</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#pengecekan" role="tab" style="color: black;">
								<i class="fa fa-clipboard" aria-hidden="true"></i> Pengecekan
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tindakan" role="tab" style="color: black;">
								<i class="fa fa-medkit" aria-hidden="true"></i> Tindakan
							</a>
						</li>
					</ul>
				</div>

				<div class="card-block">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="pengecekan" role="tabpanel">

							<form>
								<div class="form-group">

									<div class="row mb-3">
										<div class="col-4">
											<label for="tekananDarah">TD (mmHg)</label>
											<input type="text" class="form-control" id="inputTekananDarah">
										</div>
										<div class="col-4">
											<label for="nadi">Nadi (x/min)</label>
											<input type="text" class="form-control" id="inputNadi">
										</div>
										<div class="col-4">
											<label for="frekuensiNapas">Frekuensi Napas (x/min)</label>
											<input type="text" class="form-control" id="frekuensiNapas">
										</div>
									</div>

									<div class="row">
										<div class="col-4">
											<label for="temperatur">Temperatur (C)</label>
											<input type="text" class="form-control" id="temperatur">
										</div>
										<div class="col-4">
											<label for="beratBedan">Berat Badan (kg)</label>
											<input type="text" class="form-control" id="beratBadan">
										</div>
										<div class="col-4">
											<label for="tinggiBadan">Tinggi Badan (cm)</label>
											<input type="text" class="form-control" id="tinggiBadan">
										</div>										
									</div>

								</div>
							</form>

						</div>

						<div class="tab-pane fade" id="tindakan" role="tabpanel">

							<div class="form-group">
								<label for="inputTindakan">Masukkan tindakan yang dilakukan (ICD-9-CM)</label>
								<br/>
								<input id="inputTindakan" autocomplete [items]="allTindakanReference" [config]="tindakanAutocompleteConfig" (selectEvent)="addSelectedTindakan($event)">
							</div>

							<table class="table" *ngIf="selectedTindakan.length > 0">
								<thead>
									<th>#</th>
									<th>Kode</th>
									<th>Nama</th>
									<th>Harga</th>
									<th>Keterangan</th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let tindakan of selectedTindakan; index as i">
										<td style="vertical-align: middle;">{{i + 1}}</td>
										<td style="vertical-align: middle;">{{tindakan.kode}}</td>
										<td style="vertical-align: middle;">{{tindakan.nama}}</td>
										<td style="vertical-align: middle;">
											<input type="text" class="form-control" [(ngModel)]="tindakan.harga" required>
										</td>
										<td style="vertical-align: middle;">
											<input type="text" class="form-control" placeholder="Keterangan Tindakan" [(ngModel)]="keteranganTindakan[i]">
										</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-outline-danger" (click)="removeSelectedTindakan(i)">
												<i class="fa fa-window-close"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>

					</div>
				</div>
			</div>

			<div class="pull-right">
				<button type="button" class="btn btn-warning" (click)="goBack()">Kembali</button>
				<button type="button" class="btn btn-success" (click)="save()">Simpan</button>
			</div>

		</div>

	</div>
</html>