<html>
	<div class="row">

	  <div class="col-md-12">

	  	<div class="card card-outline-info mb-3">
	  		<div class="card-block">
		  		<h3>{{laboratorium?.nama}} - Transaksi #{{transaksi?.transaksi.id}}</h3>
	  		</div>
	  	</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-id-card-o" aria-hidden="true"></i> Data Pasien
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Nama</b></td>
								<td>{{transaksi?.transaksi.pasien.nama_pasien}}</td>
							</tr>
							<tr>
								<td><b>Jenis kelamin</b></td>
								<td>{{transaksi?.transaksi.pasien.jender == 1 && 'Laki-laki' || 'Perempuan'}}</td>
							</tr>
							<tr>
								<td><b>Tanggal Lahir</b></td>
								<td>{{transaksi?.transaksi.pasien.tanggal_lahir}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tindakan" role="tab" style="color: black;">
								<i class="fa fa-medkit" aria-hidden="true"></i> Tindakan
							</a>
						</li>
					</ul>
				</div>

				<div class="card-block">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tindakan" role="tabpanel">

							<div class="form-group">
								<label for="inputTindakan">Masukkan tindakan yang dilakukan (ICD-9-CM)</label>
								<input id="inputTindakan" class="form-control" [ngbTypeahead]="searchTindakan" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" (selectItem)="addSelectedTindakan($event.item)">
							</div>

							<table class="table" *ngIf="selectedTindakan.length > 0">
								<thead>
									<th>#</th>
									<th>Kode</th>
									<th>Nama</th>
									<th>Keterangan</th>
									<th>Tenaga Medis</th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let tindakan of selectedTindakan; index as i">
										<td style="vertical-align: middle;">{{i + 1}}</td>
										<td style="vertical-align: middle;">{{tindakan.kode_tindakan}}</td>
										<td style="vertical-align: middle;">{{selectedTindakanReference[i].nama}}</td>
										<td style="vertical-align: middle;">
											<textarea class="form-control" rows="2" [(ngModel)]="tindakan.keterangan"></textarea>
										</td>
										<td style="vertical-align: middle;">
											<input class="form-control" [ngbTypeahead]="searchTenagaMedis"
											[inputFormatter]="tenagaMedisFormatter" [resultFormatter]="tenagaMedisFormatter"
											(selectItem)="selectTenagaMedis(tindakan, $event.item)">
										</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-outline-danger" (click)="removeSelectedTindakan(i)">
												<i class="fa fa-window-close"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>

					</div>
				</div>
			</div>

			<div class="pull-right">
				<button type="button" class="btn btn-warning" (click)="goBack()">Kembali</button>
				<button type="button" class="btn btn-success" data-toggle="modal" [attr.data-target]="'#rujukanModal'">Selesai</button>
			</div>

		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="rujukanModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bg-info text-white">
						<h5 class="modal-title mb-0">
							Rujukan
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
					<div class="modal-body">
						<label for="selectRujuk">Apakah pasien perlu rujukan ke layanan lain?</label>
						<select class="form-control mb-3" id="selectRujuk" [(ngModel)]="rujuk" name="selectRujuk">
							<option [ngValue]="false">Tidak</option>
							<option [ngValue]="true">Ya</option>
						</select>

						<div class="form-group" *ngIf="rujuk">
							<label for="tipeLayanan">Tipe Layanan</label>
							<select class="form-control" id="tipeLayanan" [(ngModel)]="tipeLayanan" (ngModelChange)="selectTipeLayanan()" name="tipeLayanan">
								<option *ngFor="let layanan of allTipeLayanan" [value]="layanan">{{layanan}}</option>
							</select>
						</div>

						<div *ngIf="tipeLayanan === 'Poliklinik' && rujuk" class="form-group">
							<label for="selectPoliklinik">Poliklinik</label>
							<select class="form-control" id="selectPoliklinik" [(ngModel)]="namaPoliRujuk" name="poliklinikRujuk">
								<ng-container *ngFor="let poliklinik of layanan">
									<option *ngIf="poliklinik.sisa_pelayanan > 0" [value]="poliklinik.nama">{{poliklinik.nama}} ({{dokter}})</option>
								</ng-container>
							</select>
						</div>

						<div *ngIf="tipeLayanan === 'Laboratorium' && rujuk" class="form-group">
							<label for="selectLaboratorium">Laboratorium</label>
							<select class="form-control" id="selectLaboratorium" [(ngModel)]="namaLabRujuk" name="laboratoriumRujuk">
								<ng-container *ngFor="let laboratorium of layanan">
									<option [value]="laboratorium.nama">{{laboratorium.nama}}</option>
								</ng-container>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal" (click)="save()">Selesai</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</html>
