<html>
	<div class="row">
		<div class="col-md-12">

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>Daftar Laboratorium</h4>
				</div>

				<div class="card-block">
					<table class="table" [mfData]="allLaboratorium" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<thead>
							<th><mfDefaultSorter by="nama">Nama</mfDefaultSorter></th>
							<th><mfDefaultSorter by="kategori_antrian">Kategori Antrian</mfDefaultSorter></th>
							<th>Jumlah Antrian</th>
							<th></th>
						</thead>
						<tbody *ngFor="let laboratorium of mf.data">
							<tr>
								<td>{{laboratorium?.nama}}</td>
								<td>{{laboratorium?.kategori_antrian}}</td>
								<td>0</td>
								<td>
									<button class="btn btn-info" [routerLink]="['/antrian', laboratorium.nama]">Lihat Antrian</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
	            <tr>
	              <td colspan="7">
	                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
	              </td>
	            </tr>
	          </tfoot>						
					</table>
				</div>

			</div>
		</div>
	</div>
</html>