<html>
  <div class="row">
    <div class="col-md-12">
      <blockquote class="blockquote">
        <p class="h4 mb-0"><b>Proses Tindakan Laboratorium</b></p>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="card mb-3">
        <div class="card-header card-info">
          <h5 class="mb-0"><b>Cari Tindakan Laboratorium</b></h5>
        </div>
        <div class="card-block">
          <label for="selectLaboratorium">Pilih laboratorium</label>
          <select class="form-control mb-3" id="selectLaboratorium" [(ngModel)]="selectedLaboratorium" name="selectLaboratorium">
            <option *ngFor="let laboratorium of allLaboratorium" [ngValue]="laboratorium">{{laboratorium.nama}}</option>
          </select>

          <button type="button" class="btn btn-success" (click)="search()">
            Cari
          </button>
        </div>
      </div>

      <div class="card mb-3" *ngIf="allTindakan.length > 0">
        <div class="card-header card-info">
          <h5 class="mb-0"><b>Tindakan {{selectedLaboratorium.nama}} yang perlu diproses</b></h5>
        </div>
        <div class="card-block">
          <table class="table">
            <thead>
              <th>Nama Pasien</th>
              <th>Nama Tindakan</th>
              <th>No Transaksi</th>
              <th>Tanggal</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let tindakan of allTindakan; index as i">
                <td>{{tindakan.pasien.nama_pasien}}</td>
                <td>{{tindakan.daftar_tindakan.nama}}</td>
                <td>{{tindakan.transaksi.no_transaksi}}</td>
                <td>{{tindakan.tanggal_waktu | date: 'dd-MMM-yyyy'}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-success" (click)="lakukanTindakan(tindakan)">
                    Lakukan Tindakan
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</html>
