<html>
	<div class="row">
	  <div class="col-md-12">

	  	<div class="card card-outline-info mb-3">
	  		<div class="card-block">
		  		<h3>{{laboratorium?.nama}} - Transaksi #{{transaksi?.transaksi.id}}</h3>
	  		</div>
	  	</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-id-card-o" aria-hidden="true"></i> Data Pasien
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Nama</b></td>
								<td>{{transaksi?.transaksi.pasien.nama_pasien}}</td>
							</tr>
							<tr>
								<td><b>Jenis kelamin</b></td>
								<td>{{transaksi?.transaksi.pasien.jender == 1 && 'Laki-laki' || 'Perempuan'}}</td>
							</tr>
							<tr>
								<td><b>Golongan Darah</b></td>
								<td>{{transaksi?.transaksi.pasien.gol_darah}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tindakan" role="tab" style="color: black;">
								<i class="fa fa-medkit" aria-hidden="true"></i> Tindakan
							</a>
						</li>
					</ul>
				</div>

				<div class="card-block">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tindakan" role="tabpanel">

							<div class="form-group">
								<label for="inputTindakan">Masukkan tindakan yang dilakukan (ICD-9-CM)</label>
								<input id="inputTindakan" class="form-control" [ngbTypeahead]="searchTindakan" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" (selectItem)="addSelectedTindakan($event.item)">
							</div>

							<table class="table" *ngIf="selectedTindakan.length > 0">
								<thead>
									<th>#</th>
									<th>Kode</th>
									<th>Nama</th>
									<th>Keterangan</th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let tindakan of selectedTindakan; index as i">
										<td style="vertical-align: middle;">{{i + 1}}</td>
										<td style="vertical-align: middle;">{{tindakan.kode_tindakan}}</td>
										<td style="vertical-align: middle;">{{selectedTindakanReference[i].nama}}</td>
										<td style="vertical-align: middle;">
											<textarea class="form-control" rows="2" [(ngModel)]="tindakan.keterangan"></textarea>
										</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-outline-danger" (click)="removeSelectedTindakan(i)">
												<i class="fa fa-window-close"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>

					</div>
				</div>
			</div>

			<div class="pull-right">
				<button type="button" class="btn btn-warning" (click)="goBack()">Kembali</button>
				<button type="button" class="btn btn-success" (click)="save()">Selesai</button>
			</div>

		</div>
	</div>
</html>
