<html>
	<div class="row">

	  <div class="col-md-12">

	  	<div class="card card-outline-info mb-3">
	  		<div class="card-block">
		  		<h3 class="mb-0">{{pemakaianKamar.no_kamar}}</h3>
	  		</div>
	  	</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-id-card-o" aria-hidden="true"></i> Data Pasien
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Nama</b></td>
								<td>{{transaksi?.transaksi.pasien.nama_pasien}}</td>
							</tr>
							<tr>
								<td><b>Jenis kelamin</b></td>
								<td>{{transaksi?.transaksi.pasien.jender == 1 && 'Laki-laki' || 'Perempuan'}}</td>
							</tr>
							<tr>
								<td><b>Golongan Darah</b></td>
								<td>{{transaksi?.transaksi.pasien.gol_darah}}</td>
							</tr>
							<tr *ngIf="!firstRekamMedis">
								<td colspan="2">
									<button type="button" class="btn btn-outline-primary" [routerLink]="['/rekam_medis', 'rawatinap', transaksi?.transaksi.id, transaksi?.transaksi.pasien.id]">Lihat Rekam Medis</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tindakan" role="tab" style="color: black;">
								<i class="fa fa-medkit" aria-hidden="true"></i> Tindakan
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#dokter" role="tab" style="color: black;">
								<i class="fa fa-bookmark" aria-hidden="true"></i> Pengaturan Dokter
							</a>
						</li>
					</ul>
				</div>
				
				<div class="card-block">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tindakan" role="tabpanel">

							<div class="form-group">
								<label for="inputTindakan">Masukkan tindakan yang dilakukan (ICD-9-CM)</label>
								<input id="inputTindakan" class="form-control" [ngbTypeahead]="searchTindakan" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" (selectItem)="addSelectedTindakan($event.item)">
							</div>

							<table class="table" *ngIf="selectedTindakan.length > 0">
								<thead>
									<th>#</th>
									<th>Kode</th>
									<th>Nama</th>
									<th>Keterangan</th>
									<th></th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let tindakan of selectedTindakan; index as i">
										<td style="vertical-align: middle;">{{i + 1}}</td>
										<td style="vertical-align: middle;">{{tindakan.kode_tindakan}}</td>
										<td style="vertical-align: middle; text-align: left;">{{selectedTindakanReference[i].nama}}</td>
										<td style="vertical-align: middle;">
											<textarea class="form-control" rows="2" [(ngModel)]="tindakan.keterangan"></textarea>
										</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-info" data-toggle="modal"
											[attr.data-target]="'#obatTindakanModal-' + i">
												Pemakaian Obat
											</button>
										</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-danger" (click)="removeSelectedTindakan(i)">
												Hapus
											</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>

						<div class="tab-pane fade" id="dokter" role="tabpanel">
							<form>
								<div class="form-group pb-4">
									<label for="inputDokter">Tambah Jasa Dokter</label>
									<input type="text" class="form-control" id="no_pegawai" required [ngbTypeahead]="searchNamaDokter" [inputFormatter]="inputDokterFormatter" [resultFormatter]="resultDokterFormatter" (selectItem)="addDokter($event.item)" name="no_pegawai">
								</div>

								<table *ngIf="tindakanOperasi.length > 0" class="table">
									<thead>
										<th>No. Pegawai</th>
										<th>Nama Dokter</th>
										<th>Spesialis</th>
										<th></th>
										<tr>
									</thead>
									
									
									<tbody *ngFor="let jasadokter of tindakanOperasi">
										<tr>
											<td>{{jasadokter.no_pegawai}}</td>
											<td>{{jasadokter.nama}}</td>
											<td>{{jasadokter.spesialis}}</td>
											<td>
												<button type="button" class="btn btn-sm btn-danger" (click)="deleteTindakanOperasi(jasadokter.id)">
													Hapus
												</button>
											</td>
										</tr>
									</tbody>
								</table>

								
							</form>
						</div>




					</div>
				</div>

			</div>

							
			<div class="pull-right">
				<button type="button" class="btn btn-warning" (click)="goBack()">Kembali</button>
				<button type="button" class="btn btn-success" (click)="save()">Selesai</button>
			</div>
		</div>




		<!-- <div class="modal fade" tabindex="-1" role="dialog" id="rujukanModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bg-info text-white">
						<h5 class="modal-title mb-0">
							Rujukan
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
					<div class="modal-body">
						<label for="selectRujuk">Apakah pasien perlu rujukan ke layanan lain?</label>
						<select class="form-control mb-3" id="selectRujuk" [(ngModel)]="rujuk" name="selectRujuk">
							<option [ngValue]="false">Tidak</option>
							<option [ngValue]="true">Ya</option>
						</select>

						<div *ngIf="rujuk" class="form-group">
							<label for="selectPoliklinik">Pilih Poliklinik</label>
							<select class="form-control" id="selectPoliklinik" [(ngModel)]="namaPoliRujuk" name="poliklinikRujuk">
								<ng-container *ngFor="let p of allPoliklinik">
									<option *ngIf="p.sisa_pelayanan > 0 && p.nama != poliklinik.nama " [value]="p.nama">{{p.nama}}</option>
								</ng-container>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal" (click)="save()">Selesai</button>
					</div>
				</div>
			</div>
		</div> -->

		<div *ngFor="let tindakan of selectedTindakan; index as i" class="modal fade" tabindex="-1" role="dialog" id="obatTindakanModal-{{i}}" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header bg-info text-white">
						<h5 class="modal-title mb-0">
							Pemakaian Obat untuk Tindakan {{tindakan.kode_tindakan}}
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>

					<div class="modal-body">
						<div *ngFor="let obatTindakan of tindakan.obat_tindakan; index as j">
							<div class="input-group mb-2">
								<div class="input-group-addon">Obat {{j + 1}}</div>
								<input type="text" class="form-control" placeholder="{{obatTindakan.stokObat.jenis_obat.merek_obat}}"
								[ngbTypeahead]="searchStokObat" (selectItem)="addSelectedStokObat(obatTindakan, $event.item)"
								[inputFormatter]="inputObatFormatter" [resultFormatter]="resultObatFormatter">
							</div>
							<div *ngIf="obatTindakan.stokObat != null" class="row mb-2">
								<div class="col-sm-6 input-group">
									<div class="input-group-addon">Jumlah</div>
									<input type="number" class="form-control" [(ngModel)]="obatTindakan.jumlah">
									<div class="input-group-addon">{{obatTindakan.stokObat.jenis_obat.satuan}}</div>
								</div>
							</div>
							<button type="button" class="btn btn-sm btn-danger mb-3" (click)="removeObatTindakanForm(j, tindakan)">
								Hapus
							</button>
						</div>
						<div>
							<button type="button" class="btn btn-sm btn-info" (click)="addObatTindakanForm(tindakan)">
								Tambah Pemakaian Obat
							</button>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">Simpan</button>
					</div>

				</div>
			</div>
		</div>

    </div>
</html>
