<html>
	<div class="row">
		<ng2-toasty [position]="'top-center'"></ng2-toasty>
		<div class="col-md-12">
			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>Daftar Pemakaian Kamar Operasi Sekarang</h4>
				</div>

				<div class="card-block">
                    <div class="row">
						<div class="col-md-6 pull-left">
							<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal Operasi">
						</div>
						<div class="col-md-6 pull-right">
							<div class="input-group">
							    <input type="text" class="form-control" [(ngModel)]="param" placeholder="No.Kamar/Nama Pasien/Nama Dokter"/>
							</div>
						</div>
					</div>

					<table class="table">

						<thead>
							<th>Nama Kamar</th>
                            <th>Nama Pasien</th>
							<th>Nama Tindakan</th>
							<th>Waktu Masuk</th>
							<th></th>
							<th></th>
							<tr>
						</thead>

						<tbody *ngFor="let kamaroperasi of allPemakaianKamarOperasi | filterWaktuKeluar: selectedDate">
							<tr>
								<td>{{kamaroperasi?.no_kamar}}</td>
                                <td>{{kamaroperasi?.nama_pasien}}</td>
								<td>{{kamaroperasi?.nama_tindakan}}</td>
								<td>{{kamaroperasi?.waktu_masuk_real | date:'d MMM y H:mm'}}</td>
								<td *ngIf="user.role == 'dokter'" >
									<button type="button" class="btn btn-sm btn-info" routerLink="{{kamaroperasi.no_kamar}}/{{kamaroperasi.id}}/{{kamaroperasi.id_transaksi}}">
										Operasi
									</button>
								</td>
								<td *ngIf="user.role == 'frontOffice'">
									<button type="button" class="btn btn-sm btn-info" (click)="selesaiOperasi(kamaroperasi.id, kamaroperasi)">
										Checkout
									</button>
								</td>
								<td *ngIf="user.role == 'frontOffice'">
									<button type="button" class="btn btn-sm btn-danger" (click)="destroyPemakaianKamarOperasi(kamaroperasi.id)">
										Hapus
									</button>
								</td>
							</tr>
						</tbody>
					</table>

                    <div *ngIf="user.role == 'frontOffice'" class="pull-left">
						<button type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#createPemakaianKamarOperasiModal'" (click)="newPemakaianKamarOperasi()">
							Daftar Operasi Sekarang (Khusus dari IGD)
						</button>
					</div>


					<div class="modal fade" tabindex="-1" role="dialog" id="createPemakaianKamarOperasiModal" aria-hidden="true" *ngIf="pemakaianKamarOperasiModal != null">
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header bg-info text-white">
								<h5 class="modal-title">Pendaftaran Operasi</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>

							<div class="modal-body">
								<div class="form-group">
									<label for="id_transaksi">Nama Pasien</label>
									<input type="text" class="form-control" id="nama_pasien" required required [ngbTypeahead]="searchNamaPasien" [inputFormatter]="inputPasienFormatter" [resultFormatter]="resultPasienFormatter" (selectItem)="addPasien($event.item)" [(ngModel)]="pemakaianKamarOperasiModal.nama_pasien" name="nama_pasien">
								</div>

								<div class="form-group">
									<label for="nama_pasien">Nama Kamar</label>
									<select class="form-control" id="no_kamar" [(ngModel)]="pemakaianKamarOperasiModal.no_kamar">
										<option *ngFor="let kamarOperasi of allKamarOperasi" [value]="kamarOperasi.no_kamar">
											{{kamarOperasi.no_kamar}}
										</option>
									</select>
								</div>

								<div class="form-group">
									<label for="nama_pasien">Dokter Operasi PJ</label>
									<select class="form-control" id="dokter" [(ngModel)]="nomorPegawaiDokterPJ">
										<option *ngFor="let tenagaMedis of allDokter" [value]="tenagaMedis.no_pegawai">
											{{tenagaMedis.tenaga_medis.nama}} - {{tenagaMedis.spesialis}}
										</option>
									</select>
								</div>

								<div class="form-group">
									<label for="nama_pasien">Nama Dokter Operasi</label>
									<select class="form-control" id="no_pegawai" [(ngModel)]="no_pegawai"  multiple="multiple" (ngModelChange)="getTenagaMedis()">
										<option *ngFor="let tenagaMedis of allDokter" [selected]="nomorPegawaiDokterPJ == tenagaMedis.no_pegawai" [value]="tenagaMedis.no_pegawai">
											{{tenagaMedis.tenaga_medis.nama}} - {{tenagaMedis.spesialis}}
										</option>
									</select>
								</div>

								<div class="form-group">
									<label for="inputTindakan">Masukkan tindakan yang dilakukan (ICD-9-CM)</label>
									<input [disabled]= "isTindakanAlreadySelected()" id="inputTindakan" class="form-control" [ngbTypeahead]="searchTindakan" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" (selectItem)="addSelectedTindakan($event.item)">
								</div>


							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
								<button type="button" class="btn btn-success" (click)="createPemakaianKamarOperasi()">Simpan</button>
							</div>

						</div>
					</div>
				</div>

				<div class="modal fade" tabindex="-1" role="dialog" id="detailModal" aria-hidden="true" *ngIf="pemakaianKamarOperasiModal != null">
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header bg-info text-white">
								<h5 class="modal-title">Detail Pemakaian Kamar Operasi</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>

							<div class="modal-body">
								<div class="form-group">
									<label for="id_transaksi">Nama Pasien</label>
									<span class="form-control" id="nama_pasien" required name="nama_pasien">
										<b>{{pemakaianKamarOperasiModal.nama_pasien}}</b>
									</span>
								</div>

								<div class="form-group">
									<label for="id_pasien">ID Transaksi</label>
									<span class="form-control" required id="id_transaksi">
										<b>{{pemakaianKamarOperasiModal.id_transaksi}}</b>
									</span>
								</div>

								<div class="form-group">
									<label for="nama_pasien">Nama Kamar</label>
									<span class="form-control" id="no_kamar">
										<b>{{pemakaianKamarOperasiModal.no_kamar}}</b>
									</span>
								</div>

								<div class="form-group">
									<label for="nama_pasien">Tim Dokter Operasi</label>
									<span class="form-control" id="no_kamar">
										<span *ngFor="let tindakanoperasi of tindakanOperasi" >
										<b>{{tindakanoperasi.nama}}</b>
										<span *ngIf="tindakanOperasi.length > 1"><br></span>
										</span>
									</span>
								</div>

								<div class="form-group">
									<label for="inputTindakan">Nama Tindakan (ICD-9-CM)</label>
									<span class="form-control" id="inputTindakan">
										<b>{{pemakaianKamarOperasiModal.nama_tindakan}}</b>
									</span>
								</div>

								<div class="form-group">
									<label for="waktu_masuk">Waktu Masuk</label>
									<span class="form-control" id="waktu_masuk" name="waktu_masuk">
										<b>{{pemakaianKamarOperasiModal.waktu_masuk | date:'d MMM y H:mm'}}</b>
									</span>
								</div>

								<div class="form-group">
									<label for="waktu_keluar">Waktu Keluar</label>
									<span class="form-control" id="waktu_keluar" name="waktu_keluar">
										<b>{{pemakaianKamarOperasiModal.waktu_keluar | date:'d MMM y H:mm'}}</b>
									</span>
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
								<button type="button" class="btn btn-success" (click)="createPemakaianKamarOperasi()">Simpan</button>
							</div>

						</div>
					</div>
				</div>

				</div>
			</div>
		</div>
	</div>
</html>
