<html>
	 <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-newspaper-o" aria-hidden="true"></i> Detail Kamar
				</h4>
			</div>
			<div *ngIf="rawatinap" class="card-block">
				<div class="card-text">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Nama Kamar</b></td>
								<td>{{rawatinap.no_kamar}}</td>	
							</tr>
							<tr>
								<td><b>Jenis Kamar</b></td>								
								<td>{{rawatinap.jenis_kamar}}</td>								
							</tr>
							<tr>
								<td><b>Kelas</b></td>
								<td>{{rawatinap.kelas}}</td>								
							</tr>
							<tr>
								<td><b>Harga per hari</b></td>
								<td>{{rawatinap.harga_per_hari | number: '.2-2'}}</td>								
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="offset-md-8 col-md-4">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div class="col-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa" aria-hidden="true"></i> {{rawatinap.no_kamar}}
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="row">
						<div *ngIf="rawatinap.kelas == 'VIP'" class="col-md-8 mx-4 ml-1 py-5 px-5" style="border: 2px solid black">
							<div class="row">
								<div class="col-md-12 text-center">			
						            <button [disabled]= "!checkStatus(1)" class="btn btn-sq-sm btn-info px-4 py-3" [ngClass]="{'btn-info':checkStatus(1), 'btn-warning':isSelected(1)}" (click)="selectTempatTidur(1)">
						                1
						            </button>      
								</div>
							</div>
						</div>
						



						<div *ngIf="rawatinap.kelas == 1" class="col-md-8 mx-4 ml-1 py-5 px-5" style="border: 2px solid black">
							<div class="row">
								<div class="col-md-12 text-center">			
						            <button [disabled]= "!checkStatus(1)" class="btn btn-sq-sm btn-info px-4 py-3" [ngClass]="{'btn-info':checkStatus(1), 'btn-warning':isSelected(1)}" (click)="selectTempatTidur(1)">
						                1
						            </button>      
								</div>
							</div>

							<div class="row mt-5 text-center">
								<div class="col-md-12">
						            <button [disabled]= "!checkStatus(2)" class="btn btn-sq-sm btn-info px-4 py-3" [ngClass]="{'btn-info':checkStatus(2), 'btn-warning':isSelected(2)}" (click)="selectTempatTidur(2)">
						                2
						            </button>         
								</div>
							</div>
						</div>





						<div *ngIf="rawatinap.kelas == 2" class="col-md-8 mx-4 ml-1 py-5 px-5" style="border: 2px solid black">
							<div class="row">
								<div class="col-md-12">			
						            <button [disabled]= "!checkStatus(1)" class="btn btn-sq-sm float-left px-4 py-3" [ngClass]="{'btn-info':checkStatus(1), 'btn-warning':isSelected(1)}" (click)="selectTempatTidur(1)">
						                1
						            </button>
						            <button [disabled]= "!checkStatus(2)" class="btn btn-sq-sm float-right px-4 py-3" [ngClass]="{'btn-info':checkStatus(2), 'btn-warning':isSelected(2)}" (click)="selectTempatTidur(2)">
						              	2
						            </button>            
								</div>
							</div>

							<div class="row mt-5">
								<div class="col-md-12">
						            <button [disabled]= "!checkStatus(3)" class="btn btn-sq-sm float-left px-4 py-3" [ngClass]="{'btn-info':checkStatus(3), 'btn-warning':isSelected(3)}" (click)="selectTempatTidur(3)">
						                3
						            </button>
						            <button [disabled]= "!checkStatus(4)" class="btn btn-sq-sm float-right px-4 py-3" [ngClass]="{'btn-info':checkStatus(4), 'btn-warning':isSelected(4)}" (click)="selectTempatTidur(4)">
						             	4
						            </button>            
								</div>
							</div>
						</div>





						<div *ngIf="rawatinap.kelas == 3" class="col-md-8 mx-4 ml-1 py-5 px-5" style="border: 2px solid black">
							<div class="row">
								<div class="col-md-12">			
						            <button [disabled]= "!checkStatus(1)" class="btn btn-sq-sm float-left px-4 py-3" [ngClass]="{'btn-info':checkStatus(1), 'btn-warning':isSelected(1)}" (click)="selectTempatTidur(1)">
						                1
						            </button>
						            <button [disabled]= "!checkStatus(2)" class="btn btn-sq-sm float-right px-4 py-3" [ngClass]="{'btn-info':checkStatus(2), 'btn-warning':isSelected(2)}" (click)="selectTempatTidur(2)">
						              	2
						            </button>            
								</div>
							</div>

							<div class="row mt-5">
								<div class="col-md-12">
						            <button [disabled]= "!checkStatus(3)" class="btn btn-sq-sm float-left px-4 py-3" [ngClass]="{'btn-info':checkStatus(3), 'btn-warning':isSelected(3)}" (click)="selectTempatTidur(3)">
						                3
						            </button>
						            <button [disabled]= "!checkStatus(4)" class="btn btn-sq-sm float-right px-4 py-3" [ngClass]="{'btn-info':checkStatus(4), 'btn-warning':isSelected(4)}" (click)="selectTempatTidur(4)">
						             	4
						            </button>            
								</div>
							</div>

							<div class="row mt-5">
								<div class="col-md-12">
						            <button [disabled]= "!checkStatus(5)" class="btn btn-sq-sm float-left px-4 py-3" [ngClass]="{'btn-info':checkStatus(5), 'btn-warning':isSelected(5)}" (click)="selectTempatTidur(5)">
						                5
						            </button>
						            <button [disabled]= "!checkStatus(6)" class="btn btn-sq-sm float-right px-4 py-3" [ngClass]="{'btn-info':checkStatus(6), 'btn-warning':isSelected(6)}" (click)="selectTempatTidur(6)">
						             	6
						            </button>            
								</div>
							</div>
						</div>


						<div class="col-md-3 mx-2">
							<div class="row mt-3">
								<button class="btn btn-sq-sm btn-info float-left p-3 mr-2">
							                
							    </button>
							    <span class="mt-1 pl-3">Tersedia</span>
							</div>
							<div class="row mt-3">
								<button class="btn bg-faded btn-sq-sm float-left p-3 mr-2">
							             
							    </button>
							    <span class="mt-1 pl-3">Tidak Tersedia</span>
							</div>
							<div class="row mt-3">
								<button class="btn btn-sq-sm btn-warning float-left p-3 mr-2">
							             
							    </button>
							    <span class="mt-1 pl-3">Dipilih</span>
							</div>
							<div class="row mt-5 pt-5">
								<button class="btn btn-danger" (click)="goBack()">Kembali</button>
								<button type="button" class="btn btn-sq-sm btn-primary float-left p-3 mr-2 mx-auto" data-toggle="modal"
								[attr.data-target]="'#createPemakaianKamarModal'" (click)="newPemakaianKamar()">
									Confirm
								</button>
							</div>
						         
						</div>
					</div>
				</div>

			<div class="modal fade" tabindex="-1" role="dialog" id="createPemakaianKamarModal" aria-hidden="true" *ngIf="pemakaianKamarModal != null">
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header bg-info text-white">
								<h5 class="modal-title">Pindah Kamar</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>

							<div class="modal-body">

								<div class="form-group">
									<label for="id_transaksi">Nama Pasien</label>
									<div class="input-group">
									<input type="text" class="form-control" id="nama_pasien" disabled required name="nama_pasien" [(ngModel)]="pemakaianKamar.nama_pasien">
									</div>                    
								</div>

								<div class="form-group">
									<label for="id_pasien">ID Transaksi</label>
									<input type="text" class="form-control" id="id_transaksi" disabled required name="id_transaksi" [(ngModel)]="pemakaianKamar.id_transaksi">
								</div>

								<div class="form-group">
									<label for="nama_pasien">Nama Kamar</label>
									<input type="text" class="form-control" id="nama_pasien" disabled name="no_kamar" [(ngModel)]="pemakaianKamar.no_kamar">
								</div>

								<div class="form-group">
									<label for="nama_pasien">No. Tempat Tidur</label>
									<input type="text" class="form-control" id="no_tempat_tidur" disabled name="no_tempat_tidur" [(ngModel)]="pemakaianKamar.no_tempat_tidur">
								</div>

								<div class="form-group">
									<label for="nama_pasien">Harga</label>
									<input type="text" class="form-control" id="harga" disabled name="harga" [(ngModel)]="pemakaianKamar.harga">
								</div>

								<div class="form-group">
									<label for="nama_pasien">Nama Dokter Penanggungjawab</label>
									<select class="form-control" disabled required id="no_pegawai" [(ngModel)]="pemakaianKamar.no_pegawai">
										<option [value]="pemakaianKamar.no_pegawai">
											{{pemakaianKamar.nama}}
										</option>
									</select>
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
								<button type="button" class="btn btn-success" (click)="pindahPemakaianKamar(rawatinap.no_kamar, selectedTempatTidur)">Simpan</button>
							</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	
</html>