<html>
	<div class="row">
		<div class="col-md-12">

			<div class="card mb-3">
				<div class="card-header card-info">
					<h3>Edit {{poliklinik?.nama}}</h3>
				</div>

				<div class="card-block">
					<form #poliklinikForm="ngForm">
						<div class="form-group">
							<label for="nama">Nama</label>
							<input type="text" class="form-control" id="nama" required value="{{poliklinik?.nama}}" name="nama">
						</div>

						<div class="form-group">
							<label for="kategori_antrian">Kategori Antrian</label>
							<input type="text" class="form-control" id="kategori_antrian" required value="{{poliklinik?.kategori_antrian}}" name="nama">
						</div>

						<div class="form-group">
							<label for="kapasitas_pelayanan">Kapasitas Pelayanan</label>
							<input type="text" class="form-control" id="kapasitas_pelayanan" required value="{{poliklinik?.kapasitas_pelayanan}}" name="kapasitas_pelayanan">
						</div>

						<div class="form-group">
							<label for="sisa_pelayanan">Sisa Pelayanan</label>
							<input type="text" class="form-control" id="sisa_pelayanan" required value="{{poliklinik?.sisa_pelayanan}}" name="sisa_pelayanan">
						</div>						

						<div class="form-group">
							<label for="id_lokasi">ID Lokasi</label>
							<input type="text" class="form-control" id="id_lokasi" required value="{{poliklinik?.id_lokasi}}" name="id_lokasi">
						</div>						
					</form>

					<div class="row pull-right">
						<button type="button" class="btn btn-warning" (click)="goBack()">Kembali</button>
						<button type="submit" class="btn btn-success">Simpan</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</html>