<html>
	<div class="row">

	  <div class="col-md-12">

	  	<div class="card card-outline-info mb-3">
	  		<div class="card-block">
		  		<h3>{{poliklinik?.nama}} - Transaksi #{{transaksi?.id}}</h3>
	  		</div>
	  	</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-id-card-o" aria-hidden="true"></i> Data Pasien
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Nama</b></td>
								<td>{{transaksi?.nama_pasien}}</td>
							</tr>
							<tr>
								<td><b>Jenis kelamin</b></td>
								<td>Laki-laki</td>
							</tr>
							<tr>
								<td><b>Usia</b></td>
								<td>21 tahun</td>
							</tr>
							<tr>
								<td colspan="2">
									<button type="button" class="btn btn-outline-primary">Lihat Rekam Medis</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#pengecekan" role="tab" style="color: black;">
								<i class="fa fa-clipboard" aria-hidden="true"></i> Pengecekan
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#diagnosis" role="tab" style="color: black;">
								<i class="fa fa-stethoscope" aria-hidden="true"></i> Diagnosis
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tindakan" role="tab" style="color: black;">
								<i class="fa fa-medkit" aria-hidden="true"></i> Tindakan
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#resep" role="tab" style="color: black;">
								<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Resep
							</a>
						</li>
					</ul>
				</div>

				<div class="card-block">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="pengecekan" role="tabpanel">

							<form>
								<div class="form-group">

									<div class="row mb-3">
										<div class="col-4">
											<label for="tekananDarah">TD (mmHg)</label>
											<input type="text" class="form-control" id="inputTekananDarah">
										</div>
										<div class="col-4">
											<label for="nadi">Nadi (x/min)</label>
											<input type="text" class="form-control" id="inputNadi">
										</div>
										<div class="col-4">
											<label for="frekuensiNapas">Frekuensi Napas (x/min)</label>
											<input type="text" class="form-control" id="frekuensiNapas">
										</div>
									</div>

									<div class="row">
										<div class="col-4">
											<label for="temperatur">Temperatur (C)</label>
											<input type="text" class="form-control" id="temperatur">
										</div>
										<div class="col-4">
											<label for="beratBedan">Berat Badan (kg)</label>
											<input type="text" class="form-control" id="beratBadan">
										</div>
										<div class="col-4">
											<label for="tinggiBadan">Tinggi Badan (cm)</label>
											<input type="text" class="form-control" id="tinggiBadan">
										</div>										
									</div>

								</div>
							</form>

						</div>

						<div class="tab-pane fade" id="diagnosis" role="tabpanel">

							<div class="form-group">
								<label for="inputDiagnosis">Masukkan kode diagnosis pasien (ICD-10)</label>
								<br/>
								<input id="inputDiagnosis" autocomplete [items]="allDiagnosisReference" [config]="diagnosisAutocompleteConfig" (selectEvent)="addSelectedDiagnosis($event)">
							</div>

							<table class="table" *ngIf="selectedDiagnosis.length > 0">
								<thead>
									<th>#</th>
									<th>Kode</th>
									<th>Nama</th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let diagnosis of selectedDiagnosis; index as i">
										<td style="vertical-align: middle;">{{i + 1}}</td>
										<td style="vertical-align: middle;">{{diagnosis.kode}}</td>
										<td style="vertical-align: middle;">{{diagnosis.nama}}</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-outline-danger" (click)="removeSelectedDiagnosis(i)">
												<i class="fa fa-window-close"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>							
	  							
						</div>

						<div class="tab-pane fade" id="tindakan" role="tabpanel">

							<div class="form-group">
								<label for="inputTindakan">Masukkan tindakan yang dilakukan (ICD-9-CM)</label>
								<br/>
								<input id="inputTindakan" autocomplete [items]="allTindakanReference" [config]="tindakanAutocompleteConfig" (selectEvent)="addSelectedTindakan($event)">
							</div>

							<table class="table" *ngIf="selectedTindakan.length > 0">
								<thead>
									<th>#</th>
									<th>Kode</th>
									<th>Nama</th>
									<th>Harga</th>
									<th>Keterangan</th>
									<th></th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let tindakan of selectedTindakan; index as i">
										<td style="vertical-align: middle;">{{i + 1}}</td>
										<td style="vertical-align: middle;">{{tindakan.kode}}</td>
										<td style="vertical-align: middle;">{{tindakan.nama}}</td>
										<td style="vertical-align: middle;">
											<input type="text" class="form-control" [(ngModel)]="tindakan.harga" required>
										</td>
										<td style="vertical-align: middle;">
											<input type="text" class="form-control" placeholder="Keterangan Tindakan" [(ngModel)]="keteranganTindakan[i]">
										</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-info" data-toggle="modal" [attr.data-target]="'#obatTindakanModal' + i">
												Pemakaian Obat
											</button>
										</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-outline-danger" (click)="removeSelectedTindakan(i)">
												<i class="fa fa-window-close"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>

						<div class="tab-pane fade" id="resep" role="tabpanel">

							<div class="form-group" [formGroup]="addForm">
								<div formArrayName="resepEntry">

									<div *ngFor="let obat of addForm.controls.resepEntry.controls; index as i">										
										<div [formGroupName]="i">
											<label for="obatResep">Obat {{i + 1}}</label>
											<input type="text" class="form-control mb-3" formControlName="obatResep">
										</div>
									</div>

								</div>
							</div>

							<div>
								<button type="button" class="btn btn-sm btn-outline-info" (click)="addResepEntry()">
									<i class="fa fa-plus-square"></i>
								</button>
								<button *ngIf="addForm.controls.resepEntry.controls.length > 1" type="button" class="btn btn-sm btn-outline-danger" (click)="removeResepEntry(addForm.controls.resepEntry.controls.length-1)">
									<i class="fa fa-minus-square"></i>
								</button>
							</div>

						</div>

					</div>
				</div>
			</div>

			<div class="pull-right">
				<button type="button" class="btn btn-warning" (click)="goBack()">Kembali</button>
				<button type="button" class="btn btn-success" (click)="save()">Simpan</button>
			</div>

		</div>

		<div *ngFor="let tindakan of selectedTindakan; index as i" class="modal fade" tabindex="-1" role="dialog" id="obatTindakanModal{{i}}" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="obatTindakanModal{{i}}">Pemakaian Obat untuk Tindakan {{i + 1}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>

					<div class="modal-body">
						<label for="">Obat 1</label>
						<input id="inputObatTindakanModal{{i}}" type="text" class="form-control">

						<div>
							<button type="button" class="btn btn-sm btn-outline-info">
								<i class="fa fa-plus-square"></i>
							</button>

							<button type="button" class="btn btn-sm btn-outline-danger">
								<i class="fa fa-minus-square"></i>
							</button>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
						<button type="button" class="btn btn-success">Simpan</button>
					</div>

				</div>
			</div>

		</div>

	</div>
</html>