<html>
	<div class="row">
		<div class="col-md-12">

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>Daftar Poliklinik</h4>
				</div>

				<div class="card-block">
					<table class="table" [mfData]="allPoliklinik" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<thead>
							<th><mfDefaultSorter by="nama">Nama</mfDefaultSorter></th>
							<th><mfDefaultSorter by="kategori_antrian">Kategori Antrian</mfDefaultSorter></th>
							<th><mfDefaultSorter by="sisa_pelayanan">Sisa Pelayanan</mfDefaultSorter></th>
							<th></th>
							<th></th>
						</thead>
						<tbody *ngFor="let poliklinik of mf.data">
							<tr>
								<td>{{poliklinik?.nama}}</td>
								<td>{{poliklinik?.kategori_antrian}}</td>
								<td>{{poliklinik?.sisa_pelayanan}}</td>
								<td>
									<button class="btn btn-info" [routerLink]="['/poliklinik', poliklinik.nama]">Edit</button>									
								</td>
								<td>
									<button class="btn btn-info" [routerLink]="['/antrian', poliklinik.nama]">Lihat Antrian</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
	            <tr>
	              <td colspan="7">
	                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
	              </td>
	            </tr>
	          </tfoot>						
					</table>
				</div>

			</div>
		</div>
	</div>
</html>