<html>
	<div class="row">

	  <div class="col-md-12">

	  	<div class="card card-outline-info mb-3">
	  		<div class="card-block">
		  		<h3 class="mb-0">{{poliklinik?.nama}}</h3>
	  		</div>
	  	</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-id-card-o" aria-hidden="true"></i> Data Pasien
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Nama</b></td>
								<td>{{transaksi?.transaksi.pasien.nama_pasien}}</td>
							</tr>
							<tr>
								<td><b>Jenis kelamin</b></td>
								<td>{{transaksi?.transaksi.pasien.jender == 1 && 'Laki-laki' || 'Perempuan'}}</td>
							</tr>
							<tr>
								<td><b>Tanggal Lahir</b></td>
								<td>{{transaksi?.transaksi.pasien.tanggal_lahir}}</td>
							</tr>
							<tr>
								<td colspan="2">
									<button type="button" class="btn btn-outline-primary" [routerLink]="['/rekam_medis', transaksi?.transaksi.pasien.id]">Lihat Rekam Medis</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-header card-info">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#pengecekan" role="tab" style="color: black;">
								<i class="fa fa-clipboard" aria-hidden="true"></i> Pengecekan
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#anamnesis" role="tab" style="color: black;">
								<i class="fa fa-files-o" aria-hidden="true"></i> Anamnesis
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#diagnosis" role="tab" style="color: black;">
								<i class="fa fa-stethoscope" aria-hidden="true"></i> Diagnosis
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tindakan" role="tab" style="color: black;">
								<i class="fa fa-medkit" aria-hidden="true"></i> Tindakan
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#resep" role="tab" style="color: black;">
								<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Resep
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#lain" role="tab" style="color: black;">
								<i class="fa fa-bookmark" aria-hidden="true"></i> Lainnya
							</a>
						</li>
					</ul>
				</div>

				<div class="card-block">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="pengecekan" role="tabpanel">

							<form>
								<div class="form-group">
									<div class="row mb-3">
										<div class="col-4">
											<label for="tekananDarah">TD (mmHg)</label>
											<input type="text" class="form-control" id="inputTekananDarah" [(ngModel)]="hasilPemeriksaan.tekanan_darah" name="tekanan_darah">
										</div>
										<div class="col-4">
											<label for="nadi">Nadi (x/min)</label>
											<input type="text" class="form-control" id="inputNadi" [(ngModel)]="hasilPemeriksaan.nadi" name="nadi">
										</div>
										<div class="col-4">
											<label for="frekuensiNapas">Frekuensi Napas (x/min)</label>
											<input type="text" class="form-control" id="frekuensiNapas" [(ngModel)]="hasilPemeriksaan.frekuensi_napas" name="frekuensi_napas">
										</div>
									</div>

									<div class="row">
										<div class="col-4">
											<label for="temperatur">Temperatur (C)</label>
											<input type="text" class="form-control" id="temperatur" [(ngModel)]="hasilPemeriksaan.temperatur" name="temperatur">
										</div>
										<div class="col-4">
											<label for="beratBedan">Berat Badan (kg)</label>
											<input type="text" class="form-control" id="beratBadan" [(ngModel)]="hasilPemeriksaan.berat_badan" name="berat_badan">
										</div>
										<div class="col-4">
											<label for="tinggiBadan">Tinggi Badan (cm)</label>
											<input type="text" class="form-control" id="tinggiBadan" [(ngModel)]="hasilPemeriksaan.tinggi_badan" name="tinggi_badan">
										</div>
									</div>
								</div>
							</form>

						</div>

						<div class="tab-pane fade" id="anamnesis" role="tabpanel">

							<form>
								<div class="form-group">
									<label for="keluhan">Keluhan Utama</label>
									<input type="text" class="form-control" id="keluhan" [(ngModel)]="keluhan" name="keluhan">
								</div>
								<div class="form-group">
									<label for="riwayat">Riwayat Penyakit</label>
									<div class="row" *ngFor="let riwayat of allRiwayat; index as i">
										<div class="col-sm-11 text-left">
											<div class="input-group">
												<div class="input-group-addon">{{i + 1}}. </div>
												 <input type="text" class="form-control" id="riwayat" [value]="riwayat" name="riwayat" disabled>
											 </div>
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-sq-sm btn-danger" (click)="removeRiwayat(i)">
												<i class="fa fa-minus" aria-hidden="true"></i>
											</button>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-11 text-left">
											<input type="text" class="form-control" id="riwayat" [(ngModel)]="riwayatBaru" name="riwayat" (keyup.enter) = "addRiwayat()">
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-sq-sm btn-info" (click)="addRiwayat()">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="alergi">Alergi</label>
									<div class="row" *ngFor="let alergi of allAlergi; index as i">
										<div class="col-sm-11 text-left">
											<div class="input-group">
												<div class="input-group-addon">{{i + 1}}. </div>
												 <input type="text" class="form-control" id="alergi" [value]="alergi" name="alergi" disabled>
											 </div>
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-sq-sm btn-danger" (click)="removeAlergi(i)">
												<i class="fa fa-minus" aria-hidden="true"></i>
											</button>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-11 text-left">
											<input type="text" class="form-control" id="alergi" [(ngModel)]="alergiBaru" name="alergi" (keyup.enter) = "addAlergi()">
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-sq-sm btn-info" (click)="addAlergi()">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</form>

						</div>

						<div class="tab-pane fade" id="diagnosis" role="tabpanel">

							<div class="form-group">
								<label for="inputDiagnosis">Masukkan kode diagnosis pasien (ICD-10)</label>
								<input id="inputDiagnosis" class="form-control" [ngbTypeahead]="searchDiagnosis" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" (selectItem)="addSelectedDiagnosis($event.item)">
							</div>

							<table class="table" *ngIf="selectedDiagnosis.length > 0">
								<thead>
									<th>#</th>
									<th>Kode</th>
									<th>Nama</th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let diagnosis of selectedDiagnosisReference; index as i">
										<td style="vertical-align: middle;">{{i + 1}}</td>
										<td style="vertical-align: middle;">{{diagnosis.kode}}</td>
										<td style="vertical-align: middle; text-align: left;">{{diagnosis.nama}}</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-danger" (click)="removeSelectedDiagnosis(i)">
												Hapus
											</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>

						<div class="tab-pane fade" id="tindakan" role="tabpanel">

							<div class="form-group">
								<label for="inputTindakan">Masukkan tindakan yang dilakukan (ICD-9-CM)</label>
								<input id="inputTindakan" class="form-control" [ngbTypeahead]="searchTindakan" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" (selectItem)="addSelectedTindakan($event.item)">
							</div>

							<table class="table" *ngIf="selectedTindakan.length > 0">
								<thead>
									<th>#</th>
									<th>Kode</th>
									<th>Nama</th>
									<th>Keterangan</th>
									<th></th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let tindakan of selectedTindakan; index as i">
										<td style="vertical-align: middle;">{{i + 1}}</td>
										<td style="vertical-align: middle;">{{tindakan.kode_tindakan}}</td>
										<td style="vertical-align: middle; text-align: left;">{{selectedTindakanReference[i].nama}}</td>
										<td style="vertical-align: middle;">
											<textarea class="form-control" rows="2" [(ngModel)]="tindakan.keterangan"></textarea>
										</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-info" data-toggle="modal"
											[attr.data-target]="'#obatTindakanModal-' + i">
												Pemakaian Obat
											</button>
										</td>
										<td style="vertical-align: middle;">
											<button type="button" class="btn btn-sm btn-danger" (click)="removeSelectedTindakan(i)">
												Hapus
											</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>

						<div class="tab-pane fade" id="resep" role="tabpanel">
							<div *ngFor="let resep of allResep; index as i">

								<div class="card mb-3">
									<div class="card-header">
										<div class="row">
											<div class="col-sm-4 text-left">
												Resep {{i + 1}}
											</div>
											<div class="col-sm-8 text-right">
												<button type="button" class="btn btn-sm btn-info" data-toggle="collapse" [attr.data-target]="'#resep-collapse-' + i">
													Edit Resep
												</button>
												<button type="button" class="btn btn-sm btn-danger" (click)="removeResep(i)">
													Hapus Resep
												</button>
											</div>
										</div>
									</div>

									<div class="collapse" id="resep-collapse-{{i}}">
										<div class="card-block">
											<table class="table table-sm borderless">
												<thead *ngIf="resep.resep_item.length > 0">
													<th></th>
													<th></th>
													<th></th>
													<th></th>
												</thead>
												<tbody>
													<tr *ngFor="let resepItem of resep.resep_item; index as j">
														<th scope="row" style="vertical-align: middle; text-align: left;">
															<div *ngIf="resepItem.racikan_item.length == 0">
																--
															</div>
															<div *ngIf="resepItem.racikan_item.length > 0">
																<div *ngFor="let racikanItem of resepItem.racikan_item">
																	{{racikanItem.jenis_obat.merek_obat}}
																</div>
															</div>
														</th>
														<td *ngIf="resepItem.racikan_item.length < 2" colspan="2" style="vertical-align: middle;">
															<input type="text" class="form-control" placeholder="Aturan Pemakaian" [(ngModel)]="resepItem.aturan_pemakaian">
														</td>
														<td *ngIf="resepItem.racikan_item.length > 1" style="vertical-align: middle;">
															<input type="text" class="form-control" placeholder="Aturan Pemakaian" [(ngModel)]="resepItem.aturan_pemakaian">
														</td>
														<td *ngIf="resepItem.racikan_item.length > 1" style="vertical-align: middle;">
															<input  type="text" class="form-control" placeholder="Petunjuk Peracikan" [(ngModel)]="resepItem.petunjuk_peracikan">
														</td>
														<td style="vertical-align: middle; text-align: right;">
															<button type=button class="btn btn-sm btn-info"
															 data-toggle="modal" [attr.data-target]="'#edit-resep-item-modal-' + i" (click)="editResepItem(resepItem)">
																Edit Obat
															</button>
															<button type=button class="btn btn-sm btn-danger" (click)="removeResepItem(j, resep)">
																Hapus Obat
															</button>
														</td>
													</tr>
													<tr class="mt-3">
														<td colspan="4">
															<button type="button" class="btn btn-sm btn-info pull-left"
															 data-toggle="modal" [attr.data-target]="'#create-resep-item-modal-' + i" (click)="createResepItem()">
																Tambah Obat
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>

								<div *ngIf="resepItemModal != null" class="modal fade" tabindex="-1" role="dialog" id="edit-resep-item-modal-{{i}}" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">

											<div class="modal-header bg-info text-white">
												<h5 class="modal-title mb-0">
													Edit Obat Resep
												</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<i class="fa fa-times" aria-hidden="true"></i>
												</button>
											</div>

											<div class="modal-body">
												<div *ngFor="let racikanItem of resepItemModal.racikan_item; index as j">
													<div class="input-group mb-2">
														<div class="input-group-addon">Bahan Racikan {{j + 1}}</div>
														<input type="text" class="form-control" placeholder="{{racikanItem.jenis_obat.merek_obat}}"
														 [ngbTypeahead]="searchJenisObat" (selectItem)="addSelectedJenisObat(racikanItem, $event.item)"
														 [inputFormatter]="inputJenisObatFormatter" [resultFormatter]="resultJenisObatFormatter">
													</div>
													<div *ngIf="racikanItem.jenis_obat != null" class="row mb-2">
														<div class="col-sm-6 input-group">
															<div class="input-group-addon">Jumlah</div>
															<input type="number" class="form-control" [(ngModel)]="racikanItem.jumlah">
															<div class="input-group-addon">{{racikanItem.jenis_obat.satuan}}</div>
														</div>
													</div>
													<button type="button" class="btn btn-sm btn-danger mb-3" (click)="removeRacikanItem(j, resepItemModal)">
														Hapus Bahan Racikan
													</button>
												</div>
												<div>
													<button type="button" class="btn btn-sm btn-info" (click)="addRacikanItem(resepItemModal)">
														Tambah Bahan Racikan
													</button>
												</div>
											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-success" data-dismiss="modal">Simpan</button>
											</div>

										</div>
									</div>
								</div>

								<div *ngIf="resepItemModal != null" class="modal fade" tabindex="-1" role="dialog" id="create-resep-item-modal-{{i}}" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">

											<div class="modal-header bg-info text-white">
												<h5 class="modal-title mb-0">
													Tambah Obat Resep
												</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<i class="fa fa-times" aria-hidden="true"></i>
												</button>
											</div>

											<div class="modal-body">
												<div *ngFor="let racikanItem of resepItemModal.racikan_item; index as j">
													<div class="input-group mb-2">
														<div class="input-group-addon">Bahan Racikan {{j + 1}}</div>
														<input type="text" class="form-control" placeholder="{{racikanItem.jenis_obat.merek_obat}}"
														 [ngbTypeahead]="searchJenisObat" (selectItem)="addSelectedJenisObat(racikanItem, $event.item)"
														 [inputFormatter]="inputJenisObatFormatter" [resultFormatter]="resultJenisObatFormatter">
													</div>
													<div *ngIf="racikanItem.jenis_obat != null" class="row mb-2">
														<div class="col-sm-6 input-group">
															<div class="input-group-addon">Jumlah</div>
															<input type="number" class="form-control" [(ngModel)]="racikanItem.jumlah">
															<div class="input-group-addon">{{racikanItem.jenis_obat.satuan}}</div>
														</div>
													</div>
													<button type="button" class="btn btn-sm btn-danger mb-3" (click)="removeRacikanItem(j, resepItemModal)">
														Hapus Bahan Racikan
													</button>
												</div>
												<div>
													<button type="button" class="btn btn-sm btn-info" (click)="addRacikanItem(resepItemModal)">
														Tambah Bahan Racikan
													</button>
												</div>
											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-success" data-dismiss="modal" (click)="addResepItem(resep)">Simpan</button>
											</div>

										</div>
									</div>
								</div>

							</div>

							<button type="button" class="btn btn-sm btn-info" (click)="addResep()">
								Tambah Resep
							</button>
						</div>

						<div class="tab-pane fade" id="lain" role="tabpanel">
							<form>
								<div class="form-group">
						  			<h3 class="btn btn-info" data-toggle="collapse" data-target="#kunjungan"><i class="fa fa-calendar" aria-hidden="true"></i> Kunjungan Berikutnya</h3>
					  			</div>
					  			<div id="kunjungan" class="collapse">
							  		<div class="form-group">
										<label for="nama">Agenda Kunjungan</label>
										<input type="text" class="form-control" id="nama" [(ngModel)]="rencana.nama" name="nama">
									</div>
									<div class="row">
										<div class="col md-6">
											<label for="tanggal">Tanggal Kunjungan</label>
											<input [dpDayPicker]="config" theme="dp-material" class="form-control" id="tanggal" [(ngModel)]="rencana.tanggal" name="tanggal">
										</div>
										<div class="col-md-6">
											<label for="waktu">Waktu Kunjungan</label>
											<input type="text" class="form-control" id="waktu" [(ngModel)]="rencana.waktu" name="waktu">
										</div>
									</div>
									<div class="form-group">
										<label for="keterangan">Keterangan Tambahan</label>
										<textarea class="form-control" id="keterangan" [(ngModel)]="rencana.keterangan" name="keterangan"></textarea>
									</div>
								</div>

								<div class="form-group">
									<label for="pelayanan">Pelayanan Lainnya</label>
									<div class="row" *ngFor="let pelayanan of pelayananLain; index as i">
										<div class="col-sm-11 text-left">
											<div class="input-group">
												<div class="input-group-addon">{{i + 1}}. </div>
												 <input type="text" class="form-control" id="pelayanan" [value]="pelayanan" name="pelayanan" disabled>
											 </div>
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-sq-sm btn-danger" (click)="removePelayanan(i)">
												<i class="fa fa-minus" aria-hidden="true"></i>
											</button>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-11 text-left">
											<input type="text" class="form-control" id="pelayanan" [(ngModel)]="pelayananBaru" name="pelayanan" (keyup.enter)="addPelayanan()">
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-sq-sm btn-info" (click)="addPelayanan()">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>

			<div class="pull-right">
				<button type="button" class="btn btn-warning" (click)="goBack()">Kembali</button>
				<button type="button" class="btn btn-success" data-toggle="modal" [attr.data-target]="'#rujukanModal'">Selesai</button>
			</div>

		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="rujukanModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bg-info text-white">
						<h5 class="modal-title mb-0">
							Rujukan
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
					<div class="modal-body">
						<label for="selectRujuk">Apakah pasien perlu rujukan ke layanan lain?</label>
						<select class="form-control mb-3" id="selectRujuk" [(ngModel)]="rujuk" name="selectRujuk">
							<option [ngValue]="false">Tidak</option>
							<option [ngValue]="true">Ya</option>
						</select>

						<div *ngIf="rujuk" class="form-group">
							<label for="selectPoliklinik">Pilih Poliklinik</label>
							<select class="form-control" id="selectPoliklinik" [(ngModel)]="namaPoliRujuk" name="poliklinikRujuk">
								<ng-container *ngFor="let p of allPoliklinik">
									<option *ngIf="p.sisa_pelayanan > 0 && p.nama != poliklinik.nama " [value]="p.nama">{{p.nama}}</option>
								</ng-container>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal" (click)="save()">Selesai</button>
					</div>
				</div>
			</div>
		</div>

		<div *ngFor="let tindakan of selectedTindakan; index as i" class="modal fade" tabindex="-1" role="dialog" id="obatTindakanModal-{{i}}" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header bg-info text-white">
						<h5 class="modal-title mb-0">
							Pemakaian Obat untuk Tindakan {{tindakan.kode_tindakan}}
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>

					<div class="modal-body">
						<div *ngFor="let obatTindakan of tindakan.obat_tindakan; index as j">
							<div class="input-group mb-2">
								<div class="input-group-addon">Obat {{j + 1}}</div>
								<input type="text" class="form-control" placeholder="{{obatTindakan.stokObat.jenis_obat.merek_obat}}"
								[ngbTypeahead]="searchStokObat" (selectItem)="addSelectedStokObat(obatTindakan, $event.item)"
								[inputFormatter]="inputObatFormatter" [resultFormatter]="resultObatFormatter">
							</div>
							<div *ngIf="obatTindakan.stokObat != null" class="row mb-2">
								<div class="col-sm-6 input-group">
									<div class="input-group-addon">Jumlah</div>
									<input type="number" class="form-control" [(ngModel)]="obatTindakan.jumlah">
									<div class="input-group-addon">{{obatTindakan.stokObat.jenis_obat.satuan}}</div>
								</div>
							</div>
							<button type="button" class="btn btn-sm btn-danger mb-3" (click)="removeObatTindakanForm(j, tindakan)">
								Hapus
							</button>
						</div>
						<div>
							<button type="button" class="btn btn-sm btn-info" (click)="addObatTindakanForm(tindakan)">
								Tambah Pemakaian Obat
							</button>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">Simpan</button>
					</div>

				</div>
			</div>
		</div>

	</div>
</html>
