<html>
	<div class="row">
		<div class="col-md-12">

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>Daftar Poliklinik</h4>
				</div>

				<div class="card-block">
					<table class="table" [mfData]="allPoliklinik" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<thead>
							<th><mfDefaultSorter by="nama">Nama</mfDefaultSorter></th>
							<th><mfDefaultSorter by="kategori_antrian">Kategori Antrian</mfDefaultSorter></th>
							<th><mfDefaultSorter by="sisa_pelayanan">Sisa Pelayanan</mfDefaultSorter></th>
							<th></th>
							<th></th>
							<th></th>
						</thead>
						<tbody *ngFor="let poliklinik of mf.data">
							<tr>
								<td>{{poliklinik?.nama}}</td>
								<td>{{poliklinik?.kategori_antrian}}</td>
								<td>{{poliklinik?.sisa_pelayanan}}</td>
								<td>
									<button type="button" class="btn btn-sm btn-info" data-toggle="modal" [attr.data-target]="'#editPoliklinikModal'" (click)="editPoliklinik(poliklinik.nama, poliklinik)">
										Edit
									</button>
								</td>
								<td>
									<button type="button" class="btn btn-sm btn-info" [routerLink]="['/antrian', poliklinik.nama]">Lihat Antrian</button>
								</td>
								<td>
									<button type="button" class="btn btn-sm btn-danger" (click)="destroyPoliklinik(poliklinik.nama)">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
	            <tr>
	              <td colspan="7">
	                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
	              </td>
	            </tr>
	          </tfoot>
					</table>

					<button type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#createPoliklinikModal'" (click)="newPoliklinik()">
						Tambah Poliklinik
					</button>
				</div>

				<div class="modal fade" tabindex="-1" role="dialog" id="editPoliklinikModal" aria-hidden="true" *ngIf="poliklinikModal != null">
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title" id="editLaboratoriumModal">Editing {{poliklinikModalNama}}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>

							<div class="modal-body">
								<div class="form-group">
									<label for="nama">Nama</label>
									<input type="text" class="form-control" id="nama" required [(ngModel)]="poliklinikModal.nama" name="nama">
								</div>

								<div class="form-group">
									<label for="kategori_antrian">Kategori Antrian</label>
									<input type="text" class="form-control" id="kategori_antrian" required [(ngModel)]="poliklinikModal.kategori_antrian" name="kategori_antrian">
								</div>

								<div class="form-group">
									<label for="kapasitas_pelayanan">Kapasitas Pelayanan</label>
									<input type="text" class="form-control" id="kapasitas_pelayanan" required [(ngModel)]="poliklinikModal.kapasitas_pelayanan" name="kapasitas_pelayanan">
								</div>

								<div class="form-group">
									<label for="sisa_pelayanan">Sisa Pelayanan</label>
									<input type="text" class="form-control" id="sisa_pelayanan" required [(ngModel)]="poliklinikModal.sisa_pelayanan" name="sisa_pelayanan">
								</div>

								<div class="form-group">
									<label for="id_lokasi">ID Lokasi</label>
									<input type="text" class="form-control" id="id_lokasi" required [(ngModel)]="poliklinikModal.id_lokasi" name="id_lokasi">
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
								<button type="button" class="btn btn-success" (click)="updatePoliklinik()">Simpan</button>
							</div>

						</div>
					</div>
				</div>

				<div class="modal fade" tabindex="-1" role="dialog" id="createPoliklinikModal" aria-hidden="true" *ngIf="poliklinikModal != null">
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header">
								<h5 class="modal-title">Poliklinik Baru</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>

							<div class="modal-body">
								<div class="form-group">
									<label for="nama">Nama</label>
									<input type="text" class="form-control" id="nama" required [(ngModel)]="poliklinikModal.nama" name="nama">
								</div>

								<div class="form-group">
									<label for="kategori_antrian">Kategori Antrian</label>
									<input type="text" class="form-control" id="kategori_antrian" required [(ngModel)]="poliklinikModal.kategori_antrian" name="kategori_antrian">
								</div>

								<div class="form-group">
									<label for="kapasitas_pelayanan">Kapasitas Pelayanan</label>
									<input type="text" class="form-control" id="kapasitas_pelayanan" required [(ngModel)]="poliklinikModal.kapasitas_pelayanan" name="kapasitas_pelayanan">
								</div>

								<div class="form-group">
									<label for="sisa_pelayanan">Sisa Pelayanan</label>
									<input type="text" class="form-control" id="sisa_pelayanan" required [(ngModel)]="poliklinikModal.sisa_pelayanan" name="sisa_pelayanan">
								</div>

								<div class="form-group">
									<label for="id_lokasi">ID Lokasi</label>
									<input type="text" class="form-control" id="id_lokasi" required [(ngModel)]="poliklinikModal.id_lokasi" name="id_lokasi">
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
								<button type="button" class="btn btn-success" (click)="createPoliklinik()">Simpan</button>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</html>
