  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Daftar Obat Pindah
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="row">
						<div class="col-md-6 pull-left">
							<div class="input-group">
				                <label for="asal"><b>Asal:</b></label>
						  		<select class="form-control" [(ngModel)]="asal">	
						  			<option></option>
								    <option>Gudang Utama</option>
								    <option>Apotek</option>
								    <option>Poliklinik Anak</option>
								    <option>Poliklinik Gigi</option>
								    <option>Poliklinik Kandungan</option>
								    <option>Poliklinik THT</option>							
								    <option>Instalasi Gawat Darurat</option>
						  		</select>
							</div>
						</div>

						<div class="col-md-6 pull-right">
							<div class="input-group">
							<label for="tujuan"><b>Tujuan:</b></label>
					  		<select class="form-control" [(ngModel)]="tujuan">		
					  			<option></option>
							    <option>Gudang utama</option>
							    <option>Apotek</option>
							    <option>Poliklinik Anak</option>
							    <option>Poliklinik Gigi</option>
							    <option>Poliklinik Kandungan</option>
							    <option>Poliklinik THT</option>							
							    <option>Instalasi Gawat Darurat</option>
					  		</select>
						  	</div>
						</div>
					</div>

					<div class="row">	
						<div class="col-md-6 pull-left">
							<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal keluar">
						</div>
						<div class="col-md-6 pull-right">						
						    <input class="form-control" [(ngModel)]="param" placeholder="Cari kode/nama obat"/>
						</div>
					</div>

					<table class="table" [mfData]="allObatPindah | filterObatPindah : asal : tujuan : param | filterWaktuKeluar : selectedDate" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tbody>
							<tr>								
								<th><mfDefaultSorter by="waktu_pindah">Waktu Pindah</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.barcode">Kode Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jenis_obat.merek_obat">Merek Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.kadaluarsa">Kadaluarsa</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jumlah">Jumlah</mfDefaultSorter></th>
								<th><mfDefaultSorter by="lokasi_asal.nama">Asal</mfDefaultSorter></th>								
								<th><mfDefaultSorter by="lokasi_tujuan.namaS">Tujuan</mfDefaultSorter></th>
								<th></th>
							</tr>
							<tr *ngFor="let obatPindah of mf.data">								
								<td>{{obatPindah.waktu_pindah | date:'d MMM y H:mm:ss'}}</td>
								<td>{{obatPindah.obat_masuk.barcode}}</td>
								<td>{{obatPindah.jenis_obat.merek_obat}}</td>	
								<td>{{obatPindah.obat_masuk.kadaluarsa | date:'d MMM y'}}</td>	
								<td>{{obatPindah.jumlah}}</td>
								<td>{{obatPindah.lokasi_asal.nama}}</td>
								<td>{{obatPindah.lokasi_tujuan.nama}}</td>						
								<td><button type="button" class="btn btn-primary" [routerLink] = "['/obat-pindah', obatPindah.id]">Detail</button></td>
							</tr>	
						</tbody>	
						<tfoot>
			                <tr>
			                    <td colspan="8">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>
		                </tfoot>					
					</table>

					<div class="pull-left">
						<a routerLink="/obat-pindah-form"><button type="button" class="btn btn-primary">Tambah obat pindah</button></a>
					</div>
				</div>
			</div>	
		</div>
	</div>