  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Daftar Obat Masuk
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="row">
						<div class="col-md-6 pull-left">
							<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal masuk">
						</div>
						<div class="col-md-6 pull-right">
							<div class="input-group">							
							    <input type="text" class="form-control" [(ngModel)]="param" placeholder="Cari kode/merek obat"/>
							</div>
						</div>
					</div>

					<table class="table" [mfData]="allObatMasuk | filterObatMasuk : param | filterWaktuMasuk : selectedDate" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tbody>
							<tr>
								<th><mfDefaultSorter by="waktu_masuk">Waktu Masuk</mfDefaultSorter></th>
								<th><mfDefaultSorter by="barcode">Kode Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jenis_obat.merek_obat">Merek Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="harga_beli_satuan">Harga Beli Satuan</mfDefaultSorter></th>
								<th><mfDefaultSorter by="kadaluarsa">Kadaluarsa</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jumlah">Jumlah</mfDefaultSorter></th>
								<th></th>
							</tr>
							<tr *ngFor="let obatMasuk of mf.data">
								<td>{{obatMasuk.waktu_masuk | date:'d MMM y H:mm:ss'}}</td>
								<td>{{obatMasuk.barcode}}</td>
								<td>{{obatMasuk.jenis_obat.merek_obat}}</td>
								<td>Rp. {{obatMasuk.harga_beli_satuan}}</td>	
								<td>{{obatMasuk.kadaluarsa | date:'d MMM y'}}</td>	
								<td>{{obatMasuk.jumlah}} {{obatMasuk.jenis_obat.satuan}}</td>			
								<td><button type="button" class="btn btn-info" [routerLink] = "['/obat-masuk', obatMasuk.id]">Detail</button></td>
							</tr>						
						</tbody>	
						<tfoot>
			                <tr>
			                    <td colspan="8">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>			
					</table>

					<div class="pull-left">
						<a routerLink="/obat-masuk-form"><button type="button" class="btn btn-info">Tambah obat masuk</button></a>
					</div>
				</div>
			</div>	
		</div>
	</div>