  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-newspaper-o" aria-hidden="true"></i> Detail Obat Masuk
				</h4>
			</div>
			<div *ngIf="obatMasuk" class="card-block">
				<div class="card-text">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Kode Obat</b></td>
								<td>{{obatMasuk.stok_obat.barcode}}</td>	
							</tr>
							<tr>
								<td><b>ID Jenis Obat</b></td>
								<td>{{obatMasuk.id_jenis_obat}}</td>	
							</tr>
							<tr>
								<td><b>Merek Obat</b></td>								
								<td>{{obatMasuk.jenis_obat.merek_obat}}</td>								
							</tr>
							<tr>
								<td><b>Nama Generik</b></td>
								<td>{{obatMasuk.jenis_obat.nama_generik}}</td>								
							</tr>
							<tr>
								<td><b>Pembuat</b></td>
								<td>{{obatMasuk.jenis_obat.pembuat}}</td>								
							</tr>
							<tr>
								<td><b>Golongan</b></td>
								<td>{{obatMasuk.jenis_obat.golongan}}</td>
							</tr>
							<tr>
								<td><b>Harga Jual Satuan</b></td>								
								<td>Rp. {{obatMasuk.jenis_obat.harga_jual_satuan}}</td>
							</tr>
							<tr>
								<td><b>Nomor Batch</b></td>								
								<td>{{obatMasuk.stok_obat.nomor_batch}}</td>
							</tr>
							<tr>
								<td><b>Waktu Masuk</b></td>								
								<td>{{obatMasuk.waktu_masuk | date:'d MMM y H:mm:ss'}}</td>
							</tr>
							<tr>
								<td><b>Kadaluarsa</b></td>								
								<td>{{obatMasuk.stok_obat.kadaluarsa | date:'d MMM y'}}</td>
							</tr>

							<tr>
								<td><b>Harga Beli Satuan</b></td>								
								<td>Rp. {{obatMasuk.harga_beli_satuan}}</td>
							</tr>
							<tr>
								<td><b>Jumlah</b></td>								
								<td>{{obatMasuk.jumlah}} {{obatMasuk.jenis_obat.satuan}}</td>
							</tr>
							<tr>
								<td><b>Keterangan</b></td>								
								<td>{{obatMasuk.keterangan}}</td>
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="offset-md-10 col-md-2">
							<button class="btn btn-danger" (click)="goBack()">Kembali</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>