<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header card-info">
        <h4>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Obat Masuk Baru
        </h4>
      </div>

      <div class="card-block">
        <div class="card-text">
            <form #obatMasukForm="ngForm">
              <div class="form-group">
                <label for="id">ID Jenis Obat *</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="id" required name="id"> 
                  <span class="form-group-btn">
                    <a href="#"><button class="btn btn-success">Cari</button></a>
                  </span>
                </div>                    
              </div>

              <div class="form-group">
                <label for="merek">Merek Obat</label>
                <input type="text" class="form-control" id="merek" disabled name="merek">
              </div>

              <div class="form-group">
                <label for="nama_generik">Nama Generik</label>
                <input type="text" class="form-control" id="nama_generik" disabled  name="nama_generik">
              </div>

              <div class="form-group">
                <label for="pabrikan">Pabrikan</label>
                <input type="text" class="form-control" id="pabrikan" disabled name="pabrikan">
              </div>

              <div class="form-group">
                <label for="golongan">Golongan</label>
                <input type="text" class="form-control" id="golongan" disabled name="golongan">
              </div>

              <div class="form-group">
                <label for="no_batch">Nomor Batch</label>
                <input type="text" class="form-control" id="no_batch" required name="no_batch">
              </div>

              <div class="form-group">
                <label for="jumlah">Jumlah</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="jumlah" required name="jumlah"> 
                  <input type="text" class="form-control" id="satuan" disabled name="satuan">
                </div>    
                 
                <!-- TODO: Resize Col, Make satuan dynamic according to satuan from Obat -->
              </div>

              <div class="form-group">
                <label for="kadaluarsa">Tanggal Kadaluarsa</label>
                <input type="date" class="form-control" id="kadaluarsa" name="kadaluarsa">
              </div>

              <div class="form-group">
                <label for="harga_beli">Harga beli satuan</label>
                <input type="text" class="form-control" id="harga_beli" required name="harga_beli">
              </div>

              <div class="form-group">
                <label for="harga_total">Harga beli total</label>
                <input type="text" class="form-control" id="harga_total" disabled name="harga_total">
              </div>

              <div class="form-group">
                <label for="harga_jual">Harga jual satuan</label>
                <input type="text" class="form-control" id="harga_jual" disabled name="harga_jual">
              </div>

              <button type="submit" class="btn btn-success">Simpan</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>