  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header card-info">
        <h4>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Obat Masuk Baru
        </h4>
      </div>

      <div class="card-block">
        <div class="card-text">
            <form #obatMasukForm="ngForm">

              <div class="form-group">
                <label for="merek">Merek Obat</label>
                <input type="text" class="form-control" id="merek" required [ngbTypeahead]="searchJenisObat" [inputFormatter]="inputFormatter" [resultFormatter]="inputFormatter" (selectItem)="addSelectedJenisObat($event.item)" [(ngModel)] = "jenisObat.merek_obat" name="merek">
              </div>

              <div class="form-group">
                <label for="nama_generik">Nama Generik</label>
                <input type="text" class="form-control" id="nama_generik" disabled [(ngModel)] = "jenisObat.nama_generik" name="nama_generik">
              </div>

              <div class="form-group">
                <label for="pembuat">Pembuat</label>
                <input type="text" class="form-control" id="pembuat" disabled [(ngModel)] = "jenisObat.pembuat" name="pabrikan">
              </div>

              <div class="form-group">
                <label for="golongan">Golongan</label>
                <input type="text" class="form-control" id="golongan" disabled  [(ngModel)] = "jenisObat.golongan" name="golongan">
              </div>

              <div class="form-group">
                <label for="nomor_batch">Nomor Batch</label>
                <input type="text" class="form-control" id="no_batch" required [(ngModel)] = "obatMasuk.nomor_batch" name="nomor_batch">
              </div>

              <div class="form-group">
                <label for="jumlah">Jumlah</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="jumlah" required [(ngModel)] = "obatMasuk.jumlah" name="jumlah"> 
                  <input type="text" class="form-control" id="satuan" disabled  [(ngModel)] = "jenisObat.satuan" name="satuan">
                </div>    
                 
                <!-- TODO: Resize Col -->
              </div>

              <div class="form-group">
                <label for="kadaluarsa">Tanggal Kadaluarsa</label>
                <input type="date" class="form-control" id="kadaluarsa" [(ngModel)] = "obatMasuk.kadaluarsa" name="kadaluarsa">
              </div>

              <div class="form-group">
                <label for="harga_beli_satuan">Harga beli satuan</label>
                <input type="text" class="form-control" id="harga_beli_satuan" required [(ngModel)] = "obatMasuk.harga_beli_satuan" name="harga_beli_satuan">
              </div>

              <div class="form-group">
                <label for="harga_total">Harga beli total</label>
                <input type="text" class="form-control" id="harga_total" disabled [(ngModel)] = "obatMasuk.harga_beli_satuan*obatMasuk.jumlah" name="harga_total">
              </div>

              <div class="form-group">
                <label for="harga_jual">Harga jual satuan</label>
                <input type="text" class="form-control" id="harga_jual" disabled [(ngModel)] = "jenisObat.harga_jual_satuan" name="harga_jual">
              </div>

              <button type="submit" class="btn btn-success" (click)="save()">Simpan</button>
            </form>
        </div>
      </div>
    </div>
  </div>