  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Daftar Obat Tebus
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="row">
						<div class="col-md-6 pull-left">
							<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal tebus">
						</div>						
						<div class="col-md-6 pull-right">
							<input [dpDayPicker]="config" [(ngModel)]="selectedDate2" class="form-control" theme="dp-material" placeholder="Tanggal resep">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="input-group">							
							    <input type="text" class="form-control" [(ngModel)]="param" placeholder="Cari ID pasien/nama pasien"/>
							</div>
						</div>
					</div>

					<table class="table" [mfData]="allObatTebus | filterWaktuKeluar : selectedDate | filterWaktuResep : selectedDate2 | filterObatTebus : param" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tbody>
							<tr>
								<th><mfDefaultSorter by="waktu_keluar">Waktu Tebus</mfDefaultSorter></th>
								<th><mfDefaultSorter by="id_transaksi">Waktu Resep</mfDefaultSorter></th>
								<th><mfDefaultSorter by="pasien.id">ID Pasien</mfDefaultSorter></th>
								<th><mfDefaultSorter by="pasien.nama_pasien">Nama Pasien</mfDefaultSorter></th>
								<th></th>
							</tr>
							<tr *ngFor="let obatTebus of mf.data">
								<td>{{obatTebus.waktu_keluar | date:'d MMM y H:mm:ss'}}</td>
								<td>{{obatTebus.resep.created_at | date:'d MMM y H:mm:ss'}}</td>
								<div *ngIf="obatTebus.resep.eksternal; then thenBlock else elseBlock"> </div>
								<ng-template #thenBlock>
									<td>EKSTERNAL</td>
									<td>{{obatTebus.resep.nama}}</td>
								</ng-template>
								<ng-template #elseBlock>
									<td>{{obatTebus.transaksi.pasien.id}}</td>
									<td>{{obatTebus.transaksi.pasien.nama_pasien}}</td>
								</ng-template> 
								<td><button type="button" class="btn btn-info" [routerLink] = "['/obat-tebus', obatTebus.id]">Detail</button></td>
							</tr>						
						</tbody>	
						<tfoot>
			                <tr>
			                    <td colspan="5">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>			
					</table>

					<div class="pull-left">
						<a routerLink="/obat-tebus-form"><button type="button" class="btn btn-info">Tambah obat tebus</button></a>
						<a routerLink="/resep-eksternal-form"><button type="button" class="btn btn-info">Tambah resep dan obat tebus dari luar RS</button></a>
					</div>
				</div>
			</div>	
		</div>
	</div>