  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header card-info">
        <h4>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Obat Tebus Baru
        </h4>
      </div>

      <div class="card-block">
        <div class="card-text">
            <form #obatTebusForm="ngForm">
              <div class="form-group">
                <label for="nama_pasien">Nama Pasien *</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="nama_pasien" required [ngbTypeahead]="searchNamaPasien" [inputFormatter]="inputPasienFormatter" [resultFormatter]="resultPasienFormatter" (selectItem)="addPasien($event.item)" [(ngModel)]="nama_pasien" name="nama_pasien"> 
                </div>                    
              </div>

              <div class="form-group">
                <label for="no_transaksi">No. Transaksi *</label>
                <input type="text" class="form-control" id="no_transaksi" required [ngbTypeahead]="searchNoTransaksi" [inputFormatter]="inputTransaksiFormatter" [resultFormatter]="resultTransaksiFormatter" (selectItem)="addTransaksi($event.item)" [(ngModel)]="no_transaksi" name="no_transaksi">
              </div>

              <div class="form-group">
                <label for="no_resep">No. Resep *</label>
                <input type="text" class="form-control" id="no_resep" [ngbTypeahead]="searchNoResep" [inputFormatter]="inputResepFormatter" [resultFormatter]="resultResepFormatter" (selectItem)="addResep($event.item)" [(ngModel)]="no_resep" required name="no_resep">
              </div>

              <div class="form-group">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Merek Obat</th>
                      <th>No. Batch</th>
                      <th>Jumlah</th>
                      <th>Harga Satuan</th>
                      <th>Harga Total</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of rowData">
                      <td><input type="text" class="form-control" id="kode_obat" disabled name="kode_obat" value="{{row.kode_obat}}"></td>
                      <td><input type="text" class="form-control" id="merek" disabled name="merek"></td>
                      <td><input type="text" class="form-control" id="kadaluarsa" disabled name="kadaluarsa"></td>
                      <td><input type="text" class="form-control" id="jumlah" name="jumlah"></td>
                      <td><input type="text" class="form-control" id="harga" name="harga"></td>
                      <td><input type="text" class="form-control" id="harga_total" disabled name="harga_total"></td> 
                      <td><button class="btn btn-danger" (click)="removeObatEntry(index)">Hapus</button></td>
                    </tr>
                  </tbody>    
                </table>
              </div>

              <button type="submit" class="btn btn-success">Simpan</button>
            </form>
        </div>
      </div>
    </div>
  </div>