 <div class="col-md-12">
	<div class="card mb-3">
		<div class="card-header card-info">
			<h4>
				<i class="fa fa-list-alt" aria-hidden="true"></i> Resep
			</h4>
		</div>
		<div class="card-block">
			<div class= "card-text">
				<div class="form-group">
                    <label>Pasien Eksternal?</label>
                  	<input type="checkbox" [checked]="resep.eksternal" (change)="resep.eksternal = !resep.eksternal">
                </div>

				<div *ngIf="!resep.eksternal" class="form-group">					
            		<label for="nama_pasien">Nama Pasien</label>
            		<input type="text" class="form-control" id="nama_pasien" required required [ngbTypeahead]="searchNamaPasien" [inputFormatter]="inputPasienFormatter" [resultFormatter]="resultPasienFormatter" (selectItem)="addPasien($event.item)" [(ngModel)]="nama_pasien" name="nama_pasien">
				</div>

				<div *ngIf="resep.eksternal">
		            <div class="form-group">
	            		<label for="nama">Nama Pasien</label>
	            		<input type="text" class="form-control" id="nama" required [(ngModel)]="resep.nama" name="nama">
	          		</div>

	          		<div class="form-group">
		                <label for="umur">Umur</label>
		                <input type="text" class="form-control" id="umur" required [(ngModel)]="resep.umur" name="umur">
	          		</div>

	          		<div class="form-group">
		                <label for="alamat">Alamat</label>
		                <input type="text" class="form-control" id="alamat" required [(ngModel)]="resep.alamat" name="alamat">
	          		</div>

	          		<div class="form-group">
		                <label for="no_telp">Nomor Telepon</label>
		                <input type="text" class="form-control" id="no_telp" required [(ngModel)]="resep.no_telp" name="no_telp">
	          		</div>

	          		<div class="form-group">
		                <label for="nama_dokter">Nama Dokter</label>
		                <input type="text" class="form-control" id="nama_dokter" required [(ngModel)]="resep.nama_dokter" name="no_telp">
	          		</div>
          		</div>

				<table class="table table-sm borderless">
					<thead *ngIf="resep.resep_item.length > 0">
						<th></th>
						<th>Aturan Pemakaian</th>
						<th>Petunjuk Peracikan</th>
					</thead>
					<tbody>
						<tr *ngFor="let resepItem of resep.resep_item; index as j">
							<th scope="row" style="vertical-align: middle;">
								Obat {{j + 1}}
							</th>
							<td style="vertical-align: middle;">
								<input type="text" class="form-control" [(ngModel)]="resepItem.aturan_pemakaian">
							</td>
							<td style="vertical-align: middle;">
								<input type="text" class="form-control" [(ngModel)]="resepItem.petunjuk_peracikan">
							</td>
							<td style="vertical-align: middle; text-align: right;">
								<button type=button class="btn btn-sm btn-info" data-toggle="modal" [attr.data-target]="'#resep-item-'+ j">
									Edit Obat
								</button>
								<button type=button class="btn btn-sm btn-danger" (click)="removeResepItem(j, resep)">
									Hapus Obat
								</button>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<button type="button" class="btn btn-sm btn-info pull-left" (click)="addResepItem(resep)">
									Tambah Obat
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<div *ngFor="let resepItem of resep.resep_item; index as j" class="modal fade" tabindex="-1" role="dialog" id="resep-item-{{j}}" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header bg-info text-white">
								<h5 class="modal-title mb-0">
									Edit Obat Resep
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<i class="fa fa-times" aria-hidden="true"></i>
								</button>
							</div>

							<div class="modal-body">
								<div *ngFor="let racikanItem of resepItem.racikan_item; index as k">
									<div class="input-group mb-2">
										<div class="input-group-addon">Bahan Racikan {{k + 1}}</div>
										<input type="text" class="form-control" placeholder="Input merek obat"
										 [ngbTypeahead]="searchJenisObat" (selectItem)="addSelectedJenisObat(racikanItem, $event.item)"
										 [inputFormatter]="inputJenisObatFormatter" [resultFormatter]="resultJenisObatFormatter">
									</div>
									<div *ngIf="racikanItem.jenis_obat != null" class="row mb-2">
										<div class="col-sm-6 input-group">
											<div class="input-group-addon bg-success text-white">Nama</div>
											<input type="text" class="form-control" disabled [(ngModel)]="racikanItem.jenis_obat.nama_generik">
										</div>
										<div class="col-sm-6 input-group">
											<div class="input-group-addon">Jumlah</div>
											<input type="number" class="form-control" [(ngModel)]="racikanItem.jumlah">
										</div>
									</div>
									<button type="button" class="btn btn-sm btn-danger mb-3" (click)="removeRacikanItem(k, resepItem)">
										Hapus Bahan Racikan
									</button>
								</div>
								<div>
									<button type="button" class="btn btn-sm btn-info" (click)="addRacikanItem(resepItem)">
										Tambah Bahan Racikan
									</button>
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-success" data-dismiss="modal">Simpan</button>
							</div>
						</div>
					</div>
				</div>

				<div class="pull-right">
					<button type="button" class="btn btn-success" (click)="save()">Simpan</button>
				</div>
			</div>
		</div>
	</div>
</div>