  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Daftar Obat Rusak/Hilang
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="row">
						<div class="col-md-6 pull-left">
							<div class="input-group">
				                <label for="alasan"><b>Alasan</b></label>
				                <select class="form-control" [(ngModel)]="param1">
				                	<option></option>
					                <option>Kadaluarsa</option>
					                <option>Hilang</option>
					                <option>Rusak</option>
				                </select>
							</div>
						</div>

						<div class="col-md-6 pull-right">
							<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal keluar">
						</div>
					</div>

					<div class="row">			
						<div class="col-md-12 pull-right">						
						    <input class="form-control" [(ngModel)]="param2" placeholder="Cari kode/nama obat"/>
						</div>
					</div>

					<table class="table" [mfData]="allObatRusak | filterObatRusak : param1 : param2 | filterWaktuKeluar : selectedDate" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tbody>
							<tr>								
								<th><mfDefaultSorter by="waktu_keluar">Waktu Keluar</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.barcode">Kode Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jenis_obat.merek_obat">Merek Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.kadaluarsa">Kadaluarsa</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jumlah">Jumlah</mfDefaultSorter></th>
								<th><mfDefaultSorter by="alasan">Alasan</mfDefaultSorter></th>							
								<th><mfDefaultSorter by="keterangan">Keterangan</mfDefaultSorter></th>
								<th></th>
							</tr>
							<tr *ngFor="let obatRusak of mf.data">
								<td>{{obatRusak.waktu_keluar | date:'d MMM y H:mm:ss'}}</td>	
								<td>{{obatRusak.obat_masuk.barcode}}</td>
								<td>{{obatRusak.jenis_obat.merek_obat}}</td>	
								<td>{{obatRusak.obat_masuk.kadaluarsa | date:'d MMM y'}}</td>
								<td>{{obatRusak.jumlah}} {{obatRusak.jenis_obat.satuan}}</td>
								<td>{{obatRusak.alasan}}</td>
								<td>{{obatRusak.keterangan}}</td>						
								<td><button type="button" class="btn btn-info" [routerLink] = "['/obat-rusak', obatRusak.id]">Detail</button></td>
							</tr>	
						</tbody>	
						<tfoot>
			                <tr>
			                    <td colspan="8">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>
		                </tfoot>					
					</table>

					<div class="pull-left">
						<a routerLink="/obat-rusak-form"><button type="button" class="btn btn-info">Tambah obat rusak</button></a>
					</div>
				</div>
			</div>	
		</div>
	</div>