  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header card-info">
        <h4>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Obat Rusak/Hilang/Kadaluarsa
        </h4>
      </div>

      <div class="card-block">

        <div class="pull-right">
          * Wajib diisi
        </div>

        <div class="card-text">
            <form #obatRusakForm="ngForm">
              <div class="form-group">
                <label for="asal">Asal *</label>
                <select class="form-control" id="asal" required (ngModelChange)="onChange($event)" [(ngModel)] = "obatRusak.asal" name="asal">   
                  <option *ngFor="let lokasiObat of allLokasiObat" [value]="lokasiObat.id">{{lokasiObat.nama}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="alasan">Alasan *</label>
                <select class="form-control" id="alasan" required [(ngModel)] = "obatRusak.alasan" name="alasan">      
                  <option>Kadaluarsa</option>
                  <option>Hilang</option>
                  <option>Rusak</option>
                </select>
              </div>    

              <div class="form-group">
                <label for="merek">Merek Obat *</label>
                <input type="text" class="form-control" id="merek" required [ngbTypeahead]="searchStokObat" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" (selectItem)="addSelectedStokObat($event.item)" [(ngModel)] = "stokObat.jenis_obat.merek_obat" name="merek">
              </div>

              <div class="form-group">
                <label for="nomor_batch">Nomor Batch</label>
                <input type="text" class="form-control" id="nomor_batch" disabled [(ngModel)] = "stokObat.nomor_batch" name="nomor_batch">
              </div>

              <div class="form-group">
                <label for="nama_generik">Nama Generik</label>
                <input type="text" class="form-control" id="nama_generik" disabled [(ngModel)] = "stokObat.jenis_obat.nama_generik" name="nama_generik">
              </div>

              <div class="form-group">
                <label for="pembuat">Pembuat</label>
                <input type="text" class="form-control" id="pembuat" disabled [(ngModel)] = "stokObat.jenis_obat.pembuat" name="pembuat">
              </div>

              <div class="form-group">
                <label for="golongan">Golongan</label>
                <input type="text" class="form-control" id="golongan" disabled [(ngModel)] = "stokObat.jenis_obat.golongan" name="golongan">
              </div>

              <div class="form-group">
                <label for="kadaluarsa">Kadaluarsa</label>
                <input type="date" class="form-control" id="kadaluarsa" disabled [(ngModel)] = "formattedKadaluarsa" name="kadaluarsa">
              </div>

              <div class="form-group">
                <label for="stok">Jumlah Stok</label>
                <div class="input-group">                    
                  <input type="number" class="form-control" id="stok" disabled [(ngModel)] = "stokObat.jumlah" name="stok"> 
                  <div class="input-group-addon">{{stokObat.jenis_obat.satuan}}</div>
                </div>    
              </div>   

              <div class="form-group">
                <label for="jumlah">Jumlah Keluar *</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="jumlah" required [(ngModel)] = "obatRusak.jumlah" name="jumlah"> 
                  <div class="input-group-addon">{{stokObat.jenis_obat.satuan}}</div>
                </div>    
              </div>              

              <div class="form-group">
                <label for="keterangan">Keterangan</label>
                <input type="text" class="form-control" id="keterangan" [(ngModel)] = "obatRusak.keterangan" name="keterangan">
              </div>

              <button type="submit" class="btn btn-success" (click)="save()">Simpan</button>
            </form>
        </div>
      </div>
    </div>
  </div>