  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header card-info">
        <h4>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Obat Rusak/Hilang
        </h4>
      </div>

      <div class="card-block">
        <div class="card-text">
            <form #obatRusakForm="ngForm">
              <div class="form-group">
                <label for="asal">Asal *</label>
                <select class="form-control" id="asal" required [(ngModel)] = "obatRusak.asal" name="asal">   
                  <option *ngFor="let lokasiObat of allLokasiObat" [value]="lokasiObat.id">{{lokasiObat.nama}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="alasan">Alasan *</label>
                <select class="form-control" id="alasan" required [(ngModel)] = "obatRusak.alasan" name="alasan">      
                  <option>Kadaluarsa</option>
                  <option>Hilang</option>
                  <option>Rusak</option>
                </select>
              </div>    

              <div class="form-group">
                <label for="kode">Kode Obat *</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="kode" required name="kode"> 
                  <span class="form-group-btn">
                    <a href="#"><button class="btn btn-success" (click)="searchObat(kode, obatRusak.asal)">Cari</button></a>
                  </span>
                </div>                    
              </div>

              <div class="form-group">
                <label for="id">ID Jenis Obat</label>
                <input type="text" class="form-control" id="id" disabled [(ngModel)] = "obatRusak.id_jenis_obat" [(value)] = "stokObat.jenis_obat.id" name="id">
              </div>

              <div class="form-group">
                <label for="merek">Merek Obat</label>
                <input type="text" class="form-control" id="merek" disabled [(ngModel)] = "stokObat.jenis_obat.merek_obat" name="merek">
              </div>

              <div class="form-group">
                <label for="nama_generik">Nama Generik</label>
                <input type="text" class="form-control" id="nama_generik" disabled [(ngModel)] = "stokObat.jenis_obat.nama_generik" name="nama_generik">
              </div>

              <div class="form-group">
                <label for="pembuat">Pembuat</label>
                <input type="text" class="form-control" id="pembuat" disabled [(ngModel)] = "stokObat.jenis_obat.pembuat" name="pembuat">
              </div>

              <div class="form-group">
                <label for="golongan">Golongan</label>
                <input type="text" class="form-control" id="golongan" disabled [(ngModel)] = "stokObat.jenis_obat.golongan" name="golongan">
              </div>

              <div class="form-group">
                <label for="nomor_batch">Nomor Batch</label>
                <input type="text" class="form-control" id="nomor_batch" disabled [(ngModel)] = "obatMasuk.nomor_batch" name="nomor_batch">
              </div>

              <div class="form-group">
                <label for="kadaluarsa">Kadaluarsa</label>
                <input type="date" class="form-control" id="kadaluarsa" disabled [(ngModel)] = "formattedKadaluarsa" name="kadaluarsa">
              </div>

              <div class="form-group">
                <label for="jumlah">Jumlah *</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="jumlah" required [(ngModel)] = "obatRusak.jumlah" name="jumlah"> 
                  <input type="text" class="form-control" id="satuan" disabled [(ngModel)] = "stokObat.jenis_obat.satuan" name="satuan">
                </div>    
                 
                <!-- TODO: Resize Col -->
              </div>              

              <div class="form-group">
                <label for="keterangan" >Keterangan</label>
                <input type="text" class="form-control" id="keterangan" [(ngModel)] = "obatRusak.keterangan" name="keterangan">
              </div>

              <button type="submit" class="btn btn-success" (click)="save()">Simpan</button>
            </form>
        </div>
      </div>
    </div>
  </div>