  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Stock Opname {{lokasiData.nama}}
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<table class="table" [mfData]="allStokObat" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tbody>
							<tr>
								<th><mfDefaultSorter by="obat_masuk.barcode">Kode Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jenis_obat.merek_obat">Merek Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.nomor_batch">No. Batch</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.kadaluarsa">Kadaluarsa</mfDefaultSorter></th>
								<th>Jumlah Tercatat</th>
								<th>Jumlah Sebenarnya</th>
							</tr>
							<tr *ngFor="let stokObat of mf.data">
								<td>{{stokObat.obat_masuk.barcode}}</td>
								<td>{{stokObat.jenis_obat.merek_obat}}</td>
								<td>{{stokObat.obat_masuk.nomor_batch}}</td>	
								<td>{{stokObat.obat_masuk.kadaluarsa | date:'d MMM y'}}</td>	
								<td><input type="text" class="form-control" id="jumlah_tercatat" disabled [(ngModel)] = "stokObat.jumlah" name="jumlah_tercatat"></td>
								<td><input type="text" class="form-control" id="jumlah_sebenarnya" required [(value)] = "stokObat.jumlah" name="jumlah_sebenarnya"></td>
							</tr>						
						</tbody>	
						<tfoot>
			                <tr>
			                    <td colspan="8">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>			
					</table>

					<div class="pull-right">
						<button type="button" class="btn btn-success">Simpan</button>
					</div>		
				</div>
			</div>	
		</div>
	</div>