  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Stock Opname 
					<span *ngIf="lokasiData"> {{lokasiData.nama}} </span>
				</h4>
			</div>
			<div class="card-block">
				<div *ngIf="allStokObat" class="card-text">
					<table class="table" [mfData]="allStockOpnameItem" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tbody>
							<tr>
								<th><mfDefaultSorter by="obat_masuk.barcode">Kode Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jenis_obat.merek_obat">Merek Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.nomor_batch">No. Batch</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.kadaluarsa">Kadaluarsa</mfDefaultSorter></th>
								<th>Jumlah Awal</th>
								<th>Jumlah Akhir</th>
								<th>Jumlah Sebenarnya</th>
								<th></th>
							</tr>
							<ng-template ngFor let-item [ngForOf]="mf.data" let-i="index">
								<tr>
									<td>{{item.stok_obat.obat_masuk.barcode}}</td>
									<td>{{item.stok_obat.jenis_obat.merek_obat}}</td>
									<td>{{item.stok_obat.obat_masuk.nomor_batch}}</td>	
									<td>{{item.stok_obat.obat_masuk.kadaluarsa | date:'d MMM y'}}</td>
									<td><input type="text" class="form-control" id="jumlah_awal-{{i}}" disabled [(value)] = "item.jumlah_awal" name="jumlah_awal-{{i}}"></td>	
									<td><input type="text" class="form-control" id="jumlah_akhir-{{i}}" disabled [(value)] = "item.jumlah_akhir" name="jumlah_akhir-{{i}}"></td>
									<td><input type="text" class="form-control" id="jumlah_sebenarnya-{{i}}" required [(ngModel)] = "item.jumlah_sebenarnya" name="jumlah_sebenarnya-{{i}}"></td>
									<td><a href="" data-toggle="collapse" [attr.data-target]="'#pemakaian-collapse-' + i"><button type="button" class="btn btn-info">Detail Pemakaian</button></a></td>
								</tr>		
								<tr>
									<td colspan="7">
										<div class="collapse" id="pemakaian-collapse-{{i}}">
											<table class="table">
												<div *ngIf="item.stok_obat.obat_pindah">
													<div *ngIf="item.stok_obat.obat_pindah.length > 0">	
														<tr>												
															<td colspan="3"><strong>Obat Pindah</strong></td>
														</tr>	
														<tr>
															<td><strong>Waktu Pindah</strong></td>
															<td><strong>Jumlah</strong></td>
															<td><strong>Tujuan</strong></td>	
														</tr>
														<ng-template ngFor let-obatPindah [ngForOf]="item.stok_obat.obat_pindah" let-j="index">
															<tr>
																<td>{{obatPindah.waktu_pindah | date:'d MMM y H:mm:ss'}}</td>
																<td>{{obatPindah.jumlah}} {{item.stok_obat.jenis_obat.satuan}}</td>
																<td>{{obatPindah.lokasi_tujuan.nama}}</td>	
															</tr>
														</ng-template>										
													</div>
												</div>
												<div *ngIf="item.stok_obat.obat_rusak">
													<div *ngIf="item.stok_obat.obat_rusak.length > 0">
														<tr>
															<td colspan="4"><strong>Obat Rusak</strong></td>
														</tr>	
														<tr>
															<td><strong>Waktu Keluar</strong></td>
															<td><strong>Jumlah</strong></td>
															<td><strong>Alasan</strong></td>
															<td><strong>Keterangan</strong></td>	
														</tr>
														<ng-template ngFor let-obatRusak [ngForOf]="item.stok_obat.obat_rusak" let-j="index">
															<tr>
																<td>{{obatRusak.waktu_keluar | date:'d MMM y H:mm:ss'}}</td>
																<td>{{obatRusak.jumlah}} {{item.stok_obat.jenis_obat.satuan}}</td>
																<td>{{obatRusak.alasan}}</td>	
																<td>{{obatRusak.keterangan}}</td>	
															</tr>
														</ng-template>
													</div>
												</div>
											</table>
										</div>
									</td>
								</tr>
							</ng-template>	
						</tbody>
						<tfoot>
			                <tr>
			                    <td colspan="8">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>	
			            </tfoot>		
					</table>

					<div class="pull-right">
						<button type="button" class="btn btn-success" (click)="save()">Simpan</button>
					</div>		
				</div>
			</div>	
		</div>
	</div>