  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Stock Opname 
					<span *ngIf="lokasiData"> {{lokasiData.nama}} </span>
				</h4>
			</div>
			<div class="card-block">
				<div *ngIf="allStokObat" class="card-text">
					<b> Stock opname terakhir: </b> {{latestStockOpname.created_at}}

					<table class="table" [mfData]="allStockOpnameItem" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tbody>
							<tr>
								<th><mfDefaultSorter by="barcode">Kode Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jenis_obat.merek_obat">Merek Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="nomor_batch">No. Batch</mfDefaultSorter></th>
								<th><mfDefaultSorter by="kadaluarsa">Kadaluarsa</mfDefaultSorter></th>
								<th>Jumlah Awal</th>
								<th>Jumlah Akhir</th>
								<th>Jumlah Fisik</th>
								<th></th>
							</tr>
							<ng-template ngFor let-item [ngForOf]="mf.data" let-i="index">
								<tr>
									<td>{{item.stok_obat.barcode}}</td>
									<td>{{item.stok_obat.jenis_obat.merek_obat}}</td>
									<td>{{item.stok_obat.nomor_batch}}</td>	
									<td>{{item.stok_obat.kadaluarsa | date:'d MMM y'}}</td>
									<td><input type="text" class="form-control" id="jumlah_awal-{{i}}" disabled [(value)] = "item.jumlah_awal" name="jumlah_awal-{{i}}"></td>	
									<td><input type="text" class="form-control" id="jumlah_akhir-{{i}}" disabled [(value)] = "item.jumlah_akhir" name="jumlah_akhir-{{i}}"></td>
									<td><input type="text" class="form-control" id="jumlah_fisik-{{i}}" required [(ngModel)] = "item.jumlah_fisik" name="jumlah_fisik-{{i}}"></td>
									<td><a href="" data-toggle="collapse" [attr.data-target]="'#pemakaian-collapse-' + i"><button type="button" class="btn btn-info">Detail Pemakaian</button></a></td>
								</tr>		
								<tr>
									<td colspan="7">
										<div class="collapse" id="pemakaian-collapse-{{i}}">
											<table class="table">
												<div *ngIf="item.stok_obat.obat_masuk">
													<div *ngIf="item.stok_obat.obat_masuk.length > 0">	
														<tr>												
															<td colspan="3"><strong>Obat Masuk</strong></td>
														</tr>	
														<tr>
															<td><strong>Waktu Masuk</strong></td>
															<td><strong>Jumlah</strong></td>
														</tr>
														<ng-template ngFor let-obatMasuk [ngForOf]="item.stok_obat.obat_masuk" let-j="index">
															<tr>
																<td>{{obatMasuk.waktu_masuk | date:'d MMM y H:mm:ss'}}</td>
																<td>{{obatMasuk.jumlah}} {{item.stok_obat.jenis_obat.satuan}}</td>
															</tr>
														</ng-template>										
													</div>
												</div>
												<div *ngIf="item.stok_obat.obat_pindah_masuk">
													<div *ngIf="item.stok_obat.obat_pindah_masuk.length > 0">	
														<tr>												
															<td colspan="3"><strong>Obat Pindah Masuk</strong></td>
														</tr>	
														<tr>
															<td><strong>Waktu Masuk</strong></td>
															<td><strong>Jumlah</strong></td>
															<td><strong>Asal</strong></td>	
														</tr>
														<ng-template ngFor let-obatPindahMasuk [ngForOf]="item.stok_obat.obat_pindah_masuk" let-j="index">
															<tr>
																<td>{{obatPindahMasuk.waktu_pindah | date:'d MMM y H:mm:ss'}}</td>
																<td>{{obatPindahMasuk.jumlah}} {{item.stok_obat.jenis_obat.satuan}}</td>
																<td>{{obatPindahMasuk.lokasi_asal.nama}}</td>	
															</tr>
														</ng-template>										
													</div>
												</div>
												<div *ngIf="item.stok_obat.obat_pindah_keluar">
													<div *ngIf="item.stok_obat.obat_pindah_keluar.length > 0">	
														<tr>												
															<td colspan="3"><strong>Obat Pindah Keluar</strong></td>
														</tr>	
														<tr>
															<td><strong>Waktu Keluar</strong></td>
															<td><strong>Jumlah</strong></td>
															<td><strong>Tujuan</strong></td>	
														</tr>
														<ng-template ngFor let-obatPindahKeluar [ngForOf]="item.stok_obat.obat_pindah_keluar" let-j="index">
															<tr>
																<td>{{obatPindahKeluar.waktu_pindah | date:'d MMM y H:mm:ss'}}</td>
																<td>{{obatPindahKeluar.jumlah}} {{item.stok_obat.jenis_obat.satuan}}</td>
																<td>{{obatPindahKeluar.lokasi_tujuan.nama}}</td>	
															</tr>
														</ng-template>										
													</div>
												</div>
												<div *ngIf="item.stok_obat.obat_rusak">
													<div *ngIf="item.stok_obat.obat_rusak.length > 0">
														<tr>
															<td colspan="4"><strong>Obat Rusak</strong></td>
														</tr>	
														<tr>
															<td><strong>Waktu Keluar</strong></td>
															<td><strong>Jumlah</strong></td>
															<td><strong>Alasan</strong></td>
															<td><strong>Keterangan</strong></td>	
														</tr>
														<ng-template ngFor let-obatRusak [ngForOf]="item.stok_obat.obat_rusak" let-j="index">
															<tr>
																<td>{{obatRusak.waktu_keluar | date:'d MMM y H:mm:ss'}}</td>
																<td>{{obatRusak.jumlah}} {{item.stok_obat.jenis_obat.satuan}}</td>
																<td>{{obatRusak.alasan}}</td>	
																<td>{{obatRusak.keterangan}}</td>	
															</tr>
														</ng-template>
													</div>
												</div>
												<div *ngIf="item.stok_obat.obat_tindakan">
													<div *ngIf="item.stok_obat.obat_tindakan.length > 0">
														<tr>
															<td colspan="4"><strong>Obat Tindakan</strong></td>
														</tr>	
														<tr>
															<td><strong>Waktu Keluar</strong></td>
															<td><strong>Jumlah</strong></td>	
														</tr>
														<ng-template ngFor let-obatTindakan [ngForOf]="item.stok_obat.obat_tindakan" let-j="index">
															<tr>
																<td>{{obatTindakan.waktu_keluar | date:'d MMM y H:mm:ss'}}</td>
																<td>{{obatTindakan.jumlah}} {{item.stok_obat.jenis_obat.satuan}}</td>
															</tr>
														</ng-template>
													</div>
												</div>
												<div *ngIf="item.stok_obat.obat_tebus_item">
													<div *ngIf="item.stok_obat.obat_tebus_item.length > 0">
														<tr>
															<td colspan="4"><strong>Obat Tebus</strong></td>
														</tr>	
														<tr>
															<td><strong>Waktu Keluar</strong></td>
															<td><strong>Jumlah</strong></td>	
														</tr>
														<ng-template ngFor let-obatTebusItem [ngForOf]="item.stok_obat.obat_tebus_item" let-j="index">
															<tr>
																<td>{{obatTebusItem.waktu_keluar | date:'d MMM y H:mm:ss'}}</td>
																<td>{{obatTebusItem.jumlah}} {{item.stok_obat.jenis_obat.satuan}}</td>
															</tr>
														</ng-template>
													</div>
												</div>
												<div *ngIf="item.stok_obat.obat_eceran_item">
													<div *ngIf="item.stok_obat.obat_eceran_item.length > 0">
														<tr>
															<td colspan="4"><strong>Obat Eceran</strong></td>
														</tr>	
														<tr>
															<td><strong>Waktu Keluar</strong></td>
															<td><strong>Jumlah</strong></td>	
														</tr>
														<ng-template ngFor let-obatEceranItem [ngForOf]="item.stok_obat.obat_eceran_item" let-j="index">
															<tr>
																<td>{{obatEceranItem.waktu_transaksi | date:'d MMM y H:mm:ss'}}</td>
																<td>{{obatEceranItem.jumlah}} {{item.stok_obat.jenis_obat.satuan}}</td>
															</tr>
														</ng-template>
													</div>
												</div>
											</table>
										</div>
									</td>
								</tr>
							</ng-template>	
						</tbody>
						<tfoot>
			                <tr>
			                    <td colspan="8">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>	
			            </tfoot>		
					</table>

					<div class="pull-right">
						<button type="button" class="btn btn-success" (click)="save()">Simpan</button>
					</div>		
				</div>
			</div>	
		</div>
	</div>