  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header card-info">
        <h4>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Pencatatan Kematian Baru
        </h4>
      </div>

      <div class="card-block">
        <div class="card-text">
            <div class="form-group" *ngIf="canSearch">
              <label for="search">Cari Pasien</label> <br>
                <div class="input-group">
                  <input type="text" class="form-control" id="search" [(ngModel)]="search" placeholder="Cari dengan kode pasien / nama pasien" (keyup.enter)="searchPasien()">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" (click)="searchPasien()">Mulai</button>
                  </span>
                </div>
            </div>
            <div class="form-group" *ngIf="canSearch">
                <label for="pasien">Pilih Pasien</label>
                <select class="form-control" id="pasien" name="pasien" [(ngModel)]="pasien" (ngModelChange)= "selectPasien()">
                  <option *ngFor="let pasien of allPasien" [ngValue]="pasien">{{pasien.nama_pasien}} ({{pasien.kode_pasien}})</option>
                </select>
            </div>
            <form #catatanKematianForm="ngForm">
              <div class="form-group">
                <label for="nama_pasien">Nama Pasien</label>
                <input type="text" class="form-control" id="nama_pasien" disabled name="nama_pasien" [(ngModel)]="pasien.nama_pasien">
              </div>

              <div class="form-group">
                <label for="gender">Jenis Kelamin</label>
                <select class="form-control" id="gender" disabled [(ngModel)]="pasien.jender" name="gender" required>
                  <option *ngFor="let gender of genders" [value]="gender.id">{{gender.nama}}</option>
                </select>
              </div>
              
              <div class="form-group">
                <label for="nama_pasien">Tanggal Lahir</label>
                <input type="text" class="form-control" id="tanggal_lahir" disabled name="tanggal_lahir" [(ngModel)]="pasien.tanggal_lahir">
              </div>

              <div class="form-group">
                <label for="nama_pasien">Agama</label>
                <input type="text" class="form-control" id="agama" disabled name="agama" [(ngModel)]="pasien.agama">
              </div>

              <div class="form-group">
                <label for="nama_pasien">Alamat</label>
                <input type="text" class="form-control" id="alamat" disabled name="alamat" [(ngModel)]="pasien.alamat">
              </div>

              <div class="form-group">
                <label for="phone">Kontak</label>
                <input type="tel" class="form-control" id="phone" disabled [(ngModel)]="pasien.kontak" name="phone">
              </div>

              <div class="form-group">
                <label for="blood">Golongan Darah</label>
                <input type="text" class="form-control" id="blood" disabled name="blood" [(ngModel)]="pasien.gol_darah">
              </div>

              <label for="tanggal">Tanggal Kematian</label>       
              <input [dpDayPicker]="config" theme="dp-material" class="form-control" id="tanggal" name="tanggal" [(ngModel)]="tanggal_kematian" required />

              <div class="form-group">
                <label for="waktu_masuk">Waktu Kematian</label>           
                <input type="time" class="form-control" id="waktu" name="waktu" [(ngModel)]="waktu_kematian" required />
              </div>

              <div class="form-group">
                <label for="tempat">Tempat Kematian</label>           
                <input type="text" class="form-control" id="tempat" name="tempat" [(ngModel)]="catatanKematian.tempat_kematian" required />
              </div>

              <div class="form-group">
                <label for="perkiraan">Perkiraan Penyebab</label>           
                <input type="text" class="form-control" id="perkiraan" name="perkiraan" [(ngModel)]="catatanKematian.perkiraan_penyebab" required />
              </div>

              <button type="submit" class="btn btn-success" [disabled]="!catatanKematianForm.valid" (click) = "createCatatanKematian()">Simpan</button>
            </form>
        </div>
      </div>
    </div>
  </div>