  <div class="col-md-12">
    <div class="card mb-3">

      <div class="card-header card-info">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#baru" role="tab" style="color: black;">
              <i class="fa fa-address-book" aria-hidden="true"></i> Pasien Baru
            </a>
          </li>             
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lama" role="tab" style="color: black;">
              <i class="fa fa-address-book-o" aria-hidden="true"></i> Pasien Lama
            </a>
          </li>
        </ul>
      </div>

      <div class="card-block">
        <div class="tab-content">

          <div class="tab-pane fade show active" id="baru" role="tabpanel">
            <div class="card-text">
                <form #pasienBaruForm="ngForm">
                  <div class="form-group">
                    <label for="name">Nama *</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="pasien.nama" name="name">
                  </div>

                  <div class="form-group">
                    <label for="gender">Jenis Kelamin</label>
                    <select class="form-control" id="gender" [(ngModel)]="pasien.jender" name="gender">
                      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                    </select>
                  </div>

                  <div>
                    <label for="dob">Tanggal Lahir</label>
                    <input [dpDayPicker]="config" [(ngModel)]="pasien.tanggal_lahir" id="dob" class="form-control" theme="dp-material" name="dob">
                  </div>

                  <div class="form-group">
                    <label for="religion">Agama</label>
                    <select class="form-control" id="religion" [(ngModel)]="pasien.agama" name="religion">
                      <option *ngFor="let religion of religions" [value]="religion">{{religion}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="address">Alamat</label>
                    <textarea class="form-control" id="address" [(ngModel)]="pasien.alamat" name="address"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="phone">Kontak</label>
                    <input type="tel" class="form-control" id="phone" [(ngModel)]="pasien.kontak" name="phone">
                  </div>

                  <div *ngIf="rujukanChecked" class="form-group">
                    <label for="no_rujukan">Nomor Rujukan</label>
                    <input type="string" class="form-control" id="no_rujukan" [(ngModel)]="no_rujukan" name="no_rujukan" required>
                  </div>

                  <div *ngIf="asuransiChecked" class="form-group">
                    <label for="asuransi">Asuransi yang dipakai</label>
                    <div class="form-inline">
                      <div class="input-group mb-0 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Nomor</div>
                        <input type="string" class="form-control" id="no_asuransi" [(ngModel)]="asuransi.no_kartu_asuransi" name="no_asuransi" required>
                      </div>
                      <div class="input-group mb-0 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Nama</div>
                        <input type="string" class="form-control" id="nama_asuransi" [(ngModel)]="asuransi.nama_asuransi" name="nama_asuransi" required>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="poliklinik">Layanan</label>
                    <select class="form-control" id="poliklinik" [(ngModel)]="poliklinik" name="poliklinik" required>
                      <ng-container *ngFor="let poliklinik of allPoliklinik">
                        <option *ngIf="poliklinik.sisa_pelayanan > 0" [value]="poliklinik.nama">{{poliklinik.nama}}</option>
                      </ng-container>
                    </select>
                  </div>

                  <div *ngIf="poliklinik" class="form-group">
                    <label for="doctor">Doktor</label>
                    <select class="form-control" id="doctor" [(ngModel)]="doctor" name="doctor" required>
                      <option *ngFor="let doctor of doctors" [value]="doctor">{{doctor}}</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label>Opsi Tambahan :   </label>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [checked]="rujukanChecked" (change)="rujukanChecked = !rujukanChecked">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Rujukan</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [checked]="asuransiChecked" (change)="asuransiChecked = !asuransiChecked">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Asuransi</span>
                    </label>
                  </div>

                  <button type="button" class="btn btn-success" (click) = "save()" [disabled]="!pasienBaruForm.form.valid">Simpan</button>
                </form>
            </div>
          </div>

          <div class="tab-pane fade" id="lama" role="tabpanel">
            <div class="card-text">

                <div class="form-group">
                  <label for="search">Cari Pasien</label> <br>
                    <div class="input-group">
                      <input type="text" class="form-control" id="search" [(ngModel)]="search" placeholder="Masukkan id/nama pasien untuk memulai pencarian">
                      <!--<input type="text" class="form-control" id="search" autocomplete [items]="allPasien" [config]="pasienAutocompleteConfig" (selectEvent)="pasienSelected($event)">-->
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="searchPasien()">Mulai</button>
                      </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pasien">Pilih Pasien</label>
                    <select class="form-control" id="pasien" name="pasien" [(ngModel)]="pasien" (ngModelChange)= "selectPasien()">
                      <option *ngFor="let pasien of allPasien" [ngValue]="pasien">{{pasien.id}} - {{pasien.nama}}</option>
                    </select>
                  </div>

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [checked]="update" (change)="update = !update">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Perbarui Data</span>
                    </label>
                  </div>

                <form *ngIf="searchDone" #pasienLamaForm="ngForm">
                  <div class="form-group">
                    <label for="name">Nama</label>
                    <input type="text" class="form-control" [disabled]="!update"  id="name" required [(ngModel)]="pasien.nama" name="name">
                  </div>

                  <div class="form-group">
                    <label for="gender">Jenis Kelamin</label>
                    <select class="form-control" [disabled]="!update" id="gender" value="{{pasien.jender}}" [(ngModel)]="pasien.jender" name="gender">
                      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                    </select>
                  </div>

                  <div>
                    <label for="dob">Tanggal Lahir</label>
                    <input [dpDayPicker]="config" [disabled]="!update" [(ngModel)]="pasien.tanggal_lahir" id="dob" class="form-control" theme="dp-material" name="dob">
                  </div>

                  <div class="form-group">
                    <label for="religion">Agama</label>
                    <select class="form-control" [disabled]="!update" id="religion" value="{{pasien.agama}}" [(ngModel)]="pasien.agama" name="religion">
                      <option *ngFor="let religion of religions" [value]="religion">{{religion}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="address">Alamat</label>
                    <textarea class="form-control" [disabled]="!update" id="address" [(ngModel)]="pasien.alamat" name="address"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="phone">Kontak</label>
                    <input type="tel" class="form-control" [disabled]="!update" id="phone" [(ngModel)]="pasien.kontak" name="phone">
                  </div>

                  <div *ngIf="asuransiChecked">
                    <div class="form-group" *ngFor="let asuransi of allAsuransi; let i = index; trackBy: customTrackBy ">
                      <label for="asuransi">Asuransi {{i + 1}}</label>
                      <div class="form-inline">
                        <div *ngIf="update" class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Nomor</div>
                            <input type="text" class="form-control" [disabled]="!update" name="no_asuransi" [(ngModel)]= "allAsuransi[i].no_kartu_asuransi" value="{{asuransi.no_kartu_asuransi}}">
                          </div>
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Nama</div>
                            <input type="text" class="form-control" [disabled]="!update" name="nama_asuransi" [(ngModel)]= "allAsuransi[i].nama_asuransi" value="{{asuransi.nama_asuransi}}">
                          </div>
                        </div>
                        <div *ngIf="!update" class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Nomor</div>
                            <input type="text" class="form-control" name="no_asuransi" value="{{asuransi.no_kartu_asuransi}}" disabled>
                          </div>
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Nama</div>
                            <input type="text" class="form-control" name="nama_asuransi" value="{{asuransi.nama_asuransi}}" disabled>
                          </div>
                        </div>
                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button" (click)="pakaiAsuransi(asuransi)">Pakai</button>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="asuransiChecked" class="form-group">
                    <label for="asuransi">Asuransi yang dipakai</label>
                    <div class="form-inline">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Nomor</div>
                        <input type="string" class="form-control" id="no_asuransi" [(ngModel)]="asuransi.no_kartu_asuransi" name="no_asuransi" required>
                      </div>
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Nama</div>
                        <input type="string" class="form-control" id="nama_asuransi" [(ngModel)]="asuransi.nama_asuransi" name="nama_asuransi" required>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="rujukanChecked" class="form-group">
                    <label for="no_rujukan">Nomor Rujukan</label>
                    <input type="string" class="form-control" id="no_rujukan" [(ngModel)]="no_rujukan" name="no_rujukan" required>
                  </div>

                  <div class="form-group">
                    <label for="poliklinik">Layanan</label>
                    <select class="form-control" id="poliklinik" [(ngModel)]="poliklinik" name="poliklinik" required>
                      <ng-container *ngFor="let poliklinik of allPoliklinik">
                        <option *ngIf="poliklinik.sisa_pelayanan > 0" [value]="poliklinik.nama">{{poliklinik.nama}}</option>
                      </ng-container>
                    </select>
                  </div>

                  <div *ngIf="poliklinik" class="form-group">
                    <label for="doctor">Doktor</label>
                    <select class="form-control" id="doctor" [(ngModel)]="doctor" name="doctor" required>
                      <option *ngFor="let doctor of doctors" [value]="doctor">{{doctor}}</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label>Opsi Tambahan :  </label>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [checked]="rujukanChecked" (change)="rujukanChecked = !rujukanChecked">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Rujukan</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [checked]="asuransiChecked" (change)="asuransiChecked = !asuransiChecked">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Asuransi</span>
                    </label>
                  </div>

                  <button type="button" class="btn btn-success" (click)="save()" [disabled]="!pasienLamaForm.form.valid">Simpan</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>