<div class="row">
  <div class="col-md-12">

    <div class="card mb-3">
      <div class="card-header card-info">
        <h4 class="mb-0">
          <i class="fa fa-list-alt" aria-hidden="true"></i> Pendaftaran IGD
        </h4>
        <br>
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#baru" role="tab" style="color: black;">
              <i class="fa fa-address-book" aria-hidden="true"></i> Pasien Baru
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lama" role="tab" style="color: black;">
              <i class="fa fa-address-book-o" aria-hidden="true"></i> Pasien Lama
            </a>
          </li>
        </ul>
      </div>
      <div class="card-block">
        <div class="tab-content">
          <ng2-toasty [position]="'top-center'"></ng2-toasty>
          <div class="tab-pane fade show active" id="baru" role="tabpanel">
            <div class="card-text">
                <form #pasienBaruForm="ngForm">
                  <div class="form-group">
                    <label for="name">Nama</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="pasien.nama_pasien" name="name">
                  </div>

                  <div class="form-group">
                    <label for="gender">Jenis Kelamin</label>
                    <select class="form-control" id="gender" [(ngModel)]="pasien.jender" name="gender" required>
                      <option *ngFor="let gender of genders" [value]="gender.id">{{gender.nama}}</option>
                    </select>
                  </div>

                  <div>
                    <label for="dob">Tanggal Lahir</label>
                    <input [dpDayPicker]="config" [(ngModel)]="pasien.tanggal_lahir" id="dob" class="form-control" theme="dp-material" name="dob">
                  </div>

                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [checked]="asuransiChecked" (change)="asuransiChecked = !asuransiChecked">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Asuransi</span>
                  </label>

                  <div *ngIf="asuransiChecked" class="form-group">
                    <label for="asuransi">Asuransi yang dipakai</label>
                    <div class="form-inline">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Nama</div>
                          <select class="form-control" id="nama_asuransi" [(ngModel)]="asuransi.nama_asuransi" (ngModelChange)="cekAsuransi()" name="nama_asuransi" required>
                            <option *ngFor="let namaAsuransi of allNamaAsuransi" [value]="namaAsuransi">{{namaAsuransi}}</option>
                          </select>
                      </div>
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Nomor</div>
                        <input type="string" class="form-control" id="no_asuransi" [(ngModel)]="asuransi.no_kartu" name="no_asuransi" required>
                      </div>
                      <span class="input-group-btn" *ngIf="!isBpjsVerified">
                        <button class="btn btn-secondary" type="button" (click)="cekBpjs()">Verifikasi</button>
                      </span>
                    </div>
                  </div>

                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [checked]="rujukanChecked" (change)="rujukanChecked = !rujukanChecked">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Rujukan</span>
                  </label>

                  <div *ngIf="rujukanChecked">
                    <div class="form-group">
                      <label for="no_rujukan">Nomor Rujukan</label>
                        <div class="input-group">
                          <input type="string" class="form-control" id="no_rujukan" [(ngModel)]="rujukan.no_rujukan" name="no_rujukan" [disabled]="isVerified" required>
                          <span class="input-group-btn" *ngIf="isBpjs">
                            <button class="btn btn-secondary" type="button" (click)="getRujukan()">Verifikasi</button>
                          </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="asal_rujukan">Asal Rujukan</label>
                        <input type="string" class="form-control" id="asal_rujukan" [disabled]="isVerified" [(ngModel)]="rujukan.asal_rujukan" name="asal_rujukan" required>
                      </div>
                    <div class="form-group">
                      <label for="nomor_pasien">Nomor Kartu Pasien</label>
                      <input type="string" class="form-control" id="nomor_pasien" [disabled]="isVerified" [(ngModel)]="nomor_pasien" name="nomor_pasien" required>
                    </div>
                    <div class="form-group" *ngIf="!isBpjs">
                      <label for="diagnosis">Diagnosis</label>
                      <input type="string" class="form-control" id="diagnosis" [ngbTypeahead]="searchDiagnosis" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" (selectItem)="addDiagnosis($event.item)" required>
                    </div>
                    <div class="form-group" *ngIf="isBpjs">
                      <label for="diagnosis">Diagnosis</label>
                      <input type="string" class="form-control" id="diagnosis" [(ngModel)]="rujukan.diagnosis" name="diagnosis" [disabled]="isVerified" required>
                    </div>
                    <div class="form-group">
                      <label for="keterangan">Keterangan</label>
                      <textarea class="form-control" id="keterangan" [(ngModel)]="rujukan.keterangan" [disabled]="isVerified" name="keterangan"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="button" class="btn btn-success" (click) = "createPasien()" [disabled]="!pasienBaruForm.valid">Daftarkan</button>
                  </div>
                </form>
            </div>
          </div>

          <div class="tab-pane fade" id="lama" role="tabpanel">
            <div class="card-text">

                <div class="form-group">
                  <label for="search">Cari Pasien</label> <br>
                    <div class="input-group">
                      <input type="text" class="form-control" id="search" [(ngModel)]="search" placeholder="Cari dengan kode pasien / nama pasien" (keyup.enter)="searchPasien()">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="searchPasien()">Mulai</button>
                      </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pasien">Pilih Pasien</label>
                    <select class="form-control" id="pasien" name="pasien" [(ngModel)]="pasien" (ngModelChange)= "selectPasien()">
                      <option *ngFor="let pasien of allPasien" [ngValue]="pasien">{{pasien.nama_pasien}} ({{pasien.kode_pasien}})</option>
                    </select>
                  </div>

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [checked]="update" (change)="update = !update">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Perbarui Data</span>
                    </label>
                  </div>

                <form *ngIf="searchDone" #pasienLamaForm="ngForm">
                  <div class="form-group">
                    <label for="name">Nama</label>
                    <input type="text" class="form-control" [disabled]="!update"  id="name" required [(ngModel)]="pasien.nama_pasien" name="name">
                  </div>

                  <div class="form-group">
                    <label for="gender">Jenis Kelamin</label>
                    <select class="form-control" [disabled]="!update" id="gender" value="{{pasien.jender}}" [(ngModel)]="pasien.jender" name="gender" required>
                      <option *ngFor="let gender of genders" [value]="gender.id">{{gender.nama}}</option>
                    </select>
                  </div>

                  <div>
                    <label for="dob">Tanggal Lahir</label>
                    <input [dpDayPicker]="config" [disabled]="!update" [(ngModel)]="pasien.tanggal_lahir" id="dob" class="form-control" theme="dp-material" name="dob">
                  </div>

                  <div *ngIf="asuransiChecked">
                    <div class="form-group" *ngFor="let asuransi of allAsuransi; let i = index; trackBy: customTrackBy ">
                      <label for="asuransi">Asuransi {{i + 1}}</label>
                      <div class="form-inline">
                        <div *ngIf="update" class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Nama</div>
                            <input type="text" class="form-control" [disabled]="!update" name="nama_asuransi" [(ngModel)]= "allAsuransi[i].nama_asuransi" value="{{asuransi.nama_asuransi}}">
                          </div>
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Nomor</div>
                            <input type="text" class="form-control" [disabled]="!update" name="no_asuransi" [(ngModel)]= "allAsuransi[i].no_kartu" value="{{asuransi.no_kartu}}">
                          </div>
                        </div>
                        <div *ngIf="!update" class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Nama</div>
                            <input type="text" class="form-control" name="nama_asuransi" value="{{allAsuransi[i].nama_asuransi}}" disabled>
                          </div>
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">Nomor</div>
                            <input type="text" class="form-control" name="no_asuransi" value="{{allAsuransi[i].no_kartu}}" disabled>
                          </div>
                        </div>
                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button" (click)="pakaiAsuransi(asuransi)">Pakai</button>
                        </span>
                      </div>
                    </div>
                  </div>

                  <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [checked]="asuransiChecked" (change)="asuransiChecked = !asuransiChecked">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Asuransi</span>
                  </label>

                  <div *ngIf="asuransiChecked" class="form-group">
                    <label for="asuransi_dipakai">Asuransi yang dipakai</label>
                    <div class="form-inline">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Nama</div>
                        <select class="form-control" id="nama_asuransi" [(ngModel)]="asuransi.nama_asuransi" name="nama_asuransi_dipakai" (ngModelChange)="cekAsuransi()" required>
                            <option *ngFor="let namaAsuransi of allNamaAsuransi" [value]="namaAsuransi">{{namaAsuransi}}</option>
                        </select>
                      </div>
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Nomor</div>
                        <input type="string" class="form-control" id="no_asuransi" [(ngModel)]="asuransi.no_kartu" name="no_asuransi_dipakai" required>
                      </div>
                      <span class="input-group-btn" *ngIf="!isBpjsVerified">
                        <button class="btn btn-secondary" type="button" (click)="cekBpjs()">Verifikasi</button>
                      </span>
                    </div>
                  </div>

                  <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [checked]="rujukanChecked" (change)="rujukanChecked = !rujukanChecked">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Rujukan</span>
                  </label>

                  <div *ngIf="rujukanChecked">
                    <div class="form-group">
                      <label for="no_rujukan">Nomor Rujukan</label>
                        <div class="input-group">
                          <input type="string" class="form-control" id="no_rujukan" [(ngModel)]="rujukan.no_rujukan" name="no_rujukan" [disabled]="isVerified" required>
                          <span class="input-group-btn" *ngIf="isBpjs">
                            <button class="btn btn-secondary" type="button" (click)="getRujukan()">Verifikasi</button>
                          </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="asal_rujukan">Asal Rujukan</label>
                        <input type="string" class="form-control" id="asal_rujukan" [disabled]="isVerified" [(ngModel)]="rujukan.asal_rujukan" name="asal_rujukan" required>
                      </div>
                    <div class="form-group">
                      <label for="nomor_pasien">Nomor Kartu Pasien</label>
                      <input type="string" class="form-control" id="nomor_pasien" [disabled]="isVerified" [(ngModel)]="nomor_pasien" name="nomor_pasien" required>
                    </div>
                    <div class="form-group" *ngIf="!isBpjs">
                      <label for="diagnosis">Diagnosis</label>
                      <input type="string" class="form-control" id="diagnosis" [ngbTypeahead]="searchDiagnosis" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" (selectItem)="addDiagnosis($event.item)" required>
                    </div>
                    <div class="form-group" *ngIf="isBpjs">
                      <label for="diagnosis">Diagnosis</label>
                      <input type="string" class="form-control" id="diagnosis" [(ngModel)]="rujukan.diagnosis" name="diagnosis" [disabled]="isVerified" required>
                    </div>
                    <div class="form-group">
                      <label for="keterangan">Keterangan</label>
                      <textarea class="form-control" id="keterangan" [(ngModel)]="rujukan.keterangan" [disabled]="isVerified" name="keterangan"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="button" class="btn btn-success" (click)="createPasien()" [disabled]="(!pasienLamaForm.valid && !searchDone) && (!pasienLamaForm.valid && asuransiChecked)">Daftarkan</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
