<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-plus-square" aria-hidden="true"></i> Informasi Rekam Medis
					</h4>
				</div>
				<div class="card-block">
					<div>
						<b>Tanggal Periksa : </b>{{tanggal}}
					</div>
					<br>
					<div>
						<b>Dokter Penanggungjawab : </b>{{dokter?.nama}}
					</div>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-id-card-o" aria-hidden="true"></i> Data Pribadi Pasien
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Nama</b></td>
								<td>{{pasien?.nama_pasien}}</td>
								<td><b>Jenis kelamin</b></td>
								<td>{{pasien?.jender == 1 && 'Laki-laki' || 'Perempuan'}}</td>
							</tr>
							<tr>
								<td><b>Tanggal Lahir</b></td>
								<td>{{pasien?.tanggal_lahir}}</td>
								<td><b>Kontak</b></td>
								<td>{{pasien?.kontak}}</td>
							</tr>
							<tr>
								<td><b>Agama</b></td>
								<td>{{pasien?.agama}}</td>
								<td><b>Golongan Darah</b></td>
								<td>{{pasien?.gol_darah}}</td>
							</tr>
							<tr>
								<td><b>Alamat</b></td>
								<td>{{pasien?.alamat}}</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-clipboard" aria-hidden="true"></i> Hasil Pemeriksaan Awal
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Tekanan Darah</b></td>
								<td>{{hasilPemeriksaan?.tekanan_darah}} mmHg</td>
								<td><b>Nadi</b></td>
								<td>{{hasilPemeriksaan?.nadi}} x/min</td>
								<td><b>Frekuensi Napas</b></td>
								<td>{{hasilPemeriksaan?.frekuensi_napas}} x/min</td>
							</tr>
							<tr>
								<td><b>Temperatur</b></td>
								<td>{{hasilPemeriksaan?.temperatur}} C</td>
								<td><b>Berat Badan</b></td>
								<td>{{hasilPemeriksaan?.berat_badan}} kg</td>
								<td><b>Tinggi Badan</b></td>
								<td>{{hasilPemeriksaan?.tinggi_badan}} cm</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-files-o" aria-hidden="true"></i> Anamnesis
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Keluhan Utama</b></td>
								<td>{{anamnesis?.keluhan}}</td>
							</tr>
							<tr>
								<td><b>Riwayat Penyakit</b></td>
								<td>
									<button type="button" class="btn btn-sm btn-info" (click)="loadRiwayat()" data-toggle="modal" data-target="#riwayatModal" [attr.data-target]="'#riwayatModal'">Detail</button>
								</td>
							</tr>
							<tr>
								<td><b>Alergi</b></td>
								<td>
									<button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#alergiModal" [attr.data-target]="'#alergiModal'">Detail</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-stethoscope" aria-hidden="true"></i> Diagnosis
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<thead>
							<th><b>Kode</b></th>
							<th><b>Nama</b></th>
						</thead>
						<tbody>
							<tr *ngFor="let diagnosis of allDiagnosis">
								<td>{{diagnosis?.daftar_diagnosis.kode}}</td>
								<td>{{diagnosis?.daftar_diagnosis.nama}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-medkit" aria-hidden="true"></i> Tindakan
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<thead>
							<th><b>Kode</b></th>
							<th><b>Nama</b></th>
							<th><b>Keterangan</b></th>
							<th><b>Dokter Penanggungjawab</b></th>
							<th><b>Dokumen</b></th>
						</thead>
						<tbody>
							<tr *ngFor="let tindakan of allTindakan">
								<td>{{tindakan?.daftar_tindakan.kode}}</td>
								<td>{{tindakan?.daftar_tindakan.nama}}</td>
								<td>{{tindakan?.keterangan && tindakan?.keterangan || '--'}}</td>
								<td>{{tindakan?.tenaga_medis.nama}}</td>
								<td *ngIf="tindakan?.hasil_lab"> 
									<button type="button" class="btn btn-sm btn-info" (click)="downloadHasilLab(tindakan?.hasil_lab.id)">
					                    Lihat dokumen hasil
				                    </button>
				                </td>
				                <td *ngIf="!tindakan?.hasil_lab"> -- </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card mb-3" *ngIf="perkembangan != null">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-clipboard" aria-hidden="true"></i> Perkembangan Pasien Rawat Inap / ICU
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<thead>
							<th><b>Tanggal</b></th>
							<th><b>Perkembangan</b></th>
						</thead>
						<tbody>
							<tr *ngFor="let perkembangan of perkembangan, let i = index; ">
								<td>{{tanggalPemeriksaan[i]}}</td>
								<td>{{perkembangan}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card mb-3" *ngIf="allResep != null">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Resep
					</h4>
				</div>
				<div class="card-block">
					<div *ngFor="let resep of allResep; index as i">
						<div class="card card-outline-info mb-3">
					  		<div class="card-block">
								<label class="form-group"><b>Resep {{i + 1}}.</b></label>
								<table class="table">
									<thead>
										<th>Merek</th>
										<th>Nama Generik</th>
										<th>Golongan</th>
										<th>Jumlah</th>
										<th>Aturan Pemakaian</th>
										<th>Petunjuk Peracikan</th>
									</thead>
									<tbody>
										<tr *ngFor="let resepItem of resep.resep_item; index as j">
											<td>
												<div *ngIf="resepItem.racikan_item.length == 0">
													--
												</div>
												<div *ngIf="resepItem.racikan_item.length > 0">
													<div *ngFor="let racikanItem of resepItem.racikan_item">
														{{racikanItem.jenis_obat.merek_obat}}
													</div>
												</div>
											</td>
											<td>
												<div *ngIf="resepItem.racikan_item.length == 0">
													--
												</div>
												<div *ngIf="resepItem.racikan_item.length > 0">
													<div *ngFor="let racikanItem of resepItem.racikan_item">
		 												{{racikanItem.jenis_obat.nama_generik}}
													</div>
												</div>
											</td>
											<td>
												<div *ngIf="resepItem.racikan_item.length == 0">
													--
												</div>
												<div *ngIf="resepItem.racikan_item.length > 0">
													<div *ngFor="let racikanItem of resepItem.racikan_item">
														{{racikanItem.jenis_obat.golongan}}
													</div>
												</div>
											</td>
											<td>
												<div *ngIf="resepItem.racikan_item.length == 0">
													--
												</div>
												<div *ngIf="resepItem.racikan_item.length > 0">
													<div *ngFor="let racikanItem of resepItem.racikan_item">
														{{racikanItem.jumlah}}
													</div>
												</div>
											</td>
											<td *ngIf="resepItem.racikan_item.length < 2">
												{{resepItem.aturan_pemakaian}}
											</td>
											<td *ngIf="resepItem.racikan_item.length > 1">
												{{resepItem.aturan_pemakaian}}
											</td>
											<td *ngIf="resepItem.racikan_item.length > 1">
												{{resepItem.petunjuk_peracikan}}
											</td>
											<td *ngIf="resepItem.racikan_item.length <= 1">
												--
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pull-right">
			<button type="button" class="btn btn-warning" (click)="goBack()">Kembali</button>
		</div>

		<div class="modal fade" id="riwayatModal" tabindex="-1" role="dialog" aria-labelledby="riwayatModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				    <div class="modal-header">
				        <h5 class="modal-title" id="riwayatModal">Rekap Kesehatan {{pasien?.nama_pasien}}</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <i class="fa fa-times" aria-hidden="true"></i>
				        </button>
				    </div>
				    <div class="modal-body">
					    <div class="form-group">
				  			<h6>Riwayat Penyakit :</h6>
				  			<div *ngFor="let riwayat of allRiwayatPenyakit, let i = index; ">
					  			<div>{{i+1}}. {{riwayat}}</div>
				  			</div>
			  			</div>
				    	<div *ngFor="let riwayat of allRiwayat, let i = index, ">
					    	<div class="card card-outline-info mb-3">
						  		<div class="card-block">
								    <div class="form-group">
								  		<h5 class="btn btn-info form-control" data-toggle="collapse" [attr.data-target]="'#riwayat-collapse-' + i">Tercatat pada {{riwayat.tanggal_waktu}}</h5>
							  		</div>
							  		<div class="collapse" id="riwayat-collapse-{{i}}">
								  		<div class="form-group">
								  			<h6>Diagnosis :</h6>
									    	<div *ngFor="let diagnosis of riwayat.allDiagnosis, let i = index; ">
								  				<div>{{i+1}}. {{diagnosis.daftar_diagnosis.nama}}</div>
									    	</div>
								    	</div>
							    	</div>
						    	</div>
					    	</div>
				    	</div>
				    </div>
			    </div>
		    </div>
	    </div>

	    <div class="modal fade" id="alergiModal" tabindex="-1" role="dialog" aria-labelledby="alergiModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				    <div class="modal-header">
				        <h5 class="modal-title" id="alergiModal">Alergi yang diderita {{pasien?.nama_pasien}}</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <i class="fa fa-times" aria-hidden="true"></i>
				        </button>
				    </div>
				    <div class="modal-body">
				    	<div *ngFor="let alergi of allAlergi, let i = index; ">
					  		<div class="form-group">
				  				<div class="form-group">{{i+1}}. {{alergi}}</div>
					    	</div>
				    	</div>
				    </div>
			    </div>
		    </div>
	    </div>

	</div>
</div>
