<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-info mb-3">
				<h4>
					<i class="fa fa-money" aria-hidden="true"></i> Informasi Rekam Medis
				</h4>
			</div>
			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-id-card-o" aria-hidden="true"></i> Informasi Pribadi Pasien
					</h4>
				</div>
				<div class="card-block">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Nama</b></td>
								<td>{{pasien?.nama_pasien}}</td>
								<td><b>Jenis kelamin</b></td>
								<td>{{pasien?.jender == 1 && 'Laki-laki' || 'Perempuan'}}</td>
							</tr>
							<tr>
								<td><b>Tanggal Lahir</b></td>
								<td>{{pasien?.tanggal_lahir}}</td>
								<td><b>Kontak</b></td>
								<td>{{pasien?.kontak}}</td>
							</tr>
							<tr>
								<td><b>Alamat</b></td>
								<td>{{pasien?.alamat}}</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--<div class="card-block">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<h3>Transaksi {{transaksi.no_transaksi}}</h3>
								<b>{{transaksi.pasien.nama_pasien}}</b>
								<p *ngIf="transaksi.pasien.jender === 0">Laki-laki</p>
								<p *ngIf="transaksi.pasien.jender === 1">Perempuan</p>
								<p>{{umur}} Tahun</p>
								<p>No. Sep: {{transaksi.no_sep}}</p>
								<p>Metode Bayar: {{transaksi.asuransi_pasien.toUpperCase()}}</p>
								<p>Waktu Masuk: {{transaksi.waktu_masuk_pasien}}</p>
								<p *ngIf="transaksi.status === 'closed'">Waktu Keluar: {{transaksi.waktu_perubahan_terakhir}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<table class="table">
						<tbody>
							<tr>
								<th>Tindakan</th>
								<th></th>
								<th>Harga</th>
								<th></th>
							</tr>
							<tr *ngFor="let tindakan of transaksi.tindakan">
								<td>{{tindakan.daftar_tindakan.nama}}</td>
								<td></td>
								<td>Rp. {{tindakan.harga | number: '.2-2'}}</td>
								<td><input *ngIf="transaksi.asuransi_pasien === 'tunai' && tindakan.id_pembayaran === null" type="checkbox" [id]="'tindakan' + tindakan.id" (change)="updateCheckedTindakan(tindakan.id)"></td>
							</tr>
							<tr>
								<th>Obat</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr *ngFor="let obat of transaksi.obat">
								<td>{{obat.nama}}</td>
								<td>{{obat.jumlah}} {{obat.satuan}}</td>
								<td>Rp. {{obat.jumlah * obat.harga_satuan | number: '.2-2'}}</td>
								<td><input *ngIf="transaksi.asuransi_pasien === 'tunai' && obat.id_pembayaran === null" type="checkbox" value="obat.id"></td>
							</tr>
							<tr>
								<td></td>
								<td><b>Total Harga</b></td>
								<td>Rp. {{transaksi.harga_total | number: '.2-2'}}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="offset-md-6 col-md-6">
						<button class="btn btn-danger" (click)="goBack()">Kembali</button>
						<button *ngIf="transaksi.status === 'open'" class="btn btn-success" (click)="close()">Tutup Transaksi</button>
						<button *ngIf="transaksi.status === 'open'" data-toggle="modal"
						[attr.data-target]="'#pilihMetodeBayarModal'" class="btn btn-success">Bayar</button>
						<button *ngIf="transaksi.status === 'closed'" class="btn btn-success" disabled>Tutup Transaksi</button>
						<button *ngIf="transaksi.status === 'closed'" class="btn btn-success" disabled>Bayar</button>
					</div>
				</div>
				<div *ngIf="transaksi.pembayaran?.length > 0" class="row">
					<div class="col-md-12">
						<div class="form-group">
		                    <label class="custom-control custom-checkbox">
		                    	<input type="checkbox" class="custom-control-input" [checked]="showPembayaran" (change)="showPembayaran = !showPembayaran">
		                    	<span class="custom-control-indicator"></span>
		                    	<span class="custom-control-description">Tampilkan Pembayaran</span>
		                    </label>
	                	</div>
					</div>
				</div>
				<div *ngIf="showPembayaran" class="row">
					<div class="col-md-12">
						<ul class='list-group'>
							<a *ngFor="let pembayaran of transaksi.pembayaran" [routerLink] = "['/pembayaran', pembayaran.id]">Pembayaran {{pembayaran.metode_bayar.toUpperCase()}} : {{pembayaran.created_at}}</a>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" tabindex="-1" role="dialog" id="pilihMetodeBayarModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">Pilih Metode Bayar</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<label for="kode">Metode Bayar:</label>
							<select class="form-control" id="metode" [(ngModel)]="status">
								<option selected>TUNAI</option>
		                    	<option *ngFor="let metode of allMetode">{{metode.toUpperCase()}}</option>
		                    </select>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
						<button type="button" class="btn btn-success" (click)="bayar(this.status)">Bayar</button>
					</div>

				</div>
			</div>-->
		</div>
	</div>
</div>