<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card mb-3" *ngIf="allRekamMedis">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-list-alt" aria-hidden="true"></i> List Rekam Medis 
					</h4>
				</div>

				<div class="card-block">
					<div class="card-text">	
						<table class="table" [mfData]="allRekamMedis" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
							<thead>
								<th><mfDefaultSorter by="tanggal">Tanggal</mfDefaultSorter></th>
								<th><mfDefaultSorter by="keluhan">Keluhan Utama</mfDefaultSorter></th>
								<th><mfDefaultSorter by="diagnosis">Diagnosis</mfDefaultSorter></th>
								<th></th>
							</thead>
							<tbody>
								<tr *ngFor="let rekamMedis of mf.data; let i = index; ">
									<td *ngIf="rekamMedis.keluhan != '-'">{{rekamMedis.tanggal_waktu}}</td>
									<td *ngIf="rekamMedis.keluhan != '-'">{{rekamMedis.keluhan}}</td>
									<td *ngIf="rekamMedis.keluhan != '-'">
										<div *ngFor="let diagnosis of rekamMedis.diagnosis">
											{{diagnosis.daftar_diagnosis.kode}} - {{diagnosis.daftar_diagnosis.nama}}
										</div>
									</td>
									<td *ngIf="rekamMedis.keluhan != '-'">
										<button type="button" class="btn btn-sm btn-info" [routerLink]="['/rekam_medis', pasienId, i]">Detail</button>
									</td>
								</tr>
							</tbody>
							<tfoot>
					            <tr>
					              <td colspan="9">
					                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
					              </td>
					            </tr>
				            </tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="card mb-3" *ngIf="allRekamMedisEksternal">
				<div class="card-header card-info">
					<h4>
						<i class="fa fa-list-alt" aria-hidden="true"></i> List Rekam Medis Eksternal
					</h4>
				</div>

				<div class="card-block">
					<div class="card-text">	
						<table class="table" [mfData]="allRekamMedisEksternal" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
							<thead>
								<th><mfDefaultSorter by="tanggal">Tanggal</mfDefaultSorter></th>
								<th><mfDefaultSorter by="keluhan">Keluhan</mfDefaultSorter></th>
								<th></th>
							</thead>
							<tbody>
								<tr *ngFor="let rekamMedis of mf.data; let i = index; ">
									<td *ngIf="rekamMedis.keluhan != '-'">{{rekamMedis.tanggal_waktu}}</td>
									<td *ngIf="rekamMedis.keluhan != '-'">{{rekamMedis.keluhan}}</td>
									<td *ngIf="rekamMedis.keluhan != '-'">
										<button type="button" class="btn btn-sm btn-info" [routerLink]="['/rekam_medis_eksternal', pasienId, i]">Detail</button>
									</td>
								</tr>
							</tbody>
							<tfoot>
					            <tr>
					              <td colspan="9">
					                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
					              </td>
					            </tr>
				            </tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="pull-right">
			<button *ngIf="layanan != 'rawatinap'" type="button" class="btn btn-warning" [routerLink]="['/poliklinik', layanan, transaksiId]">Kembali</button>
			<button *ngIf="layanan == 'rawatinap'" type="button" class="btn btn-warning" (click)="goBack()">Kembali</button>
		</div>
	</div>
</div>