  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-newspaper-o" aria-hidden="true"></i> Detail Obat
				</h4>
			</div>
			<div *ngIf="obatBatch" class="card-block">
				<div class="card-text">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Kode Obat</b></td>
								<td>{{obatBatch.kode_obat}}</td>	
							</tr>
							<tr>
								<td><b>ID Jenis Obat</b></td>
								<td>{{obatBatch.id_jenis}}</td>	
							</tr>
							<tr>
								<td><b>Merek Obat</b></td>								
								<td>{{obatBatch.merek}}</td>								
							</tr>
							<tr>
								<td><b>Nama Generik</b></td>
								<td>{{obatBatch.nama_generik}}</td>								
							</tr>
							<tr>
								<td><b>Pembuat</b></td>
								<td>{{obatBatch.pembuat}}</td>								
							</tr>
							<tr>
								<td><b>Golongan</b></td>
								<td>{{obatBatch.golongan}}</td>
							</tr>
							<tr>
								<td><b>Satuan</b></td>					
								<td>{{obatBatch.satuan}}</td>
							</tr>
							<tr>
								<td><b>Harga Jual Satuan</b></td>								
								<td>Rp. {{obatBatch.harga_jual}}</td>
							</tr>
							<tr>
								<td><b>Nomor Batch</b></td>								
								<td>{{obatBatch.nomor_batch}}</td>
							</tr>
							<tr>
								<td><b>Waktu Masuk</b></td>								
								<td>{{obatBatch.waktu_masuk}}</td>
							</tr>
							<tr>
								<td><b>Kadaluarsa</b></td>								
								<td>{{obatBatch.kadaluarsa}}</td>
							</tr>
							<tr>
								<td><b>Harga Beli Satuan</b></td>								
								<td>Rp. {{obatBatch.harga_beli}}</td>
							</tr>
							<tr>
								<td><b>Jumlah</b></td>								
								<td>{{obatBatch.jumlah}}</td>
							</tr>
							<tr>
								<td><b>Lokasi</b></td>								
								<td>{{obatBatch.lokasi}}</td>
							</tr>
							<tr>
								<td><b>Keterangan</b></td>								
								<td>{{obatBatch.keterangan}}</td>
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="offset-md-8 col-md-4">
							<button class="btn btn-danger" (click)="goBack()">Kembali</button>
							<button class="btn btn-warning">Edit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>