<html>
	<div class="row">
		<div class="col-md-12 ml-4">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 ml-4">
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><a routerLink="">Home</a></li>
					<li class="list-group-item"><a routerLink="/pendaftaran">Pendaftaran</a></li>
					<li class="list-group-item"><a routerLink="/antrian">Daftar Antrian</a></li>
					<li class="list-group-item"><a routerLink="/transaksi">Transaksi</a></li>
					<li class="list-group-item"><a routerLink="/rawat-jalan">Rawat Jalan</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<router-outlet>
			</router-outlet>
		</div> 
	</div>
</html>