<html>
	<ng2-toasty [position]="'top-center'"></ng2-toasty>
	<div class="row">
		<div class="col-md-8 ml-4">
			<h1>{{title}}</h1>
		</div>
		<div *ngIf="user != null" class="col-md-3 text-right">
			<span>
				Logged in as <b>{{user?.name}}</b>&nbsp;
			</span>
			<button type="button" class="btn btn-warning" (click)="logout()">
				Logout
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 ml-4">
			<div class="card">

				<div *ngIf="user == null" class="list-group list-group-flush">
					<a routerLink="/daftar-antrian" class="list-group-item list-group-item-info">Pendaftaran Antrian</a>
					<a routerLink="/register" class="list-group-item list-group-item-info">Register</a>
					<a routerLink="/login" class="list-group-item list-group-item-info">Login</a>
				</div>

				<div *ngIf="user != null" class="list-group list-group-flush">
					<a *ngIf="user.role == 'dokter'" [routerLink]="['/dokter-dashboard']" class="list-group-item list-group-item-info">Home</a>
					<a *ngIf="user.role == 'petugasLab'" [routerLink]="['/petugas-lab-dashboard']" class="list-group-item list-group-item-info">Home</a>
					<a *ngIf="user.role == 'perawat'" [routerLink]="['/perawat-dashboard']" class="list-group-item list-group-item-info">Home</a>
					<a *ngIf="user.role == 'admin'" [routerLink]="['/antrian-dashboard']" class="list-group-item list-group-item-info">Home</a>

					<a *ngIf="user.role == 'frontOffice'" routerLink="/antrian" class="list-group-item list-group-item-info">Antrian</a>
					<a *ngIf="user.role == 'frontOffice' || user.role == 'admin'" routerLink="/daftar-pasien" class="list-group-item list-group-item-info">List Pasien</a>
					<a *ngIf="user.role == 'frontOffice' || user.role == 'petugasLab'" routerLink="/pendaftaran" class="list-group-item list-group-item-info">Registrasi</a>
					<a *ngIf="user.role == 'dokter'" routerLink="/pendaftaran-igd" class="list-group-item list-group-item-info">IGD</a>

					<a *ngIf="user.role == 'petugasLab'" [routerLink]="['/laboratorium/tindakan']" class="list-group-item list-group-item-info">Tindakan Laboratorium</a>

					<a *ngIf="user.role == 'admin'" href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#RawatJalanSubMenu">Administrasi Rawat Jalan</a>
					<div id="RawatJalanSubMenu" class="collapse">
						<a routerLink="/poliklinik" class="list-group-item">Daftar Poliklinik</a>
						<a routerLink="/laboratorium" class="list-group-item">Daftar Laboratorium</a>
						<a routerLink="/ambulans" class="list-group-item">Daftar Ambulans</a>
						<a routerLink="/daftar-diagnosis" class="list-group-item">Daftar Diagnosis</a>
						<a routerLink="/daftar-tindakan" class="list-group-item">Daftar Tindakan</a>
					</div>

					<a *ngIf="user.role =='frontOffice'" href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#RawatInapSubMenu">Rawat Inap</a>
					<div id="RawatInapSubMenu" class="collapse">
						<a *ngIf="user.role == 'frontOffice'" routerLink="/rawatinap" class="list-group-item">Pendaftaran Rawat Inap</a>
						<a *ngIf="user.role == 'frontOffice'" routerLink="/rawatinap/booking/kamar" class="list-group-item">Pendaftaran Reservasi Kamar Rawat Inap</a>
						<a *ngIf="user.role == 'frontOffice'" routerLink="/daftarbookingrawatinap" class="list-group-item">Daftar Reservasi Kamar Rawat Inap</a>
						<a *ngIf="user.role == 'frontOffice'" routerLink="/pemakaiankamarrawatinap" class="list-group-item">Daftar Pemakaian Kamar Rawat Inap</a>
						<a *ngIf="user.role == 'dokter'" routerLink="/pemeriksaan/rawatinap" class="list-group-item">Pemeriksaan Pasien Rawat Inap</a>
					</div>

					<a href="" *ngIf="user.role == 'frontOffice'" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#ICUSubMenu">ICU</a>
					<div id="ICUSubMenu" class="collapse">
						<a *ngIf="user.role == 'frontOffice'" routerLink="/icu" class="list-group-item">Pendaftaran ICU</a>
						<a *ngIf="user.role == 'frontOffice'" routerLink="/pemakaianicu" class="list-group-item">Daftar Pemakaian ICU</a>
						<a *ngIf="user.role == 'dokter'" routerLink="/pemeriksaan/icu" class="list-group-item">Pemeriksaan Pasien ICU</a>
					</div>

					<a href="" *ngIf="user.role == 'frontOffice'" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#OperasiSubMenu">Operasi</a>
					<div id="OperasiSubMenu" class="collapse">
						<a *ngIf="user.role == 'frontOffice'" routerLink="/operasi/booking" class="list-group-item">Pendaftaran Reservasi Kamar Operasi</a>
						<a *ngIf="user.role == 'dokter' || user.role == 'frontOffice'" routerLink="/pemakaiankamaroperasi" class="list-group-item">Pemakaian Kamar Operasi Sekarang</a>
					</div>

					<a *ngIf="user.role == 'perawat'" href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#JenazahSubMenu">Kamar Jenazah</a>
					<div id="JenazahSubMenu" class="collapse">
						<a  routerLink="/pemakaiankamarjenazah" class="list-group-item">Pemakaian Kamar Jenazah</a>
					</div>

					<a *ngIf="user.role == 'admin'" href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#TenagaMedisSubMenu">Tenaga Medis</a>
					<div id="TenagaMedisSubMenu" class="collapse">
						<a routerLink="/tenaga-medis" class="list-group-item">Daftar Tenaga Medis</a>
						<a routerLink="/jadwal-dokter" class="list-group-item">Daftar Jadwal Dokter</a>
					</div>

					<a *ngIf="user.role == 'admin'" href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#KamarSubMenu">Kamar</a>
					<div id="KamarSubMenu" class="collapse">
						<a routerLink="/kamar-rawatinap" class="list-group-item">Daftar Kamar Rawat Inap</a>
						<a routerLink="/kamar-operasi" class="list-group-item">Daftar Kamar Operasi</a>
						<a routerLink="/kamar-jenazah" class="list-group-item">Daftar Kamar Jenazah</a>
					</div>

					<a *ngIf="user.role == 'kasir' || user.role == 'admin'" href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#TransaksiSubMenu">Transaksi</a>
					<div id="TransaksiSubMenu" class="collapse">
						<a routerLink="/transaksi" class="list-group-item">Transaksi Aktif</a>
						<a routerLink="/transaksi-obat" class="list-group-item">Transaksi Obat</a>
						<a *ngIf="user.role == 'admin' || user.role == 'petugasKeuangan'" routerLink="/histori-transaksi" class="list-group-item">Histori Transaksi</a>
						<a *ngIf="user.role == 'admin' || user.role == 'petugasKeuangan'" routerLink="/rekap-transaksi" class="list-group-item">Rekap Transaksi</a>
					</div>
					<a *ngIf="user.role == 'admin' || user.role == 'petugasKeuangan'" href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#PembayaranSubMenu">Pembayaran</a>
					<div id="PembayaranSubMenu" class="collapse">
						<a routerLink="/pembayaran" class="list-group-item">Data Pembayaran</a>
						<a routerLink="/klaim" class="list-group-item">Data Klaim</a>
					</div>
					<a *ngIf="user.role == 'stafApotek' || user.role == 'admin' || user.role == 'gudangUtama'" href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#FarmasiSubMenu">Farmasi</a>
					<div id="FarmasiSubMenu" class="collapse">
						<a *ngIf="user.role == 'admin' || user.role == 'gudangUtama'" routerLink="/lokasi-obat" class="list-group-item">Lokasi Obat</a>
						<a *ngIf="user.role == 'admin' || user.role == 'gudangUtama'" routerLink="/jenis-obat" class="list-group-item">Merek Obat</a>
						<a *ngIf="user.role == 'stafApotek' || user.role == 'admin' || user.role == 'gudangUtama'" routerLink="/stok-obat" class="list-group-item">Stok Obat</a>
						<a *ngIf="user.role == 'admin' || user.role == 'gudangUtama'" routerLink="/obat-masuk" class="list-group-item">Obat Masuk</a>
						<a *ngIf="user.role == 'stafApotek' || user.role == 'admin'" routerLink="/obat-tebus" class="list-group-item">Obat Tebus</a>
						<a *ngIf="user.role == 'stafApotek' || user.role == 'admin'" routerLink="/obat-eceran" class="list-group-item">Obat Eceran</a>
						<a routerLink="/obat-pindah" class="list-group-item">Obat Pindah</a>
						<a routerLink="/obat-rusak" class="list-group-item">Obat Rusak/Hilang</a>
						<a routerLink="/stock-opname" class="list-group-item">Stock Opname</a>
						<a routerLink="/laporan" class="list-group-item">Laporan</a>
					</div>
					<a *ngIf="user.role == 'admin'" routerLink="/settings" class="list-group-item list-group-item-info">Settings</a>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<router-outlet>
			</router-outlet>
		</div>
	</div>
</html>
