<html>
	<div class="row">
		<div class="col-md-12 ml-4">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 ml-4">
			<div class="card">
				<div class="list-group list-group-flush">
					<a routerLink="/daftar-antrian" class="list-group-item list-group-item-info">Pendaftaran Antrian</a>
					<a routerLink="/daftar-pasien" class="list-group-item list-group-item-info">List Pasien</a>
					<a routerLink="/pendaftaran" class="list-group-item list-group-item-info">Registrasi</a>
					<a routerLink="/antrian" class="list-group-item list-group-item-info">Antrian</a>
					<a href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#LayananSubMenu">Layanan</a>
					<div id="LayananSubMenu" class="collapse">
						<a routerLink="/poliklinik" class="list-group-item">Poliklinik</a>
						<a routerLink="/laboratorium" class="list-group-item">Laboratorium</a>
						<a routerLink="/ambulans" class="list-group-item">Ambulans</a>
						<a routerLink="/rawatinap" class="list-group-item">Rawat Inap</a>
						<a routerLink="/pemakaiankamarrawatinap" class="list-group-item">Pemakaian Kamar Rawat Inap</a>
						<a routerLink="/pemakaiankamaroperasi" class="list-group-item">Pemakaian Kamar Operasi</a>
						<a routerLink="/pemakaiankamarjenazah" class="list-group-item">Pemakaian Kamar Jenazah</a>
						<a routerLink="/daftar-diagnosis" class="list-group-item">Daftar Diagnosis</a>
						<a routerLink="/daftar-tindakan" class="list-group-item">Daftar Tindakan</a>
					</div>
					
					<a href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#TenagaMedisSubMenu">Tenaga Medis</a>
					<div id="TenagaMedisSubMenu" class="collapse">
						<a routerLink="/tenaga-medis" class="list-group-item">Daftar Tenaga Medis</a>
						<a routerLink="/jadwal-dokter" class="list-group-item">Daftar Jadwal Dokter</a>
					</div>

					<a href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#KamarSubMenu">Kamar</a>
					<div id="KamarSubMenu" class="collapse">
						<a routerLink="/kamar-rawatinap" class="list-group-item">Daftar Kamar Rawat Inap</a>
						<a routerLink="/kamar-operasi" class="list-group-item">Daftar Kamar Operasi</a>
						<a routerLink="/kamar-jenazah" class="list-group-item">Daftar Kamar Jenazah</a>
					</div>

					<a routerLink="/transaksi" class="list-group-item list-group-item-info">Transaksi</a>
					<a href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#PembayaranSubMenu">Pembayaran</a>
					<div id="PembayaranSubMenu" class="collapse">
						<a routerLink="/pembayaran" class="list-group-item">Data Pembayaran</a>
						<a routerLink="/klaim" class="list-group-item">Data Klaim</a>
					</div>
					<a href="" class="list-group-item list-group-item-info" data-toggle="collapse" data-target="#FarmasiSubMenu">Farmasi</a>
					<div id="FarmasiSubMenu" class="collapse">
						<a routerLink="/lokasi-obat" class="list-group-item">Lokasi Obat</a>
						<a routerLink="/jenis-obat" class="list-group-item">Jenis Obat</a>
						<a routerLink="/stok-obat" class="list-group-item">Stok Obat</a>
						<a routerLink="/obat-masuk" class="list-group-item">Obat Masuk</a>
						<a routerLink="/obat-tebus" class="list-group-item">Obat Tebus</a>
						<a routerLink="/obat-eceran" class="list-group-item">Obat Eceran</a>
						<a routerLink="/obat-pindah" class="list-group-item">Obat Pindah</a>
						<a routerLink="/obat-rusak" class="list-group-item">Obat Rusak/Hilang</a>
						<a routerLink="/stock-opname" class="list-group-item">Stock Opname</a>
					</div>
					<a routerLink="/settings" class="list-group-item list-group-item-info">Settings</a>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<router-outlet>
			</router-outlet>
		</div>
	</div>
</html>
