<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
  <div class="col-8">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa" aria-hidden="true"></i> Kamar Rawat Inap Kelas 3 - 001
				</h4>
			</div>
			<div class="card-block">
				<p class="card-text">
					<div class="row">
						<div class="col-md-8 mx-4 ml-1 py-5 px-5" style="border: 2px solid black">
							<div class="row">
								<div class="col-md-12">			
						            <a href="#" class="btn btn-sq-sm btn-primary float-left px-4 py-3">
						                1
						            </a>
						            <a href="#" class="btn btn-sq-sm btn-danger float-right px-4 py-3">
						              	5
						            </a>            
						          
								</div>

							</div>
							<div class="row mt-5">
								<div class="col-md-12">
									
						            <a href="#" class="btn btn-sq-sm btn-primary float-left px-4 py-3">
						                2
						            </a>
						          
						            <a href="#" class="btn btn-sq-sm btn-danger float-right px-4 py-3">
						             	6
						            </a>            
						          
								</div>

							</div>
							<div class="row mt-5">
								<div class="col-md-12">
									
						            <a href="#" class="btn btn-sq-sm btn-primary float-left px-4 py-3">
						                3
						            </a>
						           
						            <a href="#" class="btn btn-sq-sm btn-danger float-right px-4 py-3">
						             	7
						            </a>            
						          
								</div>

							</div>
							<div class="row mt-5">
								<div class="col-md-12">
									
						            <a href="#" class="btn btn-sq-sm btn-primary float-left px-4 py-3">
						                4
						            </a>
						          
						            <a href="#" class="btn btn-sq-sm btn-danger float-right px-4 py-3">
						            	8
						            </a>            
						          
								</div>

							</div>
						</div>
						<div class="col-md-3 mx-2">
							<div class="row mt-3">
								<a href="#" class="btn btn-sq-sm btn-info float-left p-3 mr-2">
							                
							    </a>
							    <span class="mt-1 pl-3">Tersedia</span>
							</div>
							<div class="row mt-3">
								<a href="#" class="btn btn-sq-sm btn-danger float-left p-3 mr-2">
							             
							    </a>
							    <span class="mt-1 pl-3">Tidak Tersedia</span>
							</div>
							<div class="row mt-3">
								<a href="#" class="btn btn-sq-sm btn-warning float-left p-3 mr-2">
							             
							    </a>
							    <span class="mt-1 pl-3">Dipilih</span>
							</div>
							<div class="row mt-5">
								<a href="#" class="btn btn-sq-sm btn-info float-left p-3 mr-2 mx-auto">
							        CONFIRM     
							    </a>
							</div>
						         
						</div>
					</div>
				</p>
			</div>

		</div>
	</div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>