<html>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Informasi Pembayaran
					</h4>
				</div>
				<div *ngIf="pembayaran" class="card-block">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-12">
									<b>Transaksi: {{pembayaran.transaksi.no_transaksi}}</b>
									<p>Nama Pasien: {{nama_pasien}}</p>
									<p>No. Sep: {{pembayaran.transaksi.no_sep}}</p>
									<p>Tipe Pembayaran: {{pembayaran.metode_bayar.toUpperCase()}}</p>
									<p>Waktu Pembayaran: {{pembayaran.created_at}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table">
							<tbody>
								<tr *ngIf="pembayaran.tindakan?.length > 0">
									<th>Tindakan</th>
									<th></th>
									<th>Harga</th>
								</tr>
								<tr *ngFor="let tindakan of pembayaran.tindakan">
									<td>{{tindakan.daftar_tindakan.nama}}</td>
									<td></td>
									<td>Rp. {{tindakan.harga | number: '.2-2'}}</td>
								</tr>
								<tr *ngIf="pembayaran.obat_tebus_item?.length > 0 || pembayaran.obat_eceran_item?.length > 0">
									<th>Obat</th>
									<th></th>
									<th></th>
								</tr>
								<tr *ngFor="let obat of pembayaran.obat_tebus_item">
									<td>{{obat.jenis_obat.merek_obat}}</td>
									<td>{{obat.jumlah}} {{obat.jenis_obat.satuan}} @ Rp. {{obat.harga_jual_realisasi | number: '.2-2'}}</td>
									<td>Rp. {{obat.jumlah * obat.harga_jual_realisasi | number: '.2-2'}}</td>
								</tr>
								<tr *ngFor="let obat of pembayaran.obat_eceran_item">
									<td>{{obat.jenis_obat.merek_obat}}</td>
									<td>{{obat.jumlah}} {{obat.jenis_obat.satuan}} @ Rp. {{obat.harga_jual_realisasi | number: '.2-2'}}</td>
									<td>Rp. {{obat.jumlah * obat.harga_jual_realisasi | number: '.2-2'}}</td>
								</tr>
								<tr *ngIf="pembayaran.pemakaian_kamar_rawat_inap?.length > 0">
									<th>Kamar Rawat Inap</th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
								<tr *ngFor="let kamar of pembayaran.pemakaian_kamar_rawat_inap">
									<td>{{kamar.kamar_rawatinap.jenis_kamar}} Kelas {{kamar.kamar_rawatinap.kelas}}</td>
									<td>{{howLong(kamar.waktu_masuk, kamar.waktu_keluar)}} Hari @ Rp. {{kamar.kamar_rawatinap.harga_per_hari | number: '.2-2'}}</td>
									<td>Rp. {{kamar.harga | number: '.2-2'}}</td>
								</tr>
								<tr>
									<td></td>
									<td><b>Total Pembayaran</b></td>
									<td>Rp. {{pembayaran.harga_bayar | number: '.2-2'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="offset-md-6 col-md-6">
							<button class="btn btn-danger" (click)="goBack()">Kembali</button>
							<button class="btn btn-primary" [routerLink] = "['/transaksi', pembayaran.id_transaksi]">Lihat Transaksi</button>
							<button *ngIf="pembayaran.klaim != null" class="btn btn-primary" [routerLink] = "['/klaim', pembayaran.klaim.id]">Lihat Klaim</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>