<html>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Informasi Pembayaran
					</h4>
				</div>
				<div *ngIf="pembayaran" class="card-block">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-12">
									<b>{{pembayaran.nama_pasien}}</b>
									<p>No. Sep: {{pembayaran.no_sep}}</p>
									<p>Tipe Pembayaran: {{pembayaran.nama_asuransi.toUpperCase()}}</p>
									<p>Tanggal Pembayaran: {{pembayaran.tanggal | date: 'dd/MM/y HH:mm'}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table">
							<tbody>
								<tr>
									<th>Tindakan</th>
									<th></th>
									<th>Harga</th>
								</tr>
								<tr *ngFor="let tindakan of pembayaran.tindakan">
									<td>{{tindakan.nama}}</td>
									<td></td>
									<td>Rp {{tindakan.harga | number: '.2-2'}}</td>
								</tr>
								<tr>
									<th>Obat</th>
									<th></th>
									<th></th>
								</tr>
								<tr *ngFor="let obat of pembayaran.obat">
									<td>{{obat.nama}}</td>
									<td>{{obat.jumlah}} {{obat.satuan}}</td>
									<td>Rp {{obat.jumlah * obat.harga_satuan | number: '.2-2'}}</td>
								</tr>
								<tr>
									<td></td>
									<td><b>Total Pembayaran</b></td>
									<td>Rp {{pembayaran.harga | number: '.2-2'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="offset-md-6 col-md-6">
							<button class="btn btn-danger" (click)="goBack()">Kembali</button>
							<button class="btn btn-primary" [routerLink] = "['/transaksi', pembayaran.id_transaksi]">Lihat Transaksi</button>
							<button *ngIf="pembayaran.id_klaim != 0" class="btn btn-primary" [routerLink] = "['/klaim', pembayaran.id_klaim]">Lihat Klaim</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>