<html lang="en">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Daftar Pembayaran
					</h4>
				</div>
				<div class="card-block">
					<div>
						<table class="table" [mfData]="allPembayaran" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
							<tbody>
								<tr>
									<th><mfDefaultSorter by="no_transaksi">Nomor Transaksi</mfDefaultSorter></th>
									<th><mfDefaultSorter by="created_at">Waktu Pembayaran</mfDefaultSorter></th>
									<th>Metode Pembayaran</th>
									<th></th>
								</tr>
								<tr>
									<td>
										<div class="col-md-12 input-group">
											<input type="text" class="form-control" [(ngModel)]="searchParam" placeholder="Nama Pasien">
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group" id="datetimepicker">
												<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal Transaksi">
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group">
											<select class="form-control" [(ngModel)]="asuransi" id="metodeDropdown">
												<option *ngFor="let asuransi of allAsuransi">
													{{asuransi.toUpperCase()}}
												</option>
											</select>
										</div>
									</td>
									<td></td>
								</tr>
								<tr *ngFor="let pembayaran of mf.data | filterNamaPasien: searchParam | filterNamaAsuransi: asuransi | filterTanggal: selectedDate">
									<td>{{pembayaran.transaksi.no_transaksi}}</td>								
									<td>{{pembayaran.created_at | date: 'dd/MM/y HH:mm'}}</td>
									<td>{{pembayaran.metode_bayar.toUpperCase()}}</td>
									<td><button type="button" class="btn btn-primary" [routerLink] = "['/pembayaran', pembayaran.id]">Details</button></td>
								</tr>
							</tbody>
							<tfoot>
				                <tr>
				                    <td colspan="7">
				                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
				                    </td>
				                </tr>
			                </tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>