<html>
	<div id="invoice" class="row">
		<div class="col-md-12">
			<div class="row">
				<table class="table">
					<tbody>
						<tr *ngIf="pembayaran.tindakan?.length > 0">
							<th>Tindakan</th>
							<th></th>
							<th>Harga</th>
						</tr>
						<tr *ngFor="let tindakan of pembayaran.tindakan">
							<td>{{tindakan.daftar_tindakan.nama}}</td>
							<td></td>
							<td>Rp. {{tindakan.harga | number: '.2-2'}}</td>
						</tr>
						<tr *ngIf="pembayaran.pemakaian_kamar_rawat_inap?.length > 0">
							<th>Kamar Rawat Inap</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr *ngFor="let kamar of pembayaran.pemakaian_kamar_rawat_inap">
							<td>{{kamar.kamar_rawatinap.jenis_kamar}} Kelas {{kamar.kamar_rawatinap.kelas}}</td>
							<td>{{howLong(kamar.waktu_masuk, kamar.waktu_keluar)}} Hari @ Rp. {{kamar.kamar_rawatinap.harga_per_hari | number: '.2-2'}}</td>
							<td>Rp. {{kamar.harga | number: '.2-2'}}</td>
						</tr>
						<tr>
							<td></td>
							<td><b>Total</b></td>
							<td>Rp. {{pembayaran.harga_bayar | number: '.2-2'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</html>