  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Daftar Obat Resep
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="row">
						<div class="col-md-6 pull-left">
							<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal tebus">
						</div>
						<div class="col-md-6 pull-right">
							<div class="input-group">							
							    <input type="text" class="form-control" [(ngModel)]="param" placeholder="Cari ID transaksi/ID pasien/nama pasien"/>
							</div>
						</div>
					</div>

					<table class="table" [mfData]="allObatResep | filterWaktuKeluar: selectedDate | filterObatResep: param" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tbody>
							<tr>
								<th><mfDefaultSorter by="id_transaksi">ID Transaksi</mfDefaultSorter></th>
								<th><mfDefaultSorter by="id_pasien">ID Pasien</mfDefaultSorter></th>
								<th><mfDefaultSorter by="nama_pasien">Nama Pasien</mfDefaultSorter></th>
								<th><mfDefaultSorter by="waktu_keluar">Waktu Tebus</mfDefaultSorter></th>
								<th></th>
							</tr>
							<tr *ngFor="let obatResep of mf.data">
								<td>{{obatResep.id_transaksi}}</td>
								<td>{{obatResep.id_pasien}}</td>
								<td>{{obatResep.nama_pasien}}</td>
								<td>{{obatResep.waktu_keluar | date:'d MMM y H:mm:ss'}}</td>
								<td><button type="button" class="btn btn-primary" [routerLink] = "['/obat-resep', obatResep.id]">Detail</button></td>
							</tr>						
						</tbody>	
						<tfoot>
			                <tr>
			                    <td colspan="7">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>			
					</table>

					<div class="pull-left">
						<a routerLink="/obat-resep-form"><button type="button" class="btn btn-primary">Tambah obat resep</button></a>
					</div>
				</div>
			</div>	
		</div>
	</div>