  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Daftar Obat
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">
					<div class="row">
						<div class="col-md-6 pull-left">
							<div class="input-group">
							  	<label for="lokasi"><b>Lokasi:</b></label>
						  		<select class="form-control" [(ngModel)]="lokasi">	
						  			<option></option>
						  			<option *ngFor="let lokasiObat of allLokasiObat">{{lokasiObat.nama}}</option>
						  		</select>
							</div>
						</div>

						<div class="col-md-6 pull-right">
							<div class="input-group">							
							    <input type="text" class="form-control" [(ngModel)]="param" placeholder="Cari kode/merek obat"/>
							</div>
						</div>
					</div>

					<table class="table" [mfData]="allStokObat | filterStokObat : lokasi : param" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<tbody>
							<tr>
								<th><mfDefaultSorter by="obat_masuk.barcode">Kode Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jenis_obat.merek_obat">Merek Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.harga_beli_satuan">Harga Beli Satuan</mfDefaultSorter></th>
								<th><mfDefaultSorter by="obat_masuk.kadaluarsa">Kadaluarsa</mfDefaultSorter></th>
								<th><mfDefaultSorter by="jumlah">Jumlah</mfDefaultSorter></th>
								<th><mfDefaultSorter by="lokasi_data.nama">Lokasi</mfDefaultSorter></th>
								<th></th>
							</tr>
							<tr *ngFor="let stokObat of mf.data">
								<td>{{stokObat.obat_masuk.barcode}}</td>
								<td>{{stokObat.jenis_obat.merek_obat}}</td>
								<td>Rp. {{stokObat.obat_masuk.harga_beli_satuan}}</td>	
								<td>{{stokObat.obat_masuk.kadaluarsa | date:'d MMM y'}}</td>	
								<td>{{stokObat.jumlah}}</td>						
								<td>{{stokObat.lokasi_data.nama}}</td>		
								<td><button type="button" class="btn btn-primary" [routerLink] = "['/stok-obat', stokObat.id]">Detail</button></td>
							</tr>						
						</tbody>	
						<tfoot>
			                <tr>
			                    <td colspan="8">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>			
					</table>
				</div>
			</div>	
		</div>
	</div>