  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-newspaper-o" aria-hidden="true"></i> Detail Obat
				</h4>
			</div>
			<div *ngIf="stokObat" class="card-block">
				<div class="card-text">
					<table class="table">
						<tbody>
							<tr>
								<td><b>Kode Obat</b></td>
								<td>{{stokObat.barcode}}</td>	
							</tr>
							<tr>
								<td><b>ID Jenis Obat</b></td>
								<td>{{stokObat.id_jenis_obat}}</td>	
							</tr>
							<tr>
								<td><b>Merek Obat</b></td>								
								<td>{{stokObat.jenis_obat.merek_obat}}</td>								
							</tr>
							<tr>
								<td><b>Nama Generik</b></td>
								<td>{{stokObat.jenis_obat.nama_generik}}</td>								
							</tr>
							<tr>
								<td><b>Pembuat</b></td>
								<td>{{stokObat.jenis_obat.pembuat}}</td>								
							</tr>
							<tr>
								<td><b>Golongan</b></td>
								<td>{{stokObat.jenis_obat.golongan}}</td>
							</tr>
							<tr>
								<td><b>Satuan</b></td>					
								<td>{{stokObat.jenis_obat.satuan}}</td>
							</tr>
							<tr>
								<td><b>Harga Jual Satuan</b></td>								
								<td>Rp. {{stokObat.jenis_obat.harga_jual_satuan}}</td>
							</tr>
							<tr>
								<td><b>Nomor Batch</b></td>								
								<td>{{stokObat.nomor_batch}}</td>
							</tr>
							<tr>
								<td><b>Kadaluarsa</b></td>								
								<td>{{stokObat.kadaluarsa | date:'d MMM y'}}</td>
							</tr>
							<tr>
								<td><b>Jumlah</b></td>								
								<td>{{stokObat.jumlah}}</td>
							</tr>
							<tr>
								<td><b>Lokasi</b></td>								
								<td>{{stokObat.lokasi_data.nama}}</td>
							</tr>
							<tr>
								<td><b>Keterangan</b></td>								
								<td>{{stokObat.keterangan}}</td>
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="offset-md-8 col-md-4">
							<button class="btn btn-danger" (click)="goBack()">Kembali</button>
							<button class="btn btn-warning">Edit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>