  <div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header card-info">
				<h4>
					<i class="fa fa-list-alt" aria-hidden="true"></i> Daftar Jenis Obat
				</h4>
			</div>
			<div class="card-block">
				<div class="card-text">												
					<input class="form-control"  [(ngModel)]="param" placeholder="Cari ID jenis/merek/nama generik obat"/>
					<table class="table" [mfData]="allJenisObat | filterJenisObat : param" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<thead>
							<tr>
								<th><mfDefaultSorter by="id">ID Jenis Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="merek_obat">Merek Obat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="nama_generik">Nama Generik</mfDefaultSorter></th>
								<th><mfDefaultSorter by="pembuat">Pembuat</mfDefaultSorter></th>
								<th><mfDefaultSorter by="golongan">Golongan</mfDefaultSorter></th>
								<th><mfDefaultSorter by="satuan">Satuan</mfDefaultSorter></th>							
								<th><mfDefaultSorter by="harga_jual_satuan">Harga Jual</mfDefaultSorter></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let jenisObat of mf.data">
								<td>{{jenisObat.id}}</td>
								<td>{{jenisObat.merek_obat}}</td>
								<td>{{jenisObat.nama_generik}}</td>
								<td>{{jenisObat.pembuat}}</td>
								<td>{{jenisObat.golongan}}</td>
								<td>{{jenisObat.satuan}}</td>
								<td>Rp. {{jenisObat.harga_jual_satuan}}</td>								
								<td><button type="button" class="btn btn-primary" [routerLink] = "['/jenis-obat', jenisObat.id]">Detail</button></td>
							</tr>
						</tbody>		
						<tfoot>
			                <tr>
			                    <td colspan="8">
			                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
			                    </td>
			                </tr>
		                </tfoot>		
					</table>
				
					<div class="pull-left">
						<a routerLink="/jenis-obat-form"><button type="button" class="btn btn-primary">Tambah jenis obat</button></a>
					</div>					  	
				</div>
			</div>	
		</div>
	</div>