  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header card-info">
        <h4>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Edit Jenis Obat
        </h4>
      </div>

      <div class="card-block">
        <div class="card-text">
          <form #jenisObatForm="ngForm">
            <div class="form-group">
              <label for="merek_obat">Merek *</label>
              <input type="text" class="form-control" id="merek_obat" disabled name="merek_obat" value={{jenisObat.merek_obat}}>
            </div>

            <div class="form-group">
              <label for="nama_generik">Nama Generik *</label>
              <input type="text" class="form-control" id="nama_generik" disabled  name="nama_generik" value={{jenisObat.nama_generik}}>
            </div>

            <div class="form-group">
              <label for="pembuat">Pembuat</label>
              <input type="text" class="form-control" id="pembuat" disabled name="pembuat" value={{jenisObat.pembuat}}>
            </div>

            <div class="form-group">
              <label for="golongan">Golongan *</label>
              <input type="text" class="form-control" id="golongan" disabled name="golongan" value={{jenisObat.golongan}}>
            </div>

            <div class="form-group">
              <label for="satuan">Satuan</label>
              <input type="text" class="form-control" id="satuan" disabled name="satuan" value={{jenisObat.satuan}}>
            </div>

            <div class="form-group">
              <label for="harga_jual_satuan">Harga jual satuan</label>
              <input type="text" class="form-control" id="harga_jual_satuan" name="harga_jual_satuan" [(ngModel)] = "jenisObat.harga_jual_satuan">
            </div>

            <button type="submit" class="btn btn-success" (click)="save()">Simpan</button>
          </form>
        </div>
      </div>
    </div>
  </div>