  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header card-info">
        <h4>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> Merek Obat Baru
        </h4>
      </div>

      <div class="card-block">
        <div class="card-text">
          <form #jenisObatForm="ngForm">
            <div class="form-group">
              <label for="merek_obat">Merek Obat *</label>
              <input type="text" class="form-control" id="merek_obat" required [(ngModel)] = "jenisObat.merek_obat" name="merek_obat">
            </div>

            <div class="form-group">
              <label for="nama_generik">Nama Generik *</label>
              <input type="text" class="form-control" id="nama_generik" required [(ngModel)] = "jenisObat.nama_generik" name="nama_generik">
            </div>

            <div class="form-group">
              <label for="pembuat">Pembuat *</label>
              <input type="text" class="form-control" id="pembuat" required [(ngModel)] = "jenisObat.pembuat" name="pembuat">
            </div>

            <div class="form-group">
              <label for="golongan">Golongan *</label>
              <input type="text" class="form-control" id="golongan" required [(ngModel)] = "jenisObat.golongan" name="golongan">
            </div>

            <div class="form-group">
              <label for="satuan">Satuan *</label>
              <input type="text" class="form-control" id="satuan" required [(ngModel)] = "jenisObat.satuan" name="satuan">
            </div>

            <div class="form-group">
              <label for="harga_jual_satuan">Harga jual satuan *</label>
              <input type="text" class="form-control" id="harga_jual_satuan" required [(ngModel)] = "jenisObat.harga_jual_satuan" name="harga_jual_satuan">
            </div>

            <div class="form-group">
              <div class="input-group">
                <label for="dicover_bpjs">Dicover BPJS? *</label>
                <input type="checkbox" class="form-control" id="dicover_bpjs" [checked]="jenisObat.dicover_bpjs" (change)="jenisObat.dicover_bpjs = !jenisObat.dicover_bpjs" name="dicover_bpjs">
              </div>
            </div>

            <button type="submit" class="btn btn-success" (click)="save()">Simpan</button>
          </form>
        </div>
      </div>
    </div>
  </div>