<html>
  <div class="row">
    <div class="col-md-12">
      <blockquote class="blockquote">
        <p class="h4 mb-0"><b>Dashboard Dokter</b></p>
      </blockquote>
    </div>
  </div>
  <ng2-toasty [position]="'top-center'"></ng2-toasty>
  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h5 class="text-center mb-0"><b>Lihat Pasien Poliklinik</b></h5>
            </div>
            <div class="card-block">
              <label for="selectPoli">Pilih poliklinik</label>
              <select class="form-control mb-3" id="selectPoli" [(ngModel)]="selectedPoliklinik" name="selectPoli">
                <ng-container *ngFor="let poliklinik of allPoliklinik">
                  <option *ngIf="poliklinik.nama != 'IGD'" [ngValue]="poliklinik">
                    {{poliklinik.nama}}
                  </option>
                </ng-container>
              </select>

              <div *ngIf="selectedPoliklinik != null">
                <button type="button mr-3" class="btn btn-info" (click)="showDaftarPasien()">
                  Lihat Daftar Pasien {{selectedPoliklinik.nama}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h5 class="text-center mb-0"><b>Pasien rujukan</b></h5>
            </div>
            <div class="card-block">
              <div class="card card-outline-info">
                <div class="card-block">
                  <span *ngIf="transaksiRujukan == null">Tidak ada pasien rujukan</span>
                  <table *ngIf="transaksiRujukan != null" class="table borderless">
                    <tbody>
                      <tr>
                        <th scope="row">No Transaksi</th>
                        <td>{{transaksiRujukan.transaksi.no_transaksi}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Nama Pasien</th>
                        <td>{{transaksiRujukan.transaksi.pasien.nama_pasien}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <button type="button" class="btn btn-success" [routerLink]="['/poliklinik', nama_poli, transaksiRujukan.transaksi.id]">
                            Proses
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h5 class="text-center mb-0"><b>Ambulans</b></h5>
            </div>
            <div class="card-block text-center">
              <button type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#pemakaianAmbulansModal'">
                Tambah Pemakaian Ambulans
              </button>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h5 class="text-center mb-0">
                <b>
                  Antrian Pasien {{poliklinikSelected && selectedPoliklinik.nama || ''}}
                </b>
              </h5>
            </div>
            <div class="card-block">
              <div class="mb-2">
                <span *ngIf="!poliklinikSelected">
                  Pilih poliklinik dulu untuk melihat antrian
                </span>
                <span *ngIf="poliklinikSelected && allAntrian.length == 0">
                  Tidak ada pasien yang mengantri
                </span>
              </div>

              <div *ngIf="allOnProcessAntrian.length > 0" class="card card-outline-info mb-3">
                <div class="card-block">
                  <table class="table mt-3" [mfData]="allOnProcessAntrian" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead class="thead" style="background-color: #5bc0de; text-color=#ffffff;">
                      <tr>
                        <th colspan="3">Pasien yang harus diproses</th>
                      </tr>
                      <tr>
                        <th><mfDefaultSorter by="nama">Nama Pasien</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="no_antrian">Nomor Antrian</mfDefaultSorter></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let antrian of mf.data">
                        <td class="text-left">{{antrian.transaksi.pasien.nama_pasien}}</td>
                        <td>{{antrian.no_antrian}}</td>
                        <td>
                          <button type="button" class="btn btn-sm btn-success" (click)="prosesAntrian(antrian.transaksi.id, antrian.no_antrian)">
                            Proses
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="3">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>

              <div *ngIf="allAntrian.length > 0" class="card card-outline-info mb-3">
                <div class="card-block">
                  <table class="table" [mfData]="allAntrian" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead class="thead" style="background-color: #5bc0de; text-color=#ffffff;">
                      <tr>
                        <th colspan="2">Pasien yang sedang mengantri</th>
                      </tr>
                      <tr>
                        <th><mfDefaultSorter by="nama">Nama Pasien</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="no_antrian">Nomor Antrian</mfDefaultSorter></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let antrian of mf.data">
                        <td class="text-left">{{antrian.transaksi.pasien.nama_pasien}}</td>
                        <td>{{antrian.no_antrian}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>

              <div *ngIf="allProcessedAntrian.length > 0" class="card card-outline-info mb-3">
                <div class="card-block">
                  <table class="table mt-3" [mfData]="allProcessedAntrian" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead class="thead" style="background-color: #5bc0de; text-color=#ffffff;">
                      <tr>
                        <th colspan="2">Pasien yang sudah diproses</th>
                      </tr>
                      <tr>
                        <th><mfDefaultSorter by="nama">Nama Pasien</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="no_antrian">Nomor Antrian</mfDefaultSorter></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let antrian of mf.data">
                        <td class="text-left">{{antrian.transaksi.pasien.nama_pasien}}</td>
                        <td>{{antrian.no_antrian}}</td>
                        <td>
                          <button type="button" class="btn btn-sm btn-success" [routerLink] = "['/rekam_medis', selectedPoliklinik.nama, antrian.id_transaksi, antrian.transaksi.pasien.id]">
                            Lihat Rekam Medis
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="row" *ngIf="allPemakaianICU.length > 0">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h5 class="text-center mb-0"><b>ICU</b></h5>
            </div>
            <div class="card-block">
              <label for="selectPoli">Pilih Kamar ICU</label>
              <select class="form-control mb-3" id="selectICU" [(ngModel)]="selectedPemakaianICU" name="selectICU">
                <option *ngFor="let icu of allPemakaianICU" [ngValue]="icu">{{icu.no_kamar}}</option>
              </select>

              <button type="button mr-3" class="btn btn-info" (click)="showDaftarPasienICU()">
                Lihat Daftar Pasien
              </button>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h5 class="text-center mb-0">
                <b>
                  Daftar Pasien ICU {{icuSelected && selectedPemakaianICU.no_kamar || ''}}
                </b>
              </h5>
            </div>
            <div class="card-block">
              <div class="mb-2">
                <span *ngIf="!icuSelected">
                  Pilih kamar icu dulu untuk melihat daftar pasien
                </span>
              </div>

              <div *ngIf="icuSelected" class="card card-outline-info mb-3">
                <div class="card-block">
                  <table class="table mt-3" [mfData]="allDaftarPemakaianICU" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead class="thead" style="background-color: #5bc0de; text-color=#ffffff;">
                      <tr>
                        <th><mfDefaultSorter by="nama">Nama Pasien</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="no_antrian">Nomor Tempat Tidur</mfDefaultSorter></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let icu of mf.data">
                        <td class="text-left">{{icu.nama_pasien}}</td>
                        <td>{{icu.no_tempat_tidur}}</td>
                        <td>
                          <button type="button" class="btn btn-sm btn-success" (click)="periksaICU(icu.id_transaksi, icu.id)">
                            Periksa
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="3">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="row" *ngIf="allPemakaianRawatinap.length > 0"> 

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h5 class="text-center mb-0"><b>Rawat Inap</b></h5>
            </div>
            <div class="card-block">
              <label for="selectPoli">Pilih Kamar Rawat Inap</label>
              <select class="form-control mb-3" id="selectRawatinap" [(ngModel)]="selectedPemakaianRawatinap" name="selectRawatinap">
                <option *ngFor="let rawatinap of allPemakaianRawatinap" [ngValue]="rawatinap">{{rawatinap.no_kamar}}</option>
              </select>

              <button type="button mr-3" class="btn btn-info" (click)="showDaftarPasienRawatinap()">
                Lihat Daftar Pasien
              </button>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h5 class="text-center mb-0">
                <b>
                  Daftar Pasien Rawat Inap {{rawatinapSelected && selectedPemakaianRawatinap.no_kamar || ''}}
                </b>
              </h5>
            </div>
            <div class="card-block">
              <div class="mb-2">
                <span *ngIf="!rawatinapSelected">
                  Pilih kamar rawat inap dulu untuk melihat daftar pasien
                </span>
              </div>

              <div *ngIf="rawatinapSelected" class="card card-outline-info mb-3">
                <div class="card-block">
                  <table class="table mt-3" [mfData]="allDaftarPemakaianRawatinap" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead class="thead" style="background-color: #5bc0de; text-color=#ffffff;">
                      <tr>
                        <th><mfDefaultSorter by="nama">Nama Pasien</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="no_antrian">Nomor Tempat Tidur</mfDefaultSorter></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rawatinap of mf.data">
                        <td class="text-left">{{rawatinap.nama_pasien}}</td>
                        <td>{{rawatinap.no_tempat_tidur}}</td>
                        <td>
                          <button type="button" class="btn btn-sm btn-success" (click)="periksaRawatinap(rawatinap.id_transaksi, rawatinap.id)">
                            Periksa
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="3">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>



  <div class="row" *ngIf="allPemakaianOperasi.length > 0"> 
    <div class="col-md-12">
      <div class="card mb-3">
				<div class="card-header card-info">
          <h5 class="text-center mb-0"><b>Operasi</b></h5>
				</div>

				<div class="card-block">
          <div class="row">
						<div class="col-md-6 pull-left">
							<div class="input-group">							
							    <input type="text" class="form-control" [(ngModel)]="param" placeholder="No.Kamar/Nama Pasien"/>
							</div>
						</div>
					</div>

					<table class="table">
                        
						<thead>
							<th>Nama Kamar</th>
              <th>Nama Pasien</th>
							<th>Nama Tindakan</th>
							<th>Waktu Masuk</th>
							<th></th>
							<tr>
						</thead>
						
						<tbody *ngFor="let kamaroperasi of allPemakaianOperasi | filterWaktuKeluar: selectedDate">
							<tr>
								<td>{{kamaroperasi?.no_kamar}}</td>
                <td>{{kamaroperasi?.nama_pasien}}</td>
								<td>{{kamaroperasi?.nama_tindakan}}</td>
                <td>{{kamaroperasi?.waktu_masuk_real | date:'d MMM y H:mm'}}</td>
                
                <button type="button" class="btn btn-sm btn-info" (click)="operasi(kamaroperasi.no_kamar,kamaroperasi.id,kamaroperasi.id_transaksi)">
                    Operasi
                </button>
							</tr>
						</tbody>
          </table>
        </div>
      </div>
  </div>
  </div>

  



  


  <div class="modal fade" tabindex="-1" role="dialog" id="pemakaianAmbulansModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Pemakaian Ambulans</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="searchTransaksi">
              Cari transaksi dengan kode pasien
            </label>
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="searchKodePasien" id="searchTransaksi" name="searchTransaksi" (keydown)="onEnter($event)">
              <div class="input-group-btn">
                <button type="button" class="btn btn-success" (click)="searchTransaksi()">
                  Cari
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="transaksiAmbulans != null">
            <table class="table mb-3" *ngIf="transaksiAmbulans.allTransaksi[0] != null">
              <tbody>
                <tr>
                  <th scope="row" class="text-left">Nama Pasien</th>
                  <td>{{transaksiAmbulans.allTransaksi[0].pasien.nama_pasien}}</td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Nomor Transaksi</th>
                  <td>{{transaksiAmbulans.allTransaksi[0].no_transaksi}}</td>
                </tr>
              </tbody>
            </table>
            <div class="form-group" *ngIf="transaksiAmbulans.allTransaksi[0] != null">
              <label for="selectAmbulans">Pilih Ambulans</label>
              <select class="form-control mb-3" id="selectAmbulans" [(ngModel)]="selectedAmbulans" name="selectAmbulans">
                <option *ngFor="let ambulans of allAmbulans" [ngValue]="ambulans">{{ambulans.nama}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="selectedAmbulans == null || transaksiAmbulans == null" (click)="pemakaianAmbulans()">
            Pakai Ambulans
          </button>
        </div>

      </div>
    </div>
  </div>

</html>
