<html>
  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h4 class="text-center mb-0"><b>Poliklinik</b></h4>
            </div>
            <div class="card-block">
              <label for="selectPoli">Pilih poliklinik</label>
              <select class="form-control mb-3" id="selectPoli" [(ngModel)]="selectedPoliklinik" name="selectPoli">
                <option *ngFor="let poliklinik of allPoliklinik" [ngValue]="poliklinik">{{poliklinik.nama}}</option>
              </select>

              <div *ngIf="selectedPoliklinik != null">
                <button type="button mr-3" class="btn btn-info" (click)="showDaftarPasien()">
                  Lihat Daftar Pasien {{selectedPoliklinik.nama}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h4 class="text-center mb-0"><b>Pasien yang harus diperiksa</b></h4>
            </div>
            <div class="card-block">
              <div class="card card-outline-info">
                <div class="card-block">
                  <span *ngIf="currentTransaksi == null">Belum ada pasien</span>
                  <table *ngIf="currentTransaksi != null" class="table borderless">
                    <tbody>
                      <tr>
                        <th scope="row">No Transaksi</th>
                        <td>{{currentTransaksi.transaksi.no_transaksi}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Nama Pasien</th>
                        <td>{{currentTransaksi.transaksi.pasien.nama_pasien}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <button type="button" class="btn btn-success" [routerLink]="['/poliklinik', nama_poli, currentTransaksi.transaksi.id]">
                            Proses
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h4 class="text-center mb-0"><b>Ambulans</b></h4>
            </div>
            <div class="card-block text-center">
              <button type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#panggilAmbulansModal'">
                Panggil Ambulans
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h4 class="text-center mb-0">
                <b>
                  Antrian Pasien {{poliklinikSelected && selectedPoliklinik.nama || ''}}
                </b>
              </h4>
            </div>
            <div class="card-block">
              <div class="card card-outline-info">
                <div class="card-block">
                  <span *ngIf="!poliklinikSelected">
                    Pilih poliklinik dulu untuk melihat antrian
                  </span>
                  <span *ngIf="poliklinikSelected && allAntrian.length == 0">
                    Tidak ada pasien yang mengantri
                  </span>
                  <table *ngIf="allAntrian.length > 0" class="table mt-3" [mfData]="allAntrian" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                      <th><mfDefaultSorter by="nama">Nama Pasien</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="no_antrian">No Antrian</mfDefaultSorter></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let antrian of mf.data">
                        <td class="text-left">{{antrian.transaksi.pasien.nama_pasien}}</td>
                        <td>{{antrian.no_antrian}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="panggilAmbulansModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Pemakaian Ambulans</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>

        <div class="modal-body">
          <label for="selectAmbulans">Pilih Ambulans</label>
          <select class="form-control mb-3" id="selectAmbulans" [(ngModel)]="selectedAmbulans" name="selectAmbulans">
            <option *ngFor="let ambulans of allAmbulans" [ngValue]="ambulans">{{ambulans.nama}}</option>
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="panggilAmbulans()">Panggil</button>
        </div>

      </div>
    </div>
  </div>

</html>
