<html>
	<div class="row">
		<div class="col-md-12">

			<div class="card mb-3">
				<div class="card-header card-info">
					<h4>Daftar Jadwal Dokter</h4>
				</div>

				<div class="card-block">
					<table class="table" [mfData]="allJadwalDokter" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<thead>
							<th><mfDefaultSorter by="nama_poliklinik">Nama Poliklinik</mfDefaultSorter></th>
							<th><mfDefaultSorter by="nama_dokter">Nama Dokter</mfDefaultSorter></th>
							<th><mfDefaultSorter by="tanggal">Tanggal</mfDefaultSorter></th>
							<th><mfDefaultSorter by="waktu_mulai_praktik">Waktu Mulai</mfDefaultSorter></th>
							<th><mfDefaultSorter by="waktu_selesai_praktik">Waktu Selesai</mfDefaultSorter></th>
							<th></th>
						</thead>
						<tbody *ngFor="let jadwalDokter of mf.data">
							<tr>
								<td>{{jadwalDokter?.nama_poliklinik}}</td>
								<td>{{jadwalDokter?.nama_dokter}}</td>
								<td>{{jadwalDokter?.tanggal}}</td>
								<td>{{jadwalDokter?.waktu_mulai_praktik}}</td>
								<td>{{jadwalDokter?.waktu_selesai_praktik}}</td>
								<td>
									<button class="btn btn-info">Edit</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
	            <tr>
	              <td colspan="7">
	                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
	              </td>
	            </tr>
	          </tfoot>						
					</table>
				</div>

			</div>
		</div>
	</div>
</html>