<html>
  <div class="row">
    <div class="col-md-12">
      <blockquote class="blockquote">
        <p class="h4 mb-0"><b>Dashboard Perawat</b></p>
      </blockquote>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-header card-info">
              <h5 class="text-center mb-0"><b>Lihat Antrian Poliklinik</b></h5>
            </div>
            <div class="card-block">
              <label for="selectPoli">Pilih poliklinik</label>
              <select class="form-control mb-3" id="selectPoli" [(ngModel)]="selectedPoliklinik" name="selectPoli">
                <ng-container *ngFor="let poliklinik of allPoliklinik">
                  <option *ngIf="poliklinik.nama != 'IGD'" [ngValue]="poliklinik">
                    {{poliklinik.nama}}
                  </option>
                </ng-container>
              </select>

              <div *ngIf="selectedPoliklinik != null">
                <button type="button mr-3" class="btn btn-info" [routerLink]="['/antrian', selectedPoliklinik.nama]">
                  Lihat Antrian {{selectedPoliklinik.nama}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header card-info">
          <h5 class="text-center mb-0"><b>Ambulans</b></h5>
        </div>
        <div class="card-block text-center">
          <button type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#pemakaianAmbulansModal'">
            Tambah Pemakaian Ambulans
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="pemakaianAmbulansModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Pemakaian Ambulans</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="searchTransaksi">
              Cari transaksi dengan kode pasien
            </label>
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="searchKodePasien" id="searchTransaksi" name="searchTransaksi" (keydown)="onEnter($event)">
              <div class="input-group-btn">
                <button type="button" class="btn btn-success" (click)="searchTransaksi()">
                  Cari
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="transaksiAmbulans != null">
            <table class="table mb-3" *ngIf="transaksiAmbulans.allTransaksi[0] != null">
              <tbody>
                <tr>
                  <th scope="row" class="text-left">Nama Pasien</th>
                  <td>{{transaksiAmbulans.allTransaksi[0].pasien.nama_pasien}}</td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Nomor Transaksi</th>
                  <td>{{transaksiAmbulans.allTransaksi[0].no_transaksi}}</td>
                </tr>
              </tbody>
            </table>
            <div class="form-group" *ngIf="transaksiAmbulans.allTransaksi[0] != null">
              <label for="selectAmbulans">Pilih Ambulans</label>
              <select class="form-control mb-3" id="selectAmbulans" [(ngModel)]="selectedAmbulans" name="selectAmbulans">
                <option *ngFor="let ambulans of allAmbulans" [ngValue]="ambulans">{{ambulans.nama}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="selectedAmbulans == null || transaksiAmbulans == null" (click)="pemakaianAmbulans()">
            Pakai Ambulans
          </button>
        </div>

      </div>
    </div>
  </div>
</html>
