<html>
  <div class="row">
    <div class="col-md-12">

      <div class="card mb-3">
        <div class="card-header card-info">
          <h5 class="mb-0"><b>Laboratorium</b></h5>
        </div>
        <div class="card-block">
          <label for="selectLaboratorium">Pilih laboratorium</label>
          <select class="form-control mb-3" id="selectLaboratorium" [(ngModel)]="selectedLaboratorium" name="selectLaboratorium">
            <option *ngFor="let laboratorium of allLaboratorium" [ngValue]="laboratorium">{{laboratorium.nama}}</option>
          </select>

          <div *ngIf="selectedLaboratorium != null">
            <button type="button mr-3" class="btn btn-info" [routerLink]="['/antrian', selectedLaboratorium.nama]">
              Lihat Antrian ke {{selectedLaboratorium.nama}}
            </button>
          </div>
        </div>
      </div>

      <div class="card mb-3">
				<div class="card-header card-info">
					<h5 class="mb-0"><b>Lihat Hasil Lab</b></h5>
				</div>
				<div class="card-block">
          <div class="form-group">
            <label for="search">Cari hasil lab dengan kode pasien</label>
            <div class="input-group">
              <input type="text" class="form-control" id="search" [(ngModel)]="searchTerm" (keydown)="onEnter($event)">
              <span class="input-group-btn">
                <button type="button" class="btn btn-success" (click)="searchHasilLab()">
                  Cari
                </button>
              </span>
            </div>
          </div>

					<table class="table" *ngIf="allHasilLab.length > 0" [mfData]="allHasilLab" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<thead>
							<th><mfDefaultSorter by="nama_tindakan">Tindakan</mfDefaultSorter></th>
							<th><mfDefaultSorter by="nama_pasien">Pasien</mfDefaultSorter></th>
							<th><mfDefaultSorter by="no_transaksi">No Transaksi</mfDefaultSorter></th>
							<th><mfDefaultSorter by="tanggal_waktu">Tanggal</mfDefaultSorter></th>
              <th></th>
						</thead>
						<tbody *ngFor="let hasilLab of mf.data">
							<tr>
								<td>{{hasilLab.tindakan.daftar_tindakan.nama}}</td>
								<td>{{hasilLab.tindakan.pasien.nama_pasien}}</td>
								<td>{{hasilLab.transaksi.no_transaksi}}</td>
								<td>{{hasilLab.tindakan.tanggal_waktu | date: 'dd-MMM-yyyy'}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-info" (click)="downloadHasilLab(hasilLab.id)">
                    Lihat dokumen hasil
                  </button>
                </td>
							</tr>
						</tbody>
						<tfoot>
	            <tr>
	              <td colspan="5">
	                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
	              </td>
	            </tr>
	          </tfoot>
					</table>
				</div>
			</div>

      <div class="card mb-3">
        <div class="card-header card-info">
          <h5 class="mb-0"><b>Upload Hasil lab</b></h5>
        </div>
        <div class="card-block">
          <p *ngFor="let alert of alerts">
            <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
          </p>
          <table class="table" *ngIf="allTindakan.length > 0">
            <thead>
              <th>Nama Tindakan</th>
              <th>Nama Pasien</th>
              <th>Nomor Transaksi</th>
              <th>Tanggal</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let tindakan of allTindakan; index as i">
                <td>{{tindakan.daftar_tindakan.nama}}</td>
                <td>{{tindakan.pasien.nama_pasien}}</td>
                <td>{{tindakan.transaksi.no_transaksi}}</td>
                <td>{{tindakan.tanggal_waktu | date: 'dd-MMM-yyyy'}}</td>
                <td>
                    <input type="file" (change)="uploadHasilLab($event, tindakan.transaksi.id, tindakan.id)" class="form-control-file" accept="application/pdf" name="dokumen">
                </td>
              </tr>
            </tbody>
          </table>
          <span *ngIf="allTindakan.length == 0">
            Tidak ada hasil lab yang perlu diupload
          </span>
        </div>
      </div>

    </div>
  </div>
</html>
