<html>
  <div class="row">
    <div class="col-md-12">

      <div class="card mb-3">
        <div class="card-header card-info">
          <h4 class="mb-0">Laboratorium</h4>
        </div>
        <div class="card-block">
          <label for="selectPoli">Pilih laboratorium</label>
          <select class="form-control mb-3" id="selectPoli" [(ngModel)]="selectedLaboratorium" name="selectPoli">
            <option *ngFor="let laboratorium of allLaboratorium" [ngValue]="laboratorium">{{laboratorium.nama}}</option>
          </select>

          <div *ngIf="selectedLaboratorium != null">
            <button type="button mr-3" class="btn btn-info" [routerLink]="['/antrian', selectedLaboratorium.nama]">
              Lihat Antrian ke {{selectedLaboratorium.nama}}
            </button>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header card-info">
          <h5 class="mb-0">Hasil Lab</h5>
        </div>
        <div class="card-block">
          <table class="table" *ngIf="allHasilLab.length > 0">
            <thead>
              <th>Nama Tindakan</th>
              <th>Nama Pasien</th>
              <th>Tanggal</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let hasilLab of allHasilLab; index as i">
                <td>{{hasilLab.tindakan.daftar_tindakan.nama}}</td>
                <td>{{hasilLab.tindakan.pasien.nama_pasien}}</td>
                <td>{{hasilLab.tindakan.tanggal_waktu | date: 'dd-MMM-yyyy'}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-info">
                    Upload hasil lab
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</html>
