<html lang="en">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Daftar Klaim
					</h4>
				</div>
				<div class="card-block">
					<div>
						<table class="table" [mfData]="allKlaim" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
							<tbody>
								<tr>
									<th><mfDefaultSorter by="nama_pasien">Nama Pasien</mfDefaultSorter></th>
									<th><mfDefaultSorter by="created_at">Tanggal Klaim</mfDefaultSorter></th>
									<th>Nama Asuransi</th>
									<th>Status Klaim</th>
									<th></th>
								</tr>
								<tr>
									<td>
										<div class="col-md-12 input-group">
											<input type="text" class="form-control" [(ngModel)]="searchParam" placeholder="Nama Pasien">
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group" id="datetimepicker">
												<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal Klaim">
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group">
											<select class="form-control" [(ngModel)]="nama_asuransi" id="statusDropdown">
												<option *ngFor="let asuransi of allAsuransi">
													{{asuransi.toUpperCase()}}
												</option>
											</select>
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group">
											<select class="form-control" [(ngModel)]="status" id="statusDropdown">
												<option></option>
												<option>PROCESSING</option>
												<option>PROCESSED</option>
												<option>ERROR</option>
											</select>
										</div>
									</td>
									<td></td>
								</tr>
								<tr *ngFor="let klaim of mf.data | filterNamaPasien: searchParam | filterCreatedAt: selectedDate | filterNamaAsuransi: nama_asuransi | matchesStatus: status">
									<td>{{klaim.asuransi.pasien.nama_pasien}}</td>
									<td>{{klaim.created_at}}</td>
									<td>{{klaim.asuransi.nama_asuransi.toUpperCase()}}</td>
									<td>{{klaim.status.toUpperCase()}}</td>								
									<td><button type="button" class="btn btn-primary" [routerLink] = "['/klaim', klaim.id]">Details</button></td>
								</tr>
							</tbody>
							<tfoot>
				                <tr>
				                    <td colspan="7">
				                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
				                    </td>
				                </tr>
			                </tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>