<html lang="en">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Daftar Klaim
					</h4>
				</div>
				<div class="card-block">
					<div class="row" *ngIf="loading">
						<div class="col-md-12">
							<div class="d-flex justify-content-center">
								<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i>
							</div>
						</div>
					</div>
					<div class="row" *ngIf="!loading">
						<div class="col-md-12">
							<div class="card-mb-3">
								<div class="card-header card-info mb-3">
									<ul class="nav nav-tabs card-header-tabs">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#data_klaim" role="tab" style="color: black;">
												<i class="fa fa-files-o" aria-hidden="true"></i> Data Klaim
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#export" role="tab" style="color: black;">
												<i class="fa fa-files-o" aria-hidden="true"></i> Export Data Klaim
											</a>
										</li>
									</ul>
								</div>
								<div class="card-block">
									<div class="tab-content">
										<div class="tab-pane fade show active" id="data_klaim" role="tabpanel">
											<table class="table" [mfData]="allKlaim" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
												<tbody>
													<tr>
														<td>
															<div class="col-md-12 input-group">
																<input type="text" class="form-control" [(ngModel)]="searchParam" placeholder="Nama Pasien">
															</div>
														</td>
														<td>
															<div class="col-md-12 input-group" id="datetimepicker">
																	<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal Klaim">
															</div>
														</td>
														<td>
															<div class="col-md-12 input-group">
																<select class="form-control" [(ngModel)]="nama_asuransi" id="statusDropdown">
																	<option *ngFor="let asuransi of allAsuransi">
																		{{asuransi.toUpperCase()}}
																	</option>
																</select>
															</div>
														</td>
														<td>
															<div class="col-md-12 input-group">
																<select class="form-control" [(ngModel)]="status" id="statusDropdown">
																	<option></option>
																	<option>PROCESSING</option>
																	<option>PROCESSED</option>
																	<option>ERROR</option>
																</select>
															</div>
														</td>
														<td></td>
													</tr>
													<tr>
														<th><mfDefaultSorter by="asuransi.pasien.nama_pasien">Nama Pasien</mfDefaultSorter></th>
														<th><mfDefaultSorter by="created_at">Tanggal Klaim</mfDefaultSorter></th>
														<th>Nama Asuransi</th>
														<th>Status Klaim</th>
														<th></th>
													</tr>
													<tr *ngFor="let klaim of mf.data | filterNamaPasienAsuransi: searchParam | filterCreatedAt: selectedDate | filterNamaAsuransi: nama_asuransi | matchesStatus: status">
														<td>{{klaim.asuransi.pasien.nama_pasien}}</td>
														<td>{{klaim.created_at}}</td>
														<td>{{klaim.asuransi.nama_asuransi.toUpperCase()}}</td>
														<td>{{klaim.status.toUpperCase()}}</td>								
														<td><button type="button" class="btn btn-primary" [routerLink] = "['/klaim', klaim.id]">Details</button></td>
													</tr>
												</tbody>
												<tfoot>
									                <tr>
									                    <td colspan="7">
									                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
									                    </td>
									                </tr>
								                </tfoot>
											</table>
										</div>
										<div class="tab-pane fade" id="export" role="tabpanel">
											<div class="form-group">
								                <label for="tanggal_awal"><b>Tanggal Mulai</b></label>
								                <input id="tanggal_awal" [dpDayPicker]="config" [(ngModel)]="tanggal_awal" class="form-control" theme="dp-material" placeholder="Tanggal Awal" required="true">
				             				</div>
				             				<div class="form-group">
								                <label for="tanggal_akhir"><b>Tanggal Selesai</b></label>
								                <input id="tanggal_akhir" [dpDayPicker]="config" [(ngModel)]="tanggal_akhir" class="form-control" theme="dp-material" placeholder="Tanggal Akhir" required="true">
				             				</div>
				             				<div>
				         						<button type="button" class="btn btn-info" (click)="download()">Unduh Data Klaim</button>
				             				</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>