<html>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Informasi Klaim
					</h4>
				</div>
				<div *ngIf="klaim" class="card-block">
					<div class="row">
						<div class="col-md-12">
							<p>Nama Pasien &nbsp; : {{klaim.nama_pasien}}</p>
							<br>
							<p>Nama Asuransi &nbsp; : {{klaim.nama_asuransi.toUpperCase()}}</p>
							<br>
							<p>Nomor Kartu &nbsp; : {{klaim.nomor_kartu}}</p>
							<br>
							<p>Tanggal Klaim &nbsp; : {{klaim.tanggal | date: 'dd/MM/y HH:mm'}}</p>
							<br>
							<p>Status Klaim &nbsp; : {{klaim.status.toUpperCase()}}</p>
						</div>
					</div>
					<div *ngIf="klaim.status === 'error'" class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-block">
									Error No: E2003
									<br>
									Message : Nomor SEP Terduplikasi
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<table class="table">
									<tbody>
										<tr>
											<td>Jenis Rawat:</td>
											<td *ngIf="transaksi.jenis_rawat === 1">Jalan</td>
											<td *ngIf="transaksi.jenis_rawat === 2">Inap</td>
											<td>Kelas Rawat</td>
											<td *ngIf="transaksi.jenis_rawat === 1">Reguler</td>
											<td *ngIf="transaksi.jenis_rawat === 2">Kelas {{transaksi.kelas_rawat}}</td>
										</tr>
										<tr>
											<td>Tanggal Rawat: </td>
											<td>Masuk: {{transaksi.tanggal | date: 'dd-MM-y HH:mm:ss'}} Pulang: {{transaksi.pelunasan | date: 'dd-MM-y HH:mm:ss'}}</td>
											<td>Berat Lahir (gr)</td>
											<td>0</td>
										</tr>
										<tr>
											<td>LOS (hari)</td>
											<td>0</td>
											<td>Cara Pulang</td>
											<td>Atas Persetujuan Dokter</td>
										</tr>
										<tr>
											<td>ADL Score</td>
											<td>Sub Acute: -  Chronic: -</td>
											<td>Tarif Rumah Sakit</td>
											<td>Rp. {{klaim.tarif_rs | number: '.2-2'}}</td>
										</tr>
										<tr>
											<td>DPJP</td>
											<td>RUDY, DR</td>
											<td>Jenis Tarif</td>
											<td>{{displayJenisTarif}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-12">
									<b>Diagnosa (ICD-10)</b>
									<br>
									<ul class="list-group">
										<li class="list-group-item">
											<span>Open Wound of Hip S71.0</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<b>Prosedur (ICD-9-CM)</b>
									<br>
									<ul class="list-group">
										<li class="list-group-item">
											<span>Partial hip replacement 81.52</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<table class="table">
									<tbody>
										<tr>
											<td>Jenis Rawat</td>
											<td>Rawat Jalan</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>Group</td>
											<td>PROSEDUR PADA SENDI TUNGKAI BAWAH</td>
											<td>M-1-04-II</td>
											<td>Rp. 47119400</td>
										</tr>
										<tr>
											<td>Sub Acute</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>Chronic</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>Special Procedure</td>
											<td>Hip Replacement / knee replacement</td>
											<td>YY-01-II</td>
											<td>Rp. 13099000</td>
										</tr>
										<tr>
											<td>Special Prosthesis</td>
											<td>Hip Implant / knee implant</td>
											<td>RR-4-III</td>
											<td>Rp. 26197900</td>
										</tr>
										<tr>
											<td>Special Investigation</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>Special Drug</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td><b>Tarif Klaim</b></td>
											<td>Rp. {{klaim.tarif | number: '.2-2'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="offset-md-6 col-md-6">
							<button class="btn btn-danger" (click)="goBack()">Kembali</button>
							<button class="btn btn-primary" [routerLink] = "['/pembayaran', klaim.id_pembayaran]">Lihat Pembayaran</button>
							<button class="btn btn-primary" [routerLink] = "['/transaksi', klaim.id_transaksi]">Lihat Transaksi</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>