<html>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Informasi Klaim
					</h4>
				</div>
				<div class="row" *ngIf="loading">
					<div class="col-md-12">
						<div class="d-flex justify-content-center">
							<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i>
						</div>
					</div>
				</div>
				<div *ngIf="klaim && !loading" class="card-block">
					<div class="row">
						<div class="col-md-12">
							<p>Nama Pasien &nbsp; : {{klaim.asuransi.pasien.nama_pasien}}</p>
							<br>
							<p>Nama Asuransi &nbsp; : {{klaim.asuransi.nama_asuransi.toUpperCase()}}</p>
							<br>
							<p>Nomor Kartu &nbsp; : {{klaim.asuransi.no_kartu}}</p>
							<br>
							<p>Waktu Klaim &nbsp; : {{klaim.created_at}}</p>
							<br>
							<p>Status Klaim &nbsp; : {{klaim.status.toUpperCase()}}</p>
						</div>
					</div>
					<div *ngIf="klaim.status === 'error'" class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-block">
									Error No: E2003
									<br>
									Message : Nomor SEP Terduplikasi
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="klaim.asuransi.nama_asuransi == 'bpjs'" class="row">
						<div class="col-md-12">
							<div class="row">
								<table class="table">
									<tbody>
										<tr>
											<td>Jenis Rawat:</td>
											<td *ngIf="klaim.pembayaran.transaksi.jenis_rawat === 2">Jalan</td>
											<td *ngIf="klaim.pembayaran.transaksi.jenis_rawat === 1">Inap</td>
											<td>Kelas Rawat</td>
											<td *ngIf="klaim.pembayaran.transaksi.jenis_rawat === 2">Reguler</td>
											<td *ngIf="klaim.pembayaran.transaksi.jenis_rawat === 1">Kelas {{klaim.pembayaran.transaksi.kelas_rawat}}</td>
										</tr>
										<tr>
											<td>Tanggal Rawat: </td>
											<td>Masuk: {{status_klaim.tgl_masuk}} Pulang: {{status_klaim.tgl_pulang}}</td>
											<td>Berat Lahir (gr)</td>
											<td>{{status_klaim.berat_lahir}}</td>
										</tr>
										<tr *ngIf="klaim.pembayaran.transaksi.jenis_rawat === 1 && status_klaim.upgrade_class_ind === '1'">
											<td>Naik Kelas:</td>
											<td>{{status_klaim.upgrade_class_class}}</td>
											<td>Lama:</td>
											<td>{{status_klaim.upgrade_class_los}} Hari</td>
										</tr>
										<tr>
											<td>LOS (hari)</td>
											<td>{{status_klaim.los}}</td>
											<td>Cara Pulang</td>
											<td *ngIf="status_klaim.discharge_status === 1">Atas Persetujuan Dokter</td>
											<td *ngIf="status_klaim.discharge_status === 2">Dirujuk</td>
											<td *ngIf="status_klaim.discharge_status === 3">Atas Permintaan Sendiri</td>
											<td *ngIf="status_klaim.discharge_status === 4">Meninggal</td>
											<td *ngIf="status_klaim.discharge_status === 5">Lain-lain</td>
										</tr>
										<tr>
											<td>ADL Score</td>
											<td>Sub Acute: {{status_klaim.adl_sub_acute}}  Chronic: {{status_klaim.adl_chronic}}</td>
											<td>Tarif Rumah Sakit</td>
											<td>Rp. {{status_klaim.tarif_rs | number: '.2-2'}}</td>
										</tr>
										<tr>
											<td>DPJP</td>
											<td>{{status_klaim.nama_dokter}}</td>
											<td>Jenis Tarif</td>
											<td>{{displayJenisTarif}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div *ngIf="listDiagnosis.length > 0" class="row">
								<div class="col-md-12">
									<b>Diagnosa (ICD-10)</b>
									<br>
									<ul class="list-group">
										<li *ngFor="let diagnosis of listDiagnosis" class="list-group-item">
											<span>{{diagnosis.nama}} {{diagnosis.kode}}</span>
										</li>
									</ul>
								</div>
							</div>
							<div *ngIf="listTindakan.length > 0" class="row">
								<div class="col-md-12">
									<b>Prosedur (ICD-9-CM)</b>
									<br>
									<ul class="list-group">
										<li *ngFor="let tindakan of listTindakan" class="list-group-item">
											<span>{{tindakan.nama}} {{tindakan.kode}}</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="row" *ngIf="grouping">
								<table class="table">
									<tbody>
										<tr>
											<td>Group</td>
											<td>{{status_klaim.grouper.response.cbg.description}}</td>
											<td>{{status_klaim.grouper.response.cbg.code}}</td>
											<td class="text-right">Rp. {{status_klaim.grouper.response.cbg.tariff | number: '.2-2'}}</td>
										</tr>
										<!-- <tr>
											<td>Special Procedure</td>
											<td>Hip Replacement / knee replacement</td>
											<td>YY-01-II</td>
											<td>Rp. 13099000</td>
										</tr>
										<tr>
											<td>Special Prosthesis</td>
											<td>Hip Implant / knee implant</td>
											<td>RR-4-III</td>
											<td>Rp. 26197900</td>
										</tr>
										<tr>
											<td>Special Investigation</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>Special Drug</td>
											<td></td>
											<td></td>
											<td></td>
										</tr> -->
										<tr>
											<td></td>
											<td></td>
											<td><b>Tarif Klaim</b></td>
											<td class="text-right">Rp. {{status_klaim.grouper.response.cbg.tariff | number: '.2-2'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="offset-md-6 col-md-6">
							<button class="btn btn-danger" (click)="goBack()">Kembali</button>
							<button class="btn btn-primary" [routerLink] = "['/pembayaran', klaim.id_pembayaran]">Lihat Pembayaran</button>
							<button class="btn btn-primary" [routerLink] = "['/transaksi', klaim.pembayaran.transaksi.id]">Lihat Transaksi</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>