<html lang="en">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Histori Transaksi
					</h4>
				</div>
				<div class="card-block">
					<div class="form-group">
						<label for="search">Cari Transaksi</label> <br>
						<div class="input-group">
							<input type="text" class="form-control" id="searchKode" [(ngModel)]="kode_pasien" placeholder="Kode Pasien" (keyup.enter)="searchTransaksi()">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button" (click)="searchTransaksi()">Cari</button>
							</span>
						</div>
					</div>
					<div>
						<table class="table" [mfData]="allTransaksi" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
							<tbody>
								<tr>
									<td>
										<div class="col-md-12 input-group">
											<input type="text" class="form-control" [(ngModel)]="searchKode" placeholder="Kode Pasien">
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group">
											<input type="text" class="form-control" [(ngModel)]="searchParam" placeholder="Nama Pasien">
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group" id="datetimepicker">
												<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" [theme]="'dp-material'" placeholder="Tanggal Transaksi">
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group">
											<select class="form-control" [(ngModel)]="jenis" id="jenisDropdown">
												<option *ngFor="let jenis of allJenis">
													{{jenis.toUpperCase()}}
												</option>
											</select>
										</div>
									</td>
									<td></td>
								</tr>
								<tr>
									<th><mfDefaultSorter by="kode_pasien">Kode Pasien</mfDefaultSorter></th>
									<th><mfDefaultSorter by="nama_pasien">Nama Pasien</mfDefaultSorter></th>
									<th><mfDefaultSorter by="waktu_masuk_pasien">Waktu Transaksi</mfDefaultSorter></th>
									<th>Jenis Pasien</th>
									<th></th>
								</tr>
								<tr *ngFor="let transaksi of mf.data | matchesStatus: status | filterNamaPasien: searchParam | filterTanggal: selectedDate | filterJenisPasien: jenis">
									<td *ngIf="transaksi.pasien">{{transaksi.pasien.kode_pasien}}</td>
									<td *ngIf="transaksi.pasien">{{transaksi.pasien.nama_pasien}}</td>
									<td *ngIf="transaksi.pasien">{{transaksi.waktu_masuk_pasien | date: 'dd/MM/y HH:mm'}}</td>
									<td *ngIf="transaksi.pasien">{{transaksi.asuransi_pasien.toUpperCase()}}</td>
									<td *ngIf="transaksi.pasien"><button type="button" class="btn btn-primary" [routerLink] = "['/transaksi', transaksi.id]">Details</button></td>

									<td *ngIf="!transaksi.pasien"></td>
									<td *ngIf="!transaksi.pasien">{{transaksi.nama}}</td>
									<td *ngIf="!transaksi.pasien">{{transaksi.created_at | date: 'dd/MM/y HH:mm'}}</td>
									<td *ngIf="!transaksi.pasien">EKSTERNAL</td>
									<td *ngIf="!transaksi.pasien"><button type="button" class="btn btn-primary" [routerLink] = "['/transaksi-eksternal', transaksi.id]">Details</button></td>
								</tr>
							</tbody>
							<tfoot>
				                <tr>
				                    <td colspan="7">
				                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
				                    </td>
				                </tr>
			                </tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>