<html lang="en">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Daftar Transaksi
					</h4>
				</div>
				<div class="card-block">
					<div>
						<table class="table" [mfData]="allTransaksi" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
							<tbody>
								<tr>
									<th><mfDefaultSorter by="nama_pasien">Nama Pasien</mfDefaultSorter></th>
									<th><mfDefaultSorter by="tanggal">Tanggal Transaksi</mfDefaultSorter></th>
									<th>Status Transaksi</th>
									<th>Jenis Pasien</th>
									<th></th>
								</tr>
								<tr>
									<td>
										<div class="col-md-12 input-group">
											<input type="text" class="form-control" [(ngModel)]="searchParam" placeholder="Nama Pasien">
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group" id="datetimepicker">
												<input [dpDayPicker]="config" [(ngModel)]="selectedDate" class="form-control" theme="dp-material" placeholder="Tanggal Transaksi">
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group">
											<select class="form-control custom-select" [(ngModel)]="status" id="statusDropdown">
												<option></option>
												<option selected>OPEN</option>
												<option>CLOSED</option>
											</select>
										</div>
									</td>
									<td>
										<div class="col-md-12 input-group">
											<select class="form-control" [(ngModel)]="jenis" id="jenisDropdown">
												<option *ngFor="let jenis of allJenis">
													{{jenis.toUpperCase()}}
												</option>
											</select>
										</div>
									</td>
									<td></td>
								</tr>
								<tr *ngFor="let transaksi of mf.data | matchesStatus: status | filterNamaPasien: searchParam | filterTanggal: selectedDate | filterJenisPasien: jenis">
									<td>{{transaksi.pasien.nama_pasien}}</td>
									<td>{{transaksi.waktu_masuk_pasien | date: 'dd/MM/y HH:mm'}}</td>
									<td>{{transaksi.status.toUpperCase()}}</td>	
									<td>{{transaksi.asuransi_pasien.toUpperCase()}}</td>
									<td><button type="button" class="btn btn-primary" [routerLink] = "['/transaksi', transaksi.id]">Details</button></td>
								</tr>
							</tbody>
							<tfoot>
				                <tr>
				                    <td colspan="7">
				                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
				                    </td>
				                </tr>
			                </tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>