<html lang="en">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-info mb-3">
					<h4>
						<i class="fa fa-money" aria-hidden="true"></i> Daftar Transaksi
					</h4>
				</div>
				<div class="card-block">
					<div class="form-group">
						<label for="search">Cari Transaksi Berdasarkan Nama Pasien</label> <br>
						<div class="input-group">
							<input type="text" class="form-control" id="searchKode" [(ngModel)]="nama_pasien" placeholder="Nama Pasien" (keyup.enter)="searchTransaksi()">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button" (click)="searchTransaksi()">Cari</button>
							</span>
						</div>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">Filter Kode Pasien</span>
							<input [(ngModel)]="kode" type="text" class="form-control" placeholder="Kode Pasien" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="row" *ngIf="loading">
						<div class="col-md-12">
							<div class="d-flex justify-content-center">
								<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i>
							</div>
						</div>
					</div>
					<div *ngIf="cari && !loading">
						<table class="table" [mfData]="allTransaksi" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
							<tbody>
								<tr>
									<th><mfDefaultSorter by="kode_pasien">Kode Pasien</mfDefaultSorter></th>
									<th><mfDefaultSorter by="nama_pasien">Nama Pasien</mfDefaultSorter></th>
									<th><mfDefaultSorter by="waktu_masuk_pasien">Waktu Transaksi</mfDefaultSorter></th>
									<th></th>
								</tr>
								<tr *ngFor="let transaksi of mf.data | filterKodePasien: kode">
									<td class="text-left">{{transaksi.pasien.kode_pasien}}</td>
									<td class="text-left">{{transaksi.pasien.nama_pasien}}</td>
									<td class="text-left">{{transaksi.waktu_masuk_pasien | date: 'dd/MM/y HH:mm'}}</td>
									<td *ngIf="!transaksi_obat"><button type="button" class="btn btn-primary" [routerLink] = "['/transaksi', transaksi.id]">Details</button></td>
									<td *ngIf="transaksi_obat"><button type="button" class="btn btn-primary" [routerLink] = "['/transaksi-obat', transaksi.id]">Details</button></td>
								</tr>
							</tbody>
							<tfoot>
				                <tr>
				                    <td colspan="7">
				                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
				                    </td>
				                </tr>
			                </tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>