<html>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-info mb-3">
				<h4>
					<i class="fa fa-gear" aria-hidden="true"> Settings</i> 
				</h4>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-12 form-group">
						<label for="coder_nik">NIK Coder</label>
						<input type="text" class="form-control" id="coder_nik" [(ngModel)]="settings.coder_nik">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label for="tarif">Tarif RS</label>
						<input type="text" class="form-control" id="tarif" [(ngModel)]="settings.tarif_rs">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label for="kode_tarif">Kode Tarif RS</label>
						<input type="text" class="form-control" id="kode_tarif" [(ngModel)]="settings.kd_tarif_rs">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label for="vip_add_pct">Added Value for VIP (in %)</label>
						<input type="text" class="form-control" id="vip_add_pct" [(ngModel)]="settings.add_payment_pct">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-success" (click)="save()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>